<a class="editsavebtn" routerLink="/admin/lovs">Go Back</a>
<h1 class="lov-heading">{{tableName.split('_').join(' ') | titlecase }}</h1>
<input type="text" class="lov-search" #searchInp placeholder="Search" tabindex="1" (input)="search($event)" [(ngModel)]="searchKey" />&nbsp;&nbsp; &nbsp;
<button type="button" class="editsavebtn" (click)="add()">{{isAdd ? 'Close': 'Add New'}}</button> &nbsp;&nbsp; &nbsp;
<button type="button" class="editsavebtn" (click)="refresh()">Refresh Data</button>

<div class="add-form" *ngIf="isAdd">
  <form (ngSubmit)="submitForm(addForm)" #addForm="ngForm">

    <div class="admin-col-half">

      <label for="assessment">Select Assessment Methodology</label>
      <select id="assessment" name="assessmentId" [ngModel]="selectedAssessment.id" (ngModelChange)="assessmentChanged($event)">
        <option *ngFor="let z of assessments;" [value]="z.id">{{z.description}}</option>
      </select>
  
      <label for="docCategory">Select Document Category</label>
      <select id="docCategory" name="docCategoryId" [ngModel]="selectedDocumentCategory.id" (ngModelChange)="docCategoryChanged($event)">
        <option *ngFor="let c of documentCategories;" [value]="c.id">{{c.description}}</option>
      </select>

      <label for="docType">Select Document Type</label>
      <select id="docType" name="docTypeId" [ngModel]="selectedDocType.id" (ngModelChange)="docTypeChanged($event)">
        <option *ngFor="let c of docTypes;" [value]="c.id">{{c.description}}</option>
      </select>

      <label for="profile">Select Profile</label>
      <select id="profile" name="profileId" [ngModel]="selectedProfile.id" (ngModelChange)="profileChanged($event)">
        <option *ngFor="let c of profiles;" [value]="c.id">{{c.description}}</option>
      </select>

      <label>Is Financial Applicant</label>
      <br/>
      <input [(ngModel)]="financialApplicant" value="1" type="radio" class="genders" name="financialApplicant" /><label>Yes</label>
      <input [(ngModel)]="financialApplicant" value="0" type="radio" class="genders" name="financialApplicant" /><label>No</label>

      <br/>
      <br/>

      <label>Is Individual/Non-Individual</label>
      <br/>
      <input [(ngModel)]="applicantType" value="1" type="radio" class="genders" name="applicantType" /><label>Individual</label>
      <input [(ngModel)]="applicantType" value="2" type="radio" class="genders" name="applicantType" /><label>Non-Individual</label>

      <br/>

      <button type="submit" class="saveBtn">Save</button>
    </div>

    <!-- <div class="admin-col-half">
      <label for="description">Description</label>
      <input type="text" class="descvalue" [(ngModel)]="description" id="description" name="description" ngModel />
  
      <label for="value">Value</label>
      <input type="text" class="descvalue" [(ngModel)]="value" id="value" name="value" ngModel />

    </div> -->

  </form>
</div>

<!-- <input type="text" class="lov-search" placeholder="Search" (input)="search($event)" /> -->
<div class="zipcode-table-wrapper">

  <table class="admin-table">
    <thead>
      <tr>
        <th style="width:60px;">Sr No.</th>
        <th>Applicant Type</th>
        <th>Assessment</th>
        <th>Document Category</th>
        <th>Document Type</th>
        <th>Profile</th>
        <th>Financial Applicant</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data | paginate:{itemsPerPage: perPage, currentPage: currentPage, totalItems: totalElements};let i=index;">
        <td style="width:60px;" >{{key[i]}}</td>
        <td>
          <form>
            <input (click)="changeIsIndividual($event, i)" value="1" [checked]="d.applicantTypeId == '1'" type="radio" class="genders" name="isIndividual" /><label>Individual</label>
            <br/>
            <input (click)="changeIsIndividual($event, i)" value="2" [checked]="d.applicantTypeId == '2'" type="radio" class="genders" name="isIndividual" /><label>Non-Individual</label>
          </form>
        </td>
        <td>
          <select name="assessment" [ngModel]="d.assessmentId" (ngModelChange)="tableAssessmentChanged($event, i)">
            <option *ngFor="let c of assessments;" [value]="c.id">{{c.description}}</option>
          </select>
        </td>
        <td>
          <select name="docCategory" [ngModel]="d.docCategoryId" (ngModelChange)="tableDocCategoryChanged($event, i)">
            <option *ngFor="let c of documentCategories;" [value]="c.id">{{c.description}}</option>
          </select>
        </td>
        <td>
          <select name="docType" [ngModel]="d.docTypeId" (ngModelChange)="tableDocTypeChanged($event, i)">
            <option *ngFor="let c of docTypes;" [value]="c.id">{{c.description}}</option>
          </select>
        </td>
        <td>
          <select name="profile" [ngModel]="d.profileId" (ngModelChange)="tableProfileChanged($event, i)">
            <option *ngFor="let c of profiles;" [value]="c.id">{{c.description}}</option>
          </select>
        </td>
        <td>
          <form>
            <input (click)="changeRadio($event, i)" value="1" [checked]="d.financialApplicant == true" type="radio" class="genders" name="financialApplicant" /><label>Yes</label>
            <br/>
            <input (click)="changeRadio($event, i)" value="0" [checked]="d.financialApplicant == false" type="radio" class="genders" name="financialApplicant" /><label>No</label>
          </form>
        </td>
        <td>
          <button type="button" class="editsavebtn" (click)="update(i)">Save</button>
        </td>
        <td>
          <button type="button" class="editsavebtn" (click)="delete(i)">Delete</button>
        </td>
      </tr>
     <!-- <tr>
        <td><button type="button" class="editsavebtn" *ngIf="currentPage != totalPages" (click)="loadMore()">Load More</button></td>
      </tr> -->
    </tbody>
  </table>

  

  <div class="pagination-wrapper">
    <!-- <ul>
      <li class="pagination" *ngIf="currentPage != 1">
        <a class="pagination-link">&lt;</a>
      </li>
      <li class="pagination" *ngFor="let page of counter(perPageCount);let i=index">
        <a class="pagination-link">{{i+1}}</a>
      </li>
      <li class="pagination" *ngIf="currentPage == totalPages">
        <a class="pagination-link">&gt;</a>
      </li>
    </ul> -->
    <div class="pagination">
      
    </div>
  </div>
</div>
<pagination-controls  (pageChange)="pageChanged($event)" class="pagination" autoHide="true" ></pagination-controls>