<header>
        <div class="bs-header" data-nav="dashboard">
            <!-- header start -->
            <div class="sec-nav">
                <div class="logo">
                    <h1>
                        <a routerLink="/leads">
                            <img src="assets/images/logo.svg" alt="logo" class="img-responsive" />
                        </a>
                    </h1>
                </div>
                <div class="right-panel">
                    <h2 style="color: #db6024;font-weight: bold;font-size: small;" ><span class="name">Last Login</span>
                        <br>
                        <h3><span class="name">{{lastLoginDateTime | date: 'medium': 'GMT'  | uppercase}}</span></h3>
                        <!-- {{lastLoginDateTime}} -->
                    </h2>
                    
                    <a [routerLink]="navigationString" *ngIf="isAdmin" class="space btn btn-default logout">Go to Admin</a>
                    <a (click)="logout()" *ngIf="isLogoutVisible" class="space btn btn-default logout">Logout</a>
                    
                </div>
            </div>
            
            <!-- header end -->
        </div>
      </header>
 
          
