<div class="space-10 container_box ul_align pmay add_app">
    <div class="main_div">
        <div class="space-12">
            <h3 class="PMAY">Additional Application Form PMAY CLSS <span class="mandatory">* </span></h3>
        </div>
    </div>
    <div class="main_div">
        <div class="space-9">
            <div class="space-12 d-f">
                <div class="space-4">ELIGIBLE PRODUCT - </div>
                <!-- Construction/ Prochase of House Flat/ Resale Purchase/ Extension Improvement / Plot + Construction -->
                <div class="space-8">Construction/ Prochase of House Flat/ Resale Purchase/ Extension Improvement / Plot + Construction</div>
            </div>
        </div>
        <div class="space-3 text-right"><span class="mandatory">*</span> All Fields Mandatory</div>
    </div>
    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                1. Applicant Name <span class="font-color">(HEAD OF FAMILY)</span>
            </div>

        </div>
        <div class="space-8">

            <div class="values">
                {{qde.application.applicants[0].personalDetails.title}} {{qde.application.applicants[0].personalDetails.firstName}} {{qde.application.applicants[0].personalDetails.middleName}} {{qde.application.applicants[0].personalDetails.lastName}}
            </div>
        </div>
    </div>

    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                2. Father's Name
            </div>

        </div>
        <div class="space-8">

            <div class="values">
                {{qde.application.applicants[0].familyDetails.fatherTitle}} {{qde.application.applicants[0].familyDetails.fatherName}}
            </div>
        </div>

    </div>

    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                3. Whether the family owns any house ?
            </div>
            <P class="m-0">a. If yes, then location details</P>
            <ol class="upper-roman">
                <li>Locality</li>
                <li>City</li>
                <li>State</li>
            </ol>

        </div>
        <div class="space-8">

            <div class="values">
                {{(qde.application.applicants[0].communicationAddress.residentialStatus == 'Owned')?'Yes':'No'}}<br/><br/>
                <div *ngIf="qde.application.applicants[0].communicationAddress.residentialStatus == 'Owned'">
                    {{qde.application.applicants[0].communicationAddress.addressLineOne}}
                    <br/> 
                    {{qde.application.applicants[0].communicationAddress.city}}
                    <br/> {{qde.application.applicants[0].communicationAddress.state}} - {{qde.application.applicants[0].communicationAddress.zipcode}} <br/>
                </div>
                <div *ngIf="qde.application.applicants[0].communicationAddress.residentialStatus != 'Owned'">
                    ______________________
                    <br/>______________________<br/>______________________
                </div>
            </div>
        </div>

    </div>

    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                4. Whether the family owns any residential land
            </div>
            <P class="m-0 pr-2">If yes , then extent of land in Sq. Mtrs</P>
        </div>
        <div class="space-8">
            <ul class="m-0">
                <li>Yes&nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;No &nbsp;<input class="click" value="" disabled/></li>
                <li class="m-t-15">_________________________________________</li>
            </ul>
        </div>
    </div>

    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                5. Ownership details of existing house
            </div>
        </div>
        <div class="space-8">
            <ul class="m-0">
                <!-- <li>Own &nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp; Rented &nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp; Otherwise&nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;(if owned provide below
                    details)
                </li> -->
                {{qde.application.applicants[0].communicationAddress.residentialStatus}}
            </ul>
        </div>
    </div>

    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                6. Type of the existing house based on roof type
            </div>
        </div>
        <div class="space-8">
            <ul class="m-0">
                <li>Pucca (CC & Stone Slab) &nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp;<br />Semi Pucca (Asbestos / Steel Sheet, Tiled)&nbsp;&nbsp;&nbsp;<input class="click" value="" disabled/> &nbsp;<br /> Katcha (Grass / Thatched /
                    Tarpaulin / Wooden)&nbsp;<input class="click" value="" disabled/> &nbsp;</li>
            </ul>
        </div>

    </div>


    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                7. Purpose of housing loan
            </div>
        </div>
        <div class="space-8">
            <ul class="m-0">
                <!-- <li>New House&nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp;Construction&nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp;Extension&nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp;Improvement&nbsp;<input
                        class="click" value="" disabled/> &nbsp;</li> -->
                {{qde.application.loanDetails.loanAmount.loanPurpose}}
            </ul>
        </div>

    </div>

    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                8. Extension / Improvement (if applicable) required for
            </div>
        </div>
        <div class="space-8">
            <ul class="m-0">
                <li>One room&nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp;Kitchen&nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp;Bath&nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp;Toilet&nbsp;<input class="click"
                        value="" disabled/> &nbsp;</li>
            </ul>
        </div>
    </div>

    <div class="main_div">
        <div class="space-4">
            <div class="fields icici-col-high">
                9. Size of new dwelling unit (Carpet area in sq.mtrs.)
            </div>
        </div>
        <div class="space-8">
            {{(qde.application.loanDetails.propertyType.propertyIdentified)? (qde.application.loanDetails.propertyType.propertyArea): '_______________'}}
            <!-- <hr> -->
        </div>
    </div>


    <div class="main_div">
        <div class="space-6 d-f">
            <div class="space-6 p-0 fields icici-col-high">
                10.Aadhar Card - Applicant&nbsp;
            </div>
            <div class="space-6 p-0 values">
                <hr>
            </div>
        </div>
        <div class="space-6 d-f">
            <div class="space-6 p-0 fields icici-col-high">
                Pan Card - Applicant
            </div>
            <div class="space-6 p-0 values">
                <!-- <hr> -->
                {{qde.application.applicants[0].pan.panNumber}}
            </div>
        </div>
    </div>

    <div class="main_div">
        <div class="space-6 d-f">
            <div class="space-6 p-0 fields icici-col-high" style="padding-left: 5px;">

                &nbsp;&nbsp;Aadhar Card - Co-Applicant&nbsp;
            </div>
            <div class="space-6 p-0 values">
                <hr>
            </div>
        </div>
        <div class="space-6 d-f">
            <div class="space-6 p-0 fields icici-col-high">Pan Card - Co-Applicant</div>
            <div class="space-6 p-0 values">
                <hr>
            </div>
        </div>
    </div>

    <div class="main_div">
        <div class="space-12">
            <div class="fields icici-col-high">
                11. Beneficiary Family Details (Spouse & Unmarried children of applicant & Co-applicant)
            </div>
            <div class="values">

            </div>
        </div>
    </div>
    <div class="main_div">
        <div class="space-12">
            <table class="pmay_table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Relationship with <br>Applicant</th>
                        <th>Gender <br><span class="font-color">(Male, Female, Third Gender)</span></th>
                        <th>Date of Birth <br><span class="font-color">(DD-MM-YYYY)</span></th>
                        <th>Aadhar UID</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="main_div">
        <div class="space-12 fields icici-col-high">
            12. Preferred component of Mission under which beneficiary needs assistance under PMAY – CLSS (U)
        </div>
        <div class="space-12">
            Gross Household Annual Family Income:&nbsp; ₹{{familIncome}}
            <!-- ₹{{(qde.application.applicants[0].incomeDetails.annualFamilyIncome)*12}} -->
        </div>
        <!-- <div class="space-6">
            <hr>
        </div> -->

    </div>
    <div class="main_div">
        <div class="space-2">
            Credit linked subsidy Category
        </div>
        <div class="space-10">
            <ul class="m-0">
                <li>EWS&nbsp;<input class="click" value="" disabled/> &nbsp; &nbsp;&nbsp; UG&nbsp;<input class="click" value="" disabled/> &nbsp; &nbsp;&nbsp; MIG – I &nbsp;<input class="click" value="" disabled/> &nbsp;&nbsp;&nbsp;MIG – II&nbsp;<input class="click"
                        value="" disabled/> &nbsp;</li>
            </ul>
        </div>
    </div>

    <div class="main_div">
        <div class="space-12 mt-2 mb-2">
            Declaration: I/We hereby confirm and declare that the information mentioned herein above is true and correct. I/We hereby confirm that I have read and understood the PMAY (U) CLSS scheme guidelines, further I am aware that only by executing this declaration
            the PMAY Scheme shall not be applicable to me. The benefit of the scheme shall be applicable only if the conditions stipulated in the scheme guideline is duely complied by me and on satisfactory compliance, approval by the Nodal agency the
            subsidy under the scheme shall be credited in my home loan account by ICICI HFC. I/we also agree that in case of rejection due to misrepresentation of the facts, I/We shall be solely responsible for the same.
        </div>
    </div>
    <div class="main_div mt-15">
        <div class="space-6 mt-5">
            <strong>Signature / Thumb Impression of Applicant/Head of Household</strong>
        </div>
        <div class="space-6 text-center">
            ______________________<br>Signature<br />
            <input class="click" value="D" disabled><input class="click" value="D" disabled>-<input class="click" value="M" disabled><input class="click" value="M" disabled>-<input class="click" value="Y" disabled>
            <input class="click" value="Y" disabled><input class="click" value="Y" disabled><input class="click" value="Y" disabled>
        </div>
    </div>
    <div class="main_div">
        <div class="space-12">
            <p class="align-right"><span class="mandatory">*</span>Mandatory Fields</p>
        </div>
    </div>

</div>