<header>
  <div class="bs-header" data-nav="dashboard">
      <div class="sec-nav">
          <div class="logo">
              <h1>
                  <a><img src="assets/images/logo.svg" alt="logo" class="img-responsive"></a>
              </h1>
          </div>
          <div class="right-panel">
            <h3 class="for-user">Application for <span class="user-name">{{userName}}</span>
              <h5 class="for-user header_reference_no" ><span class="user-name">{{ocsNumber}}</span></h5>
            </h3>          
          </div>
      </div>
  </div>
</header>
<main>
  <div class="main">
      <div class="lyt-box typ2">
          <span class="thumb-icon"></span>
          <div class="title-desc typ-center">
              <h3 class="box-title">Payment Successful!</h3>
              <p class="desc typ2">We need more time to process your eligibility. </p>
          </div>
          <div class="cont typ-center">

              <div class="desc">
                  <p class="cm-thin">Thank you for your loan application. Our representative will contact you shortly</p>

              </div>

          </div>
      </div>
      <span class="cm-breath"></span>
  </div>

  
</main>