<a class="editsavebtn" routerLink="/admin/lovs">Go Back</a>
<h1 class="lov-heading">{{tableName.split('_').join(' ') | titlecase }}</h1>
<input *ngIf="isLoanMaster" type="text" class="lov-search" #searchInp placeholder="Search Loan Master" tabindex="1" (input)="search($event)" />
<input *ngIf="isLoginFee" type="text" class="lov-search" #searchInp placeholder="Search Login Fee" tabindex="1" (input)="search($event)" />
<button type="button" class="editsavebtn" (click)="add()">{{isAdd ? 'Close': 'Add New'}}</button>
<button type="button" class="editsavebtn" (click)="refresh()">Refresh Data</button>

<div class="add-form" *ngIf="isAdd">
  <form (ngSubmit)="submitForm(addForm)" #addForm="ngForm">

    <div class="admin-col-half">

      <label *ngIf="isLoanMaster" for="rateOfInterest">Rate of Interest</label>
      <input *ngIf="isLoanMaster" id="rateOfInterest" type="text" [(ngModel)]="rateOfInterest" name="rateOfInterest" (input)="checkDecimals($event)" [maxlength]="(2+(minMaxValues['Rate_Of_Interest_Decimal']?.maxLength))" />
      <span *ngIf="isAdd && isLoanMaster && invalidFeedback" class="redalert"><br>Invalid Rate Of Interest. Kindly ensure there are minimum 1 but not greater 2 numbers before and after the decimal</span>

      <label *ngIf="isLoanMaster" for="baseAmount">Base Amount</label>
      <input *ngIf="isLoanMaster" id="baseAmount" type="text" [(ngModel)]="baseAmount" name="baseAmount" pattern="^[0-9]*$" />

      <label *ngIf="isLoginFee" for="baseFee">Base Fee</label>
      <input *ngIf="isLoginFee" id="baseFee" type="text" [(ngModel)]="baseFee" name="baseFee" pattern="^[0-9]*$" />

      <label *ngIf="isLoginFee" for="taxApplicable">Tax Applicable</label>
      <input *ngIf="isLoginFee" id="taxApplicable" type="text" [(ngModel)]="taxApplicable" name="taxApplicable" (input)="checkDecimals($event)" maxlength="5" />
      <span *ngIf="isAdd && isLoginFee && invalidFeedback" class="redalert"><br>Invalid Tax. Kindly ensure there are minimum 1 but not greater 2 numbers before and after the decimal</span>

      <label *ngIf="isLoginFee" for="variableFee">Variable Fee</label>
      <input *ngIf="isLoginFee" id="variableFee" type="text" [(ngModel)]="variableFee" name="variableFee" pattern="[0-9]+(\.[0-9]{0,2})?%?" />

      <label for="loan_type">Select Loan Type</label>
      <select id="loan_type" name="loanType" [ngModel]="selectedLoanTypeData.id" (ngModelChange)="loanTypeChanged($event)">
        <option *ngFor="let z of loanTypeData;" [value]="z.id">{{z.description}}</option>
      </select>

      <button type="submit" class="saveBtn" [disabled]="invalidFeedback" [ngClass]="{'disabled': invalidFeedback}">Save</button>
    </div>

    <!-- <div class="admin-col-half">
      <label for="description">Description</label>
      <input type="text" class="descvalue" [(ngModel)]="description" id="description" name="description" ngModel />
  
      <label for="value">Value</label>
      <input type="text" class="descvalue" [(ngModel)]="value" id="value" name="value" ngModel />

    </div> -->

  </form>
</div>

<!-- <input type="text" class="lov-search" placeholder="Search" (input)="search($event)" /> -->
<div class="zipcode-table-wrapper">

  <table class="admin-table">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th *ngIf="isLoanMaster">Rate of Interest</th>
        <th *ngIf="isLoanMaster">Base Amount</th>
        <th *ngIf="isLoginFee">Base Fee</th>
        <th *ngIf="isLoginFee">Tax Applicable</th>
        <th *ngIf="isLoginFee">Variable Fee</th>
        <th>Loan Type</th>
        <th>Edit/Save</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data | paginate: { itemsPerPage: perPage, currentPage: currentPage, totalItems: totalElements  };let i=index;">
        <td>{{i+1}}</td>
        <td *ngIf="isLoanMaster">
          <form>
            <input id="tablerateOfInterest" type="text" [(ngModel)]="d.rateOfInterest" name="rateOfInterest" #rateOfInterest="ngModel" pattern="^[0-9]?[0-9]?(\.[0-9]{1,2})?$" (input)="checkDecimals1($event)" maxlength="5" />
            <span *ngIf="(rateOfInterest.touched || rateOfInterest.dirty) && rateOfInterest.errors?.pattern" class="redalert">Invalid Rate Of Interest. Kindly ensure there are minimum 1 but not greater 2 numbers before and after the decimal</span>
          </form>
        </td>
        <td *ngIf="isLoanMaster">
          <form>
            <input id="tablebaseAmount" type="text" [(ngModel)]="d.baseAmount" name="baseAmount" pattern="^[0-9]*$" />
          </form>
        </td>
        <td *ngIf="isLoginFee">
          <form>
            <input id="tablebasefee" type="text" [(ngModel)]="d.baseFee" name="baseFee" pattern="^[0-9]*$" />
          </form>
        </td>
        <td *ngIf="isLoginFee">
          <form>
            <input id="tabletaxapplicable" type="text" [(ngModel)]="d.taxApplicable" name="taxApplicable" #taxApplicable="ngModel" pattern="^[0-9]?[0-9]?(\.[0-9]{1,2})?$" (input)="checkDecimals1($event)" maxlength="5" />
            <span *ngIf="(taxApplicable.touched || taxApplicable.dirty) && taxApplicable.errors?.pattern" class="redalert">Invalid Tax. Kindly ensure there are minimum 1 but not greater 2 numbers before and after the decimal</span>
          </form>
        </td>
        <td *ngIf="isLoginFee">
          <form>
            <input id="tablevariablefee" type="text" [(ngModel)]="d.variableFee" name="variableFee" pattern="[0-9]+(\.[0-9]{0,2})?%?" />
          </form>
        </td>
        <td>
          <form>
            <select name="loanType" [ngModel]="d.loanType" (ngModelChange)="tableLoanTypeChanged($event, i)">
              <option *ngFor="let z of loanTypeData;" [value]="z.id">{{z.description}}</option>
            </select>
          </form>
        </td>
        <td>
          <button type="button" class="editsavebtn" (click)="update(i)" [disabled]="invalidFeedback1" [ngClass]="{'disabled': invalidFeedback1}" >Save</button>
        </td>
        <td>
          <button type="button" class="editsavebtn" (click)="delete(i)">Delete</button>
        </td>
      </tr>
      <!-- <tr *ngIf="isLoginFee">
        <td><button type="button" class="editsavebtn" *ngIf="currentPage != totalPages" (click)="loadMore()">Load More</button></td>
      </tr> -->
    </tbody>
  </table>

  

  <div class="pagination-wrapper">
    <!-- <ul>
      <li class="pagination" *ngIf="currentPage != 1">
        <a class="pagination-link">&lt;</a>
      </li>
      <li class="pagination" *ngFor="let page of counter(perPageCount);let i=index">
        <a class="pagination-link">{{i+1}}</a>
      </li>
      <li class="pagination" *ngIf="currentPage == totalPages">
        <a class="pagination-link">&gt;</a>
      </li>
    </ul> -->
    <div class="pagination">
      
    </div>
  </div>
</div>
<pagination-controls  (pageChange)="pageChanged($event)" class="pagination" autoHide="true" ></pagination-controls>
<div class="overlay" [ngClass]="{'active': isErrorModal}">
    <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}">
        <a class="modal-close" (click)="isErrorModal = false"><span class="icon icon-close"></span></a>
        <div class="modal-body">
            <h1>{{errorMsg}}</h1>
            <br><br>
            <div class="btn-wrap">
                <button class="btn btn-border" (click)="isErrorModal = false">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="overlay" [ngClass]="{'active': isConfirmModal}">
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isConfirmModal}">
      <a class="modal-close" (click)="isConfirmModal = false"><span class="icon icon-close"></span></a>
      <div class="modal-body">
          <h1>Are you Sure?</h1>
          <br><br>
          <div class="btn-wrap">
              <button class="btn btn-border" (click)="confirmDelete()">Yes</button>&nbsp;&nbsp;
              <button class="btn btn-border" (click)="isConfirmModal = false">Cancel</button>
          </div>
      </div>
  </div>
</div>