<div class="lyt-tabs">
        <div class="lhs">
            <div class="title-wrap">
                <h4 class="title">Enter applicant’s <span class="cm-line-break"></span>contact details</h4>
                <p class="note">Please capture the primary contact details as these <span class="cm-line-break"></span> will be used for all communication purposes <span class="cm-line-break"></span> between ICICI HFC and main applicant</p>
            </div>
        </div>
        <div class="rhs">
            <form class="bs-form" id="contact-form">
                <div class="form-wrap">
                    <div class="form-group">
                        <input type="text" class="form-control" id="pref-email" data-validation-attr="email" required="">
                        <label for="pref-email">Preferred email ID</label>
                        <span class="alternate-data"><a href="#" class="alter-btn">+ Add</a> alternate email id</span>
                    </div>
                    <div class="form-group typ-alternative">
                        <input type="text" class="form-control" id="alter-email" data-validation-attr="email01">
                        <label for="alter-email">Alternate email ID</label>
                        <span class="alternate-data"><a href="#" class="alter-btn">- Remove</a> alternate email id</span>
                    </div>
                    <div class="form-group typ-mob">
                        <input type="tel" class="form-control" id="mob-no" data-validation-attr="mobileno" maxlength="10" im-insert="true" required="">
                        <label for="mob-no">Mobile number</label>
                        <span class="optional">10 digit</span>
                        <a href="#" class="sent-otp modal-init" data-target="sent-otp-modal"><span class="text">sent OTP</span><span class="icon icon-tick"></span></a>
                        <span class="alternate-data"><a href="#" class="alter-btn">+ Add</a> alternate phone number</span>
                    </div>
                    <div class="form-group typ-alternative typ-mob">
                        <input type="tel" class="form-control" id="alter-mob" data-validation-attr="mobileno01" maxlength="10">
                        <label for="alter-mob">Alternate mobile no</label>
                        <span class="optional">10 digit</span>
                        <a href="#" class="sent-otp modal-init" data-target="sent-otp-modal"><span class="text">sent OTP</span><span class="icon icon-tick"></span></a>
                        <span class="alternate-data"><a href="#" class="alter-btn">- Remove</a> alternate email id</span>
                    </div>
                    <div class="residence-no">
                        <div class="form-group">
                            <input type="text" class="form-control" id="std">
                            <label for="std">STD</label>
                        </div>
                        <span class="seperator">-</span>
                        <div class="form-group">
                            <input type="text" class="form-control" id="res-no" data-validation-attr="residenceno">
                            <label for="res-no">Residence number</label>
                        </div>
                        <span class="alternate-data"><a href="#" class="alter-btn">+ Add</a> alternate phone number</span>
                    </div>
                    <div class="residence-no typ-alternative">
                        <div class="form-group">
                            <input type="text" class="form-control" id="altrstd">
                            <label for="altrstd">STD</label>
                        </div>
                        <span class="seperator">-</span>
                        <div class="form-group">
                            <input type="text" class="form-control" id="altr-res-no" data-validation-attr="residenceno01">
                            <label for="altr-res-no">Residence number</label>
                        </div>
                        <span class="alternate-data"><a href="#" class="alter-btn">- Remove</a> alternate email id</span>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button class="btn btn-primary disabled">Next</button>
                </div>
            </form>
        </div>
    </div>