<app-menubar-header></app-menubar-header>
<main>
  <div class="main">
      <div class="lyt-home">
          <div class="tabs">
              <!-- <ul class="tabs-head" [ngClass]="{'visibilityHidden': (activeTab == 0)}">
                <li class="tab-link pending" [ngClass]="{'active': (activeTab == 1), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(1)">Aadhar Card</a>
                </li>
                <li class="tab-link" [ngClass]="{'active': (activeTab == 2), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(2)">Address Proof</a>
                </li>
                <li class="tab-link" [ngClass]="{'active': (activeTab == 3), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(3)">Income Proof</a>
                </li>
                <li class="tab-link" [ngClass]="{'active': (activeTab == 4), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(4)">Banking</a>
                </li>
                <li class="tab-link" [ngClass]="{'active': (activeTab == 5), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(5)">Collateral</a>
                </li>
                <li class="tab-link" [ngClass]="{'active': (activeTab == 6), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(6)">Customer Photo</a>
                </li>
              </ul> -->
          
              <!-- Upload Documents -->

              <div class="tabs-contents" #tabContents>
                <div class="tab-content" [ngClass]="{'active': (activeTab == 0)}">
                    <!-- <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(panSlider2)"></a> -->
                    <div class="lyt-tabs">
                        <div class="lhs">
                            <div  class="swiper-container form-swiper"
                                  [swiper]="lhsConfig"
                                  #panSlider1="ngxSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="title-wrap">
                                            <h4 class="title">Application<span class="cm-line-break">Completed</span></h4>
                                            <p class="note">Choose a mode of payment to submit this application</p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="rhs">
                                <div  class="swiper-container form-swiper"
                                      [swiper]="rhsConfig"
                                      (slidePrevTransitionStart)="slidePrevTransitionStart(panSlider1)"
                                      (slideNextTransitionStart)="slideNextTransitionStart(panSlider1)"
                                      #panSlider2="ngxSwiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <form class="bs-form">
                                                <div class="form-wrap">
                                                    <div class="bs-radio">
                                                      <!-- <input type="radio" name="payment-radio" id="online" [routerLink]="['/payments/eligibility-check', applicationId]" (click)="submitPaymentForm()"> -->
                                                      <input type="radio" name="payment-radio" id="online" (click)="submitPaymentForm()">
                                                      <label for="online">
                                                          <div class="inner-sect">
                                                              <div class="title">Online</div>
                                                              <p class="desc">A link will be sent to 
                                                                      the customer’s verified 
                                                                      mobile number and 
                                                                      email address. The 
                                                                      customer can then pay 
                                                                      online through any 
                                                                      payment method.</p>
                                                              </div>
                                                      </label>
                                                    </div>
                                                    <div class="bs-radio">
                                                      <input type="radio" name="payment-radio" id="offline" (change)="tabSwitch(1)">
                                                      <label for="offline">
                                                          <div class="inner-sect">
                                                            <div class="title">Offline</div>
                                                            <p class="desc">
                                                                    Agent will collect a 
                                                                    cheque and upload a 
                                                                    photo of it through the 
                                                                    app. A cheque usually 
                                                                    takes 2-3 days to clear. 
                                                            </p>
                                                          </div>
                                                      </label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

              <!-- Aadhar Card -->

                  <div class="tab-content" [ngClass]="{'active': (activeTab == 1)}">
                    <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(panSlider2)"></a>
                    <div class="lyt-tabs">
                        <div class="lhs">
                            <div  class="swiper-container form-swiper"
                                  [swiper]="lhsConfig"
                                  #aadharSlider1="ngxSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="title-wrap">
                                            <h4 class="title">Offline<span class="cm-line-break"></span>Payment</h4>
                                            <p class="note">Enter Cheque Details</p>
                                        </div>
                                    </div>
                                    <!-- <div class="swiper-slide">
                                        <div class="title-wrap">
                                            <h4 class="title">Verify<span class="cm-line-break"></span>Aadhar Card</h4>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <div class="rhs">
                            <div  class="swiper-container form-swiper"
                                  [swiper]="rhsConfig"
                                  (slidePrevTransitionStart)="slidePrevTransitionStart(aadharSlider1)"
                                  (slideNextTransitionStart)="slideNextTransitionStart(aadharSlider1)"
                                  #aadharSlider2="ngxSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                      <form class="bs-form" #chequeForm="ngForm" (ngSubmit)="chequeDetails(chequeForm)">
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="chequeDrawn"
                                                spellcheck="false"
                                                required
                                                #paymentCheckDrawnTo="ngModel"
                                                [(ngModel)]="chequeDrawn"
                                                name="checkDrawnTo"
                                                pattern="{{regexPattern.name}}"
                                                fieldFill>
                                                <label for="chequeDrawn">Cheque drawn to</label>
                                                <div *ngIf="(paymentCheckDrawnTo.touched || paymentCheckDrawnTo.dirty) && paymentCheckDrawnTo.invalid" class="invalid-feedback">
                                                    <div *ngIf="paymentCheckDrawnTo?.errors?.pattern">{{errors.payment.offline.chequeDrawn.invalid}}</div>
                                               </div>
                                            </div>
                                            <div class="form-group">
                                                <span class="control-title">Name of the Bank</span>
                                                <!-- <select class="js-select" name="bankname" aria-placeholder="Name of the bank">                          
                                                        <option value="SBI">SBI</option>
                                                        <option value="HDFC">HDFC</option>
                                                        <option value="Citibank">Citibank</option>
                                                </select>
                                               [(ngModel)]="selectedDocType" -->
                                               <kendo-dropdownlist 
                                               class="form-control" 
                                               name="loanProvider" 
                                               [data]="loanProviderList" 
                                               textField="key" 
                                               valueField="value"
                                               [(ngModel)]="bankName">
                                             </kendo-dropdownlist>
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="ifsc-code"
                                                spellcheck="false"
                                                maxlength="11"
                                                required
                                                name="ifsc"
                                                #ifscCode1="ngModel"
                                                [(ngModel)]="ifscCode"
                                                pattern="{{regexPattern.ifsc}}"
                                                fieldFill>
                                                <label for="ifsc-code">IFSC Code</label>
                                               
                                                <div *ngIf="(ifscCode1.touched || ifscCode1.dirty) && ifscCode1.invalid" class="invalid-feedback">
                                                   <div *ngIf="ifscCode1?.errors?.pattern">{{errors.payment.offline.ifscCode.invalid}}</div>
                                              </div>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" id="cheque-number"
                                                spellcheck="false"
                                                required
                                                minlength="0"
                                                maxlength="6"
                                                name="chequeNo"
                                                #chequeNumber1="ngModel"
                                                [(ngModel)]="chequeNumber"
                                                pattern="{{regexPattern.chequeNo}}"
                                                fieldFill>
                                                <label for="cheque-number">Cheque number</label>
                                                <div *ngIf="(chequeNumber1.touched || chequeNumber1.dirty) && chequeNumber1.invalid" class="invalid-feedback">
                                                     <div *ngIf="chequeNumber1?.errors?.pattern">{{errors.payment.offline.chequeNumber.invalid}}</div>
                                                </div>
                                            </div>
                                            <div class="form-group inr">
                                                <input type="text" class="form-control" id="amount"
                                                spellcheck="false"
                                                required
                                                name="amount"
                                                minlength="0"
                                                maxlength="15"
                                                #paymentAmountOffline="ngModel"
                                                [(ngModel)]="amount"
                                                pattern="{{regexPattern.amount}}"
                                                fieldFill />
                                               
                                                <label for="amount">Amount (in Rupees)</label>
                                                <span class="addon">
                                                    <span class="icon icon-inr"></span>
                                                </span>
                                                <span class="in-word"></span>
                                                <div *ngIf="(paymentAmountOffline.touched || paymentAmountOffline.dirty) && paymentAmountOffline.invalid" class="invalid-feedback">
                                                    <div *ngIf="paymentAmountOffline?.errors?.pattern">{{errors.payment.offline.amount.invalid}}</div>
                                                </div>
                                            </div>
                                        </div>
                                      <div class="btn-wrap">
                                          <button   class="btn btn-primary"
                                          [disabled]="false"
                                          [ngClass]="{'disabled': false}">Submit</button>
                                      </div>
                                    </form>
                                    </div>                              
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="overlay" [ngClass]="{'active': isChequeProceedModal}"></div>
            <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isChequeProceedModal}">
                <!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
                <div class="modal-body">
                    <p class="center">Your Cheque has been successfully submitted</p>
                    <h1 class="pr-text">Click Proceed to continue</h1>
                    <div class="btn-wrap">
                        <button class="btn btn-border"  [routerLink]="['/leads']">Proceed</button>
                    </div>
                </div>
            </div>

            <div class="overlay" [ngClass]="{'active': isOnlineProceedModal}"></div>
            <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isOnlineProceedModal}">
                <!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
                <div class="modal-body">
                    <p class="center">Payment message has been sent successfully</p>
                    <h1 class="pr-text">Click Proceed to continue</h1>
                    <div class="btn-wrap">
                        <button class="btn btn-border"  [routerLink]="['/leads']">Proceed</button>
                    </div>
                </div>
            </div>
            <div class="overlay" [ngClass]="{'active': isPaymentFailedModal}"></div>
            <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isPaymentFailedModal}">
                <!-- <a class="modal-close" (click)="onCrossModal()"><span class="icon icon-close"></span></a> -->
                <div class="modal-body">
                    <h1 class="center">{{butMes}}</h1>
                    <!-- <p class="body">Do you like to upload documents?</p> -->
                        <div class="btn-wrap">
                            <button class="btn btn-border" [routerLink]="['/leads']">Okay</button>
                        </div>
                </div>
            </div>
            <!-- <div class="overlay" [ngClass]="{'active': isErrorModal}"></div>
            <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}"> -->
                <!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
                <!-- <a class="modal-close" (click)="onCrossModal()"><span class="icon icon-close"></span></a> -->
                <!-- <div class="modal-body">
                <h1>{{sessionMessage}}</h1>
                <div class="btn-wrap">
                    <button class="btn btn-border" (click)="isErrorModal = false">Cancel</button>
                </div>
                </div>
            </div> -->
    </main>
