<main>
  <div class="main">
      <div class="lyt-box">
          <h3 class="title">
              <span class="num">01</span>
              <span class="text">
                  <span>Terms</span>
              <span>and Conditions</span>
              </span>
          </h3>
          <div class="cont">
              <p>A copy of this has been sent to your registered email address as well.</p>
              <div class="list-wrap">
                  <div class="list">
                      <h4 class="title">Declaration</h4>
                      <ol class="inner-list js-read">
                          <li>
                              I / We declare that all the particulars and information given in the application form are true, correct, complete and up to date in all respects and I / we have not with-held any information whatsoever. I/ We confirm that I /We have no insolvency proceeding
                              initiated against me/us nor have I/ we have ever been adjudicated insolvent / bankrupt. I /We have read the application fromand brochures and are agreeable to all the terms /conditions of availing financial assistance
                              from IHFC/ Its Group Companies/its agents to make references and enquiries relevant to information in this application form which IHFC/its Group companies/its Agents consider necessary. I/ we undertake to inform IHF/group
                              companies/its Agents regarding the change in the residential addresses to provide any further information that that IHFC/its Group Companies/its Agents may require.
                          </li>
                          <li>
                              I/We further declare and confirm that the credit facilities/ financial assistance if any enjoyed by me/us with other banks has been disclosed herein above.
                          </li>
                          <li>
                              I/We declare the we have read the application form and brochure and are agreeable to the terms/ conditions of availing the credit facilities/financial assistance mentioned herein from IHFC.
                          </li>
                          <li>
                              Save and except to the extent as disclosed in this application. I /We (if a person other than a subsidiary of IHFC or a section 25 company or a government company, or in case of facility/ ies are not encompassed by the restrictions specified by the Reserve
                              Bank of India / National Housing Bank (RBI/NHB) from time to time) as applicable represents that; no director or a relative/near relation (as specified by RBI/NHB) of a director of a banking/housing finance (including
                              IHFC) or a relative/ near relation (as specified by the RBI/NHB) of a senior officer of companyIHF (as specified by RBI/NHB) is a partner of mine/us, a director, manager employee of mine/us or a subsidiary of me/us
                              or a subsidiary or the holding company of me/us, or a guarantor on behalf of/for/to me/us, or holds substantial interest in me/us, or a subsidiary of the holding company of me/us.
                          </li>
                          <li>
                              I/We agree that IHFC may provide the credit facilities/ financial assistance mentioned herein only if permitted and if approved in the manner specified or required by the Reserve Bank of India/ National Housing Bank (RBI/NHB) from to time.
                          </li>
                          <li>
                              I/ We agree and understand that IHFC reserves the right to reject the application and that IHFC Shall not be responsible/ liable in any manner whatsoever to me/us for such rejection or any delay in notifying me/us of such rejection and any costs. losses,
                              damages or expenses, or other consequences, caused by reason of such rejection, or any delay in notifying me/us of such rejection, of our application.
                          </li>
                          <li>
                              I/We acknowledges that IHFC/ group companies reserve the right to retain the photographs and documents submitted along with this application application and will not return the same to the applicant/s.
                          </li>
                          <li>
                              I/We hereby affirm and declare that I/We have not made any payments in cash.
                          </li>
                          <li>
                              I/We hereby agree and authorize IHFC/its Group companies and their agents to exchange, share or part with all the information, data or data or document in relation to my/our application including but not limited to the credit repayment, history or any
                              default, if any, committed by me/ us to other ICICI Group companies/ bank, financial institutions, credit bureaus, agencies statutory bodies or such other persons as IHFC/its Groups companies may deem necessary or appropriate
                              as may be required for use of the said information or data by such person(s) or furnishing of the processed information/ data/ products thereof to the other banks financial institutions, credit providers or users registered
                              with such persons as required under applicable laws/statutes or to provide services to the customers for the products availed by by them and shall not hold IHFC/its Group companies/ their agents liable for use this
                              information.
                          </li>
                          <li>
                              I/ We confirm that the initials form this application form are made by me/ us and the validity of the initials shall not be disputed by me/ us.
                          </li>
                      </ol>

                      <h4 class="title">Specific Declaration</h4>
                      <ol class="inner-list">
                          <li>
                              We (IHFC, its group of companies, agents/ representatives) would like to keep our customers updated on various products & services related information and special offer from IHFC/ group companies and other entities. Please help us to serve you better
                              by giving your con-sent to receive such information:

                              <div class="checkbox-wrap">
                                  <span class="checkgroup-label">a. I/We wish to receive such information through Email alerts</span>
                                  <div class="checkbox-group">
                                      <input    type="checkbox"
                                                name="checkbox1"
                                                id="checkbox1"
                                                value="checkbox1"
                                                #checkbox1
                                                checked="true"
                                                (change)="changeYesNo($event, [checkbox1, checkbox2])" />
                                      <label for="checkbox1"><span></span>Yes</label>
                                  </div>
                                  <div class="checkbox-group">
                                      <input    type="checkbox"
                                                name="checkbox2"
                                                id="checkbox2"
                                                value="checkbox2"
                                                #checkbox2
                                                (change)="changeYesNo($event, [checkbox1, checkbox2])" />
                                      <label for="checkbox2"><span></span>No</label>
                                  </div>

                              </div>

                              <div class="checkbox-wrap">
                                  <span class="checkgroup-label">b. I/We wish to receive such information through SMS alerts </span>
                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox3"
                                                id="checkbox3"
                                                #checkbox3
                                                checked="true"
                                                (change)="changeYesNo($event, [checkbox3, checkbox4])" />
                                    <label for="checkbox3"><span></span>Yes</label>
                                  </div>
                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox4"
                                                id="checkbox4"
                                                #checkbox4
                                                (change)="changeYesNo($event, [checkbox3, checkbox4])" />
                                      <label for="checkbox4"><span></span>No</label>
                                  </div>

                              </div>

                              <div class="checkbox-wrap">
                                  <span class="checkgroup-label">c. I/We wish to receive such information through Phone call </span>
                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox5"
                                                id="checkbox5"
                                                #checkbox5
                                                checked="true"
                                                (change)="changeYesNo($event, [checkbox5, checkbox6])" />
                                    <label for="checkbox5"><span></span>Yes</label>
                                  </div>
                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox6"
                                                id="checkbox6"
                                                #checkbox6
                                                (change)="changeYesNo($event, [checkbox5, checkbox6])" />
                                      <label for="checkbox6"><span></span>No</label>

                                  </div>

                              </div>

                          </li>
                          <li>
                              I/We authorize IHFC to exchange, share or part with all information/ data provided herein including personal and business information with ICICI group companies/ other institutions/ such other persons as may be necessary/ required for the purpose of,
                              including but not lim-ited to, marketing, cross selling of various products and services etc to me/ us, use or pro-cess the aforesaid information/ data by such person/s, or furnishing the processed information/ data/
                              products thereof to ICICI Group Companies/ other Banks/ Institutions/ other persons as may be necessary, and I/We shall not hold IHFC liable in connection with use of such information or otherwise:
                              <div class="checkbox-wrap">

                                  <div class="checkbox-group">
                                     <input      type="checkbox"
                                                name="checkbox7"
                                                id="checkbox7"
                                                checked="true"
                                                #checkbox7
                                                (change)="changeYesNo($event, [checkbox7, checkbox8])" />
                                    <label for="checkbox7"><span></span>Yes</label>
                                  </div>
                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox8"
                                                id="checkbox8"
                                                #checkbox8
                                                (change)="changeYesNo($event, [checkbox7, checkbox8])" />
                                      <label for="checkbox8"><span></span>No</label>

                                  </div>

                              </div>
                          </li>

                          <li>
                              I/We declare that I/We and / or my family have/ has not availed financial assistance for the construction/ purchase of the dwelling unit for my/ our family from any bank/ financial in-stitution as on date of the application other than the one for which
                              finance is being availed of of through ICICI Home Finance Company Limited. For the purpose of this clause “family” shall mean and include the applicant/ co-applicant, his/ her spouse and his/ her dependent children
                              respectively.
                              <div class="checkbox-wrap">
                                  <span class="checkgroup-label">Please confirm whether applicable or not:</span>
                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox9"
                                                id="checkbox9"
                                                #checkbox9
                                                checked="true"
                                                (change)="changeYesNo($event, [checkbox9, checkbox10])" />
                                    <label for="checkbox9"><span></span>Yes</label>
                                  </div>
                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox10"
                                                id="checkbox10"
                                                #checkbox10
                                                (change)="changeYesNo($event, [checkbox9, checkbox10])" />
                                      <label for="checkbox10"><span></span>No</label>

                                  </div>

                              </div>

                              <div class="checkbox-wrap typ2">

                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox11"
                                                id="checkbox11"
                                                #checkbox11
                                                (change)="changeYesNo($event, [checkbox11])" />
                                     <label for="checkbox11"><span></span>I provide consent to run a CIBIL Check</label>

                                  </div>
                                  <!-- <div class="checkbox-group">
                                      <input type="checkbox" name="checkgroup6" id="checkbox12" checked>
                                      <label for="checkbox2"><span></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus felis, ullamcorper </label>

                                  </div> -->
                                  <div class="checkbox-group">
                                    <input      type="checkbox"
                                                name="checkbox12"
                                                id="checkbox12"
                                                #checkbox12
                                                (change)="changeYesNo($event, [checkbox12])" />
                                     <label for="checkbox12"><span></span>I understand and agree to all the Terms & Conditions</label>
                                  </div>
                              </div>
                          </li>
                      </ol>
                  </div>
              </div>
              <div class="btn-wrap">
                  <button class="btn btn-border typ2"
                            [disabled]="checkbox1.checked!=true || checkbox3.checked!=true || checkbox5.checked!=true || checkbox7.checked!=true || checkbox9.checked!=true || checkbox11.checked!=true || checkbox12.checked!=true" [routerLink]="['/static/terms-and-conditions/declaration2', applicationId, applicantId]">PROCEED TO payment</button>
              </div>
          </div>
      </div>
      <span class="cm-breath"></span>
  </div>
</main>