<main>
    <div class="main">
        <div class="lyt-box typ2">
            <span class="box-icon">
                <img src="assets/images/proceed-to-review.png" alt="logo">
            </span>
            <div class="title-desc">
                <h3 class="box-title">Yay!</h3>
                <p class="desc">Your form has been completed!</p>
            </div>
            <div class="cont">
                <p class="typ-text-center">You need to follow the below three steps to submit your application form!</p>
                <div class="step-wrap">
                    <div class="step">
                        <span class="count">01</span>
                        <span class="label">Review the  application form</span>
                    </div>
                    <div class="step">
                        <span class="count">02</span>
                        <span class="label">Agree to  Terms & Conditions  and give consent</span>
                    </div>
                    <div class="step">
                        <span class="count">03</span>
                        <span class="label">Make payment  for the login fee</span>
                    </div>
                </div>
                <div class="btn-wrap">
                    <button [routerLink]="['/terms-and-conditions/review-application', applicationId, applicantId]" class="btn btn-border typ2">PROCEED TO REVIEW Form</button>
                </div>
            </div>
        </div>
        <span class="cm-breath"></span>
    </div>
</main>