<div class="lyt-tabs">
    <div class="lhs">
        <div class="title-wrap">
            <h4 class="title">Enter Co-applicant's <span class="cm-line-break"></span>registered address</h4>
        </div>

    </div>
    <div class="rhs">
        <form class="bs-form">
            <div class="form-wrap">
                <div class="form-group">
                    <input type="text" class="form-control" id="reg-add">
                    <label for="reg-add">Registered Address</label>
                </div>
                <div class="form-group typ-optional">
                    <input type="text" class="form-control" id="landmark">
                    <label for="landmark">Landmark</label>
                    <span class="optional">optional</span>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="pincode">
                    <label for="pincode">Pincode</label>
                </div>
                <div class="form-group last">
                    <input type="text" class="form-control" id="city-state">
                    <label for="city-state">City/State</label>
                </div>
            </div>
            <div class="btn-wrap">
                <button class="btn btn-primary disabled">Next</button>
            </div>
        </form>
    </div>
</div>