<main>
  <div class="main">
      <div class="lyt-box typ2">
	      <br><br><br><br>
	  <span class="box-icon">
              <img src="assets/images/thumb.png" alt="logo">
          </span>
          <div class="title-desc">
              <h3 class="box-title">Thanks for accepting terms and conditions!</h3>
              <p class="desc">You have accepted terms and conditions. Now proceed to complete your payment.</p>
          </div>
          <div class="cont">
              
              <!-- <div class="btn-wrap">
                  <button [routerLink]="['/payments/online-summary', applicationId]" class="btn btn-border typ2">Proceed to Payment</button>
              </div> -->
          </div>
      </div>
      <span class="cm-breath"></span>
  </div>
</main>
