
.table {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: #212529;
    background-color: transparent;
    display: table;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #ebedf2;
    border: 1px solid #ebedf2;
    text-align: center
}
.table thead th,
.table thead td {
    color: #053c6d;
    font-weight: bold;
}
.add-branch {
    display: inline-block;
    margin-top: 1vh;
    cursor: pointer;
}