<a class="editsavebtn" routerLink="/admin/lovs">Go Back</a>
<h1 class="lov-heading">Branch List</h1>
<input type="text" class="lov-search" #searchInp placeholder="Search" tabindex="1" (input)="search($event)" [(ngModel)]="searchKey" />
<button type="button" class="editsavebtn" routerLink="/admin/lovs/branch_list/add">Add Branch</button>
<button type="button" class="editsavebtn" (click)="refresh()">Refresh Data</button>


<div class="list">
    <table class="admin-table">
        <thead>
          <tr>
            <th>Branch code</th>
            <th>Branch Id</th>
            <th>Branch name</th>
            <th>Branch type</th>
            <th>City name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of collection | paginate: { itemsPerPage: perPage, currentPage: currentPage, totalItems: totalItems  }">
            <td><a [routerLink]= "['/admin/lovs/branch_add', item.branchId]">{{item.branchCode}}</a></td>
            <td>{{item.branchId}}</td>
            <td>{{item.branchName}}</td>
            <td>{{item.branchType}}</td>
            <td>{{item.cityName}}</td>
          </tr>											
        </tbody>
      </table>
    <pagination-controls  (pageChange)="pageChanged($event)" autoHide="true" class="pagination" ></pagination-controls>

    <!-- <a class="admin-sidebar-links" routerLink="/admin/lovs/branch_list/add">Add Branch</a> -->

    <div class="redalert error-msg">{{errorMsg}}</div>

  </div>