<app-leads-header></app-leads-header>
<app-leads-sidebar></app-leads-sidebar>
<div class="typ-connector">

<div class="typ-dash">
  <ul class="tabs-head">
    <li class="tab-link active" data-target="leads-tab"><a> Dashboard </a></li>
    <!-- Logins -->
  </ul>
  <button (click)="onMultipleBranch('login')" class="btn application add-new-login" *ngIf="newLogin">NEW LOGIN</button>
  <button (click)="onMultipleBranch('lead')" class="btn application add-lead-link" *ngIf="createLead">CREATE LEAD</button>

</div>
<tabs>
    <tab tabTitle="ALL" class="tab" *ngIf="(newLogin) || documentUpload" >
        <ul *ngFor="let detail of userDetails | paginate: {id: 'pagination1', itemsPerPage: perPage, currentPage: currentPage, totalItems: totalItems};">
            <li>
                <!-- [queryParams]="detail['queryParams']" -->
             <a [routerLink]="detail.url"  class="lead-action">

              <ul class="bs-lead-card">
                  <li>
                      <span class="initials">AK</span>
                      <span class="user-name">{{detail.firstName || detail.nameOfOrganization}} {{detail.lastName}}</span></li>
                  <li>
                      <span class="name">applied on</span>
                      <span class="value">{{detail.appliedOn | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                  </li>
                  <li>
                      <span class="name">phone</span>
                      <span class="value">{{detail.mobileNumber}}</span>
                  </li>
                  <li>
                      <span class="name">Status</span>
                      <span class="value">{{detail.status}}</span>
                  </li>
                  
              </ul>
            </a>
          </li>
      </ul>
      <pagination-controls id="pagination1" (pageChange)="pageChanged($event)" class="pagination" autoHide="true" ></pagination-controls>
    </tab>
    <tab tabTitle="NEW LEADS" *ngIf="createLead">
      <ul *ngFor="let detail of newLeadsDetails | paginate: {id: 'pagination2', itemsPerPage: perPageNL, currentPage: currentPageNL, totalItems: totalItemsNL};">
        <li>
            <ul class="bs-lead-card">
                <li>
                    <span class="initials">AK</span>
                    <span class="user-name">{{detail.name}}</span></li>
                <li>
                    <span class="name">applied on</span>
                    <span class="value">{{detail.createdOn | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                </li>
                <li>
                    <span class="name">phone</span>
                    <span class="value">{{detail.mobileNumber}}</span>
                </li>
            </ul>
        </li>
    </ul>
    <pagination-controls id="pagination2" (pageChange)="pageChangedNL($event)" class="pagination" autoHide="true" ></pagination-controls>
    </tab>
    <tab tabTitle="PENDING APPLICATION" *ngIf="(newLogin)">
      <ul *ngFor="let detail of newPendingApplicationDetails | paginate: {id: 'pagination3',itemsPerPage: perPagePA, currentPage: currentPagePA, totalItems: totalItemsPA};">
        <li>
            <!-- [queryParams]="detail['queryParams']" -->
            <a [routerLink]="detail.url" class="lead-action">
            <ul class="bs-lead-card">
                <li>
                    <span class="initials">AK</span>
                    <span class="user-name">{{detail.firstName || detail.nameOfOrganization}} {{detail.lastName}}</span></li>
                <li>
                    <span class="name">applied on</span>
                    <span class="value">{{detail.appliedOn | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                </li>
                <li>
                    <span class="name">phone</span>
                    <span class="value">{{detail.mobileNumber}}</span>
                </li>
                <li>
                    <span class="name">Status</span>
                    <span class="value">{{detail.status}}</span>
                </li>
            </ul>
          </a>
        </li>
    </ul>
    <pagination-controls id="pagination3"  (pageChange)="pageChangedPA($event)" class="pagination" autoHide="true" ></pagination-controls>
    </tab>
    <tab tabTitle="PENDING PAYMENT" *ngIf="(newLogin)">
      <ul *ngFor="let detail of newPendingPaymentDetails | paginate: {id: 'pagination4',itemsPerPage: perPagePP, currentPage: currentPagePP, totalItems: totalItemsPP};">
        <li>
            <!-- [queryParams]="detail['queryParams']"  -->
            <a [routerLink]="detail.url" class="lead-action">
            <ul class="bs-lead-card">
                <li>
                    <span class="initials">AK</span>
                    <span class="user-name">{{detail.firstName || detail.nameOfOrganization}} {{detail.lastName}}</span></li>
                <li>
                    <span class="name">applied on</span>
                    <span class="value">{{detail.appliedOn | date:'dd-MM-yyyy HH:mm:ss'}}</span>
                </li>
                <li>
                    <span class="name">phone</span>
                    <span class="value">{{detail.mobileNumber}}</span>
                </li>
                <li>
                    <span class="name">Status</span>
                    <span class="value">{{detail.status}}</span>
                </li>
            </ul>
          </a>
        </li>
    </ul>
    <pagination-controls id="pagination4"  (pageChange)="pageChangedPP($event)" class="pagination" autoHide="true" ></pagination-controls>
</tab>
</tabs>
</div>

<div class="overlay" [ngClass]="{'active': isMultipleBranchModal}">
    <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isMultipleBranchModal}">
        <!-- <a class="modal-close" (click)="onCrossModal()"><span class="icon icon-close"></span></a> -->
        <div class="modal-body">
            <form [formGroup]="myBranchForm">
            <h1 class="errorMessage">Select Branch</h1>
            <div class="form-group single-select">
                <span class="control-title">Branch Name</span>
                <!-- <kendo-dropdownlist [readonly]="isTBMLoggedIn"
                  class="form-control"
                  [defaultItem]="defaultItem"
                  [data]="multipleBranchesData"
                  [textField]="'key'"
                  [valueField]="'value'">                  
                </kendo-dropdownlist> -->
                <ng-multiselect-dropdown 
                    [placeholder]="'Search'" 
                    [data]="multipleBranchesData"
                    [settings]="dropdownSettings"
                    formControlName="branchId"                  
                    >
                </ng-multiselect-dropdown>
            </div>
            <div class="btn-wrap">
                <button class="btn btn-border"  [ngClass]="{'disabled': (!myBranchForm.valid)}"
                [disabled]="!myBranchForm.valid" 
                (click)="submitBranch(myBranchForm)">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
