<main>
    <div class="lyt-login">
        <div class="lhs">
            <h1 class="logo">
                <a href="#">
                    <img src="assets/images/logo-white.svg" alt="logo">
                </a>
            </h1>
            <div class="title-wrap">
                <h2 class="title">Current Leads <span class="cm-line-break"></span> status</h2>
            </div>
        </div>
        <div class="rhs">
            <div class="btn-wrap">
                <button routerLink="/applicant" class="btn btn-primary application">New Application</button>
            </div>


<!--             <table class="leadFilter">
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        Assigned To
                    </td>
                    <td>Location</td>
                    <td>From</td>
                    <td>To</td>
                </tr>
            </table> -->


            <table class="">
                <tbody>
                     <tr class="leadLogin">
                        <td></td>
                        <td>
                            <!-- <i></i>
                            <h1>
                                Welcome <b>Manpreet Singh</b> DEO <br>
                                Branch Id: ICICI0000011
                            </h1> -->
                        </td>
                        <td>
                            <div class="btn btn-default cur-pointer" (click)="logout()">LOGOUT</div>
                        </td>
                    </tr>
                    <tr class="leadSearch">
                        <td colspan="3">
                            <form action="" class="bs-form">
                                <div class="form-group">

                                    <input  type="text"
                                            class="form-control"
                                            id="address1"
                                            pattern="^[0-9A-Za-z,_#\s]+$"
                                            required 
                                            fieldFill/>

                                    <label for="address1">Search</label>

                                </div>
                            </form>

                        </td>
                    </tr>

<!--                     <tr class="leadFilter">
                        <td></td>
                        <td>
                            Assigned To
                        </td>
                        <td>Location</td>
                        <td>From</td>
                        <td>To</td>
                    </tr> -->

                    <tr class="leadList">
                        <td>
                            <table *ngFor="let detail of userDetails">
                                <tr>
                                    <td colspan="3">                                               
                                        <li><span>Lead ID / OCS Number: </span><b> {{detail.ocsNumber}}</b></li>
                                    </td>
                                </tr> 
                                <tr>
                                    <td>
                                        <a routerLink="/applicant/{{detail.leadId}}">
                                            <ul>
                                                <li><span>Name :</span><b> {{detail.firstName}}</b></li>
                                                <li><span>Product :</span><b> {{detail.product}}</b></li>
                                                <li><span>Loan amount :</span><b> {{detail.amountRequired}}</b></li>
                                            </ul>
                                        </a>
                                    </td>
                                    <td>
                                        <a routerLink="/applicant/{{detail.leadId}}">
                                            <ul>
                                                <li><span>Branch :</span><b> {{detail.branchName}}</b></li>
                                                <li><span>Generated date :</span><b> {{detail.appliedOn | slice:0:10}}</b></li>
                                                <li><span>Assigned date :</span><b> {{detail.assignedDate | slice:0:10}}</b></li>
                                            </ul>
                                        </a>
                                    </td>
                                    <td>
                                        <a routerLink="/applicant/{{detail.leadId}}">
                                            <ul>

                                                <li><span>Pending status :</span><b> {{detail.pendingStatus}}</b></li>
                                                <li><span>Pending with :</span><b> {{detail.appliedBy}}</b></li>
                                            </ul>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>



                </tbody>

            </table>


<!--             <div 
              fxLayout="row wrap" 
              fxLayout.lt-sm="column" 
              fxLayoutGap="32px" 
              fxLayoutAlign="flex-start">
            <ng-container *ngFor="let _ of [1,2,3]">
              <app-card 
                fxFlex="0 1 calc(33.3% - 32px)"
                fxFlex.lt-md="0 1 calc(50% - 32px)"
                fxFlex.lt-sm="100%"
              >
                  <div class="col-sm-4">{{detail.firstName}}</div>
                  <div class="col-sm-4">{{detail.firstName}}</div>
                  <div class="col-sm-4">{{detail.firstName}}</div>
              </app-card>
            </ng-container>
            </div> -->



<!--             <div class="row" *ngFor="let detail of userDeta">
             
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
               
                    <div class="box-part text-center">
                        
                        <i class="fa fa-instagram fa-3x" aria-hidden="true"></i>
                        
                        <div class="title">
                            <h4>Instagram</h4>
                        </div>
                        
                        <div class="text">
                            <span>Lorem ipsum dolor sit amet, id quo eruditi eloquentiam. Assum decore te sed. Elitr scripta ocurreret qui ad.</span>
                        </div>
                        
                        <a href="#">Learn More</a>
                        
                     </div>
                </div> 
        
            </div> -->
















        </div>
    </div>
</main>