<main>
    <div class="lyt-login">
        <div class="lhs">
            <h1 class="logo">
                <a href="#">
                    <img src="assets/images/logo-white.svg" alt="logo">
                </a>
            </h1>
            <div class="title-wrap">
                <h2 class="title">Current Leads <span class="cm-line-break"></span> status</h2>
            </div>
        </div>
        <div class="rhs">
            <div class="btn-wrap">
                <button [routerLink]="['/applicant']" class="btn btn-primary application">New Applicant</button>
            </div>

            <table style="width:100%">
                <thead>
                    <th>FirstName</th>
                    <th>OCS Number</th>
                    <th>Eligible Amount</th>
                    <th>Required Amount</th>
                </thead>
                <tbody>
                    <tr *ngFor="let detail of userDetails">
                        <td>{{detail.firstName}}</td>
                        <td>{{detail.ocsNumber}}</td>
                        <td>{{detail.amountEligible}}</td>
                        <td>{{detail.amountRequired}}</td>
                    </tr>
                </tbody>

            </table>
           
        </div>
    </div>
</main>