@charset "UTF-8";
@font-face {
    font-family: "icicihfc";
    src: url("../fonts/icicihfc.eot");
    src: url("../fonts/icicihfc.eot?#iefix") format("embedded-opentype"), url("../fonts/icicihfc.woff") format("woff"), url("../fonts/icicihfc.ttf") format("truetype"), url("../fonts/icicihfc.svg#icicihfc") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "icicihfc" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icicihfc" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tick:before {
    content: "\61";
}

.icon-down:before {
    content: "\62";
}

.icon-close:before {
    content: "\63";
}

.icon-inr:before {
    content: "\65";
}

.icon-angle-right:before {
    content: "\64";
}

.icon-angle-left:before {
    content: "\66";
}

.icon-back:before {
    content: "\67";
}

.icon-arrow:before {
    content: "\68";
}

.icon-doc-upload:before {
    content: "\69";
}

.icon-user:before {
    content: "\6a";
}

.icon-call:before {
    content: "\6b";
}

.icon-email:before {
    content: "\6c";
}

.icon-loaction:before {
    content: "\6d";
}

.icon-info:before {
    content: "\6e";
}

.icon-leads:before {
    content: "\6f";
}

.icon-dashboard:before {
    content: "\70";
}

.icon-performance:before {
    content: "\71";
}

.icon-train:before {
    content: "\72";
}

.icon-doc:before {
    content: "\73";
}

.icon-arrow-left:before {
    content: "\74";
}

.icon-arrow-right:before {
    content: "\75";
}

.icon-search:before {
    content: "\76";
}

.icon-notification:before {
    content: "\77";
}

.icon-home-equity:before {
    content: "\78";
}

.icon-others:before {
    content: "\79";
}

.icon-residential:before {
    content: "\7a";
}

.icon-commercial:before {
    content: "\41";
}

.icon-lease:before {
    content: "\42";
}

.icon-topup:before {
    content: "\43";
}

.icon-office:before {
    content: "\44";
}

.icon-home-improve:before {
    content: "\45";
}

.icon-securities:before {
    content: "\46";
}

.icon-home-loan:before {
    content: "\47";
}