<main>
    <div class="lyt-login">
        <div class="lhs">
            <h1 class="logo">
                <a href="#">
                    <img src="assets/images/logo-white.svg" alt="logo">
                </a>
            </h1>
            <div class="title-wrap">
                <h2 class="title">Current Leads <span class="cm-line-break"></span> status</h2>
            </div>
        </div>
        <div class="rhs">
            <form class="bs-form">
                <div class="form-wrap">
                    <div class="bs-radio typ-doc">
                        <input type="radio" name="doc-upload" id="applicant-radio">
                        <label for="applicant-radio">
                            <span class="icon icon-close"></span>
                        </label>
                        <span class="desc-text">01 | <span>Lead 1</span></span>
                    </div>
                    <div class="bs-radio typ-doc">
                        <input type="radio" name="doc-upload" id="applicant-radio">
                        <label for="applicant-radio">
                            <span class="icon icon-close"></span>
                        </label>
                        <span class="desc-text">02 | <span>Lead 2</span></span>
                    </div>
                    <div class="bs-radio typ-doc">
                        <input type="radio" name="doc-upload" id="applicant-radio">
                        <label for="applicant-radio">
                            <span class="icon icon-close"></span>
                        </label>
                        <span class="desc-text">03 | <span>Lead 3</span></span>
                    </div>
                    <div class="bs-radio typ-doc">
                        <input type="radio" name="doc-upload" id="applicant-radio">
                        <label for="applicant-radio">
                            <span class="icon icon-close"></span>
                        </label>
                        <span class="desc-text">04 | <span>Lead 4</span></span>
                    </div>
                    <div class="bs-radio typ-doc">
                        <input type="radio" name="doc-upload" id="applicant-radio">
                        <label for="applicant-radio">
                            <span class="icon icon-close"></span>
                        </label>
                        <span class="desc-text">05 | <span>Lead 5</span></span>
                    </div>
                    <div class="bs-radio typ-doc">
                        <input type="radio" name="doc-upload" id="applicant-radio">
                        <label for="applicant-radio">
                            <span class="icon icon-close"></span>
                        </label>
                        <span class="desc-text">06 | <span>Lead 6</span></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>