<ul class="tabs-head">
  <li class="tab-link active pending" data-target="pan-tab"><a href="#">PAN</a></li>
  <li class="tab-link" data-target="pd-tab"><a href="#">personal details</a></li>
  <li class="tab-link" data-target="contact-tab"><a href="#">contact details</a></li>
  <li class="tab-link" data-target="comm-tab"><a href="#">communication address</a></li>
  <li class="tab-link" data-target="marital-tab"><a href="#">marital status</a></li>
  <li class="tab-link" data-target="family-tab"><a href="#">family details</a></li>
  <li class="tab-link" data-target="other-tab"><a href="#">other</a></li>
  <li class="tab-link" data-target="occup-tab"><a href="#">occupation details</a></li>
  <li class="tab-link" data-target="off-tab"><a href="#">offical correspondence</a></li>
</ul>