<div class="lyt-login">
  <div class="lhs">
      <h1 class="logo">
          <a href="#">
              <img src="assets/images/logo-white.svg" alt="logo">
          </a>
      </h1>
      <div class="title-wrap">
          <h2 class="title">Set <span class="cm-line-break"></span> mPIN</h2>
      </div>
  </div>
  <div class="rhs">
      <form class="bs-form width_80">
          <div class="form-wrap">
              <div class="form-group last overflow_hidden" >
                  <input [(ngModel)]="userName" type="text" class="form-control" id="emp-id" name="userName" oninput="this.value = this.value.toUpperCase()" fieldFill>
                  <label for="emp-id" style="margin-top: 1px;">Employee ID</label>
              </div>
          </div>
          <div class="btn-wrap">
              <button class="btn btn-primary"  (click)="setMpin()" >SEND <span class="cm-line-break"></span>mPIN</button>
          </div>
      </form>
  </div>
</div>

<div class="overlay" [ngClass]="{'active': loginError}"></div>
<div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': loginError}">
<!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
<div class="modal-body">
    <h1 class="center">{{errorMsg}}</h1>
    <div class="btn-wrap">
    <button class="btn btn-border" (click)="loginError = false">Cancel</button>
    </div>
</div>