.admin-wrapper {
    clear: both;
    width: 100%;
}

.admin-sidebar {
    width: 20%;
    position: fixed;
    float: left;
    background: #e66e23;
    height: 100vh;
    font-size: 16px;
    box-shadow: 1px 1px 10px 0 #ccc;
}

.admin-sidebar-links {
    display: block;
    color: #fff;
    padding: 15px;
    transition: all 300ms;
}

.admin-sidebar-links:hover,
.admin-sidebar-links:focus {
    padding-left: 20px;
    font-weight: bold;
}

.admin-dashboard {
    width: auto;
    margin-left: 20%;
    font-size: 16px;
    padding: 0 30px 15px 30px;
    overflow-y: auto;
    height: 100vh;
    /* position: fixed; */
    margin-left: 19%;
    
}

.admin-logo-wrapper {
    background: #fff;
    height: 8vh;
    padding: 1vh 0;
}
.admin-dashboard .title {
    border-bottom: 1px solid #ddd;
    font-size: 5vh;
    padding: 1.1vh 0;
}
.pull-right {
    float: right;
}