<div class="bs-header" data-nav="dashboard">
    <div class="admin-wrapper">
        <!-- header start -->
        <div class="sec-nav">
            <div class="logo">
                <h1>
                    <!-- <a routerLink="/admin/lovs"> -->
                        <a [routerLink]="navigationString">
                        <img src="assets/images/logo.svg" alt="logo" class="img-responsive" />
                    </a>
                </h1>
            </div>
            <div class="right-panel">
                <h2 style="color: #db6024;font-weight: bold;font-size: small;" ><span class="name">Last Login</span>
                    <br>
                    <h3 ><span class="name">{{lastLoginDateTime | date:'medium':'GMT'   | uppercase}}</span></h3>
                </h2>
                <a routerLink="/leads" *ngIf="showOCS" class="space btn btn-default logout">go to OCS</a> 
                <a (click)="logout()" *ngIf="isLogoutVisible" class="space btn btn-default logout">Logout</a>  
                  
            </div>
        </div>       
    <!-- header end -->    
    <!-- admin sidebar -->
        <div class="admin-sidebar">            
            <a class="admin-sidebar-links" routerLink="/admin/lovs" *ngIf ="masterConfig">LOVs</a>
            <a class="admin-sidebar-links" routerLink="/admin/ops-module" *ngIf ="opsModule"> Ops Module</a>
            <a class="admin-sidebar-links" routerLink="/admin/user-module" *ngIf ="userModule">User Module</a>
            <a class="admin-sidebar-links" routerLink="/admin/errorHandle" *ngIf ="masterConfig">Error Handling Message</a>
            <a class="admin-sidebar-links" routerLink="/admin/auditTrail" *ngIf ="masterConfig">Audit Trail</a>
            <a class="admin-sidebar-links" routerLink="/admin/configMinMax" *ngIf ="masterConfig">Configuration</a>
            <a class="admin-sidebar-links" routerLink="/admin/branchMapping" *ngIf ="masterConfig">Branch Mapping</a>
            <!-- <a class="admin-sidebar-links" routerLink="/admin/archive" *ngIf ="showArchive">Archive</a>
            <a class="admin-sidebar-links" routerLink="/admin/retrieve" *ngIf ="showArchive">Retrieve</a> -->
        </div>
        <!-- admin Dashboard -->
        <div class="admin-dashboard">           
            <router-outlet></router-outlet>
        </div>
                
    </div>
</div>
