<div class="admin-wrapper">
    <div class="admin-sidebar">
        <div class="admin-logo-wrapper">
            <img src="assets/images/logo.svg" alt="" />
        </div>
        <a class="admin-sidebar-links" routerLink="/admin/lovs">LOVs</a>
        <a class="admin-sidebar-links" routerLink="/admin/ops-module">Ops Module</a>
        <a class="admin-sidebar-links" routerLink="/admin/user-module">User Module</a>
        <a class="admin-sidebar-links" routerLink="/admin/add-user">Add user</a>

    </div>
    
    <div class="admin-dashboard">
        <h1 class="title">User: Admin</h1>
        <router-outlet></router-outlet>
    </div>
            
</div>
