.grey-bg {
    background: #f3f3f3;
    padding-top: 5.08vw;
}
.bs-modal .modal-body .thumb-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
}
.center {
    text-align: center;
}
.center.typ2{
    margin-top: 1vw
}
.bs-modal p {
    margin-top: 1vw;
    font-size: 1vw
}
.bs-modal .modal-body {
    padding: 1vw 0;
}
.center {
    text-align: center;
}

.edit-btn-wrap {
    position: fixed;
    top: 4vw;
    right: 4vw;
    text-align: right;
    z-index: 1;
}
.bs-card .bs-form .form-group .form-control {
    font-size: 1.64vw;
    height: 3.13vw;
}
.bs-card .bs-form .form-group .control-title1 {
    font-size: .78vw;
    line-height: 0.17vw;
    position: absolute;
    top: -.2vw;
    left: 0;
}
.bs-card[_ngcontent-c1] .bs-form[_ngcontent-c1] .form-group[_ngcontent-c1] .form-controlfn[_ngcontent-c1] {
    font-size: 1.64vw;
    height: 3.13vw;
    width: 18vw;
}

.form-control {
    width: 100%;
    touch-action: none;
    pointer-events: none;
}

.col-4.padd0 {
    padding: 0;
}
.col-3.org-name {
    width: 33%;
    float: left;
    padding: 0 15px;
}

