<div class="lyt-login">
  <div class="lhs">
      <h1 class="logo">
          <a href="#">
              <img src="assets/images/logo-white.svg" alt="logo">
          </a>
      </h1>
      <div class="title-wrap">
          <h2 class="title">Hello,<span class="cm-line-break"></span>Komal Agarwal</h2>
      </div>
  </div>
  <div class="rhs">
      <form class="bs-form">
          <div class="form-wrap">
              <div class="form-group typ-otp last">
                  <span class="control-title">Confirm mPIN</span>
                  <input type="password" class="form-control" maxlength="1">
                  <input type="password" class="form-control" maxlength="1">
                  <input type="password" class="form-control" maxlength="1">
                  <input type="password" class="form-control" maxlength="1">
              </div>
              <div class="btn-wrap">
                  <a href="#" class="btn">FORGOT mPIN</a>
              </div>
          </div>
          <div class="btn-wrap">
              <button class="btn btn-primary disabled">LOGIN</button>
          </div>
      </form>
      <p class="resend-pin"> Not Komal Agarwal? <a href="#" class="btn">LOGIN</a> as a different user</p>
  </div>
</div>