<div class="container_box tearPage">
    <div class="main_div">
        <!-- <div class="space-12 space-lg-12">
      <img src="form-horizontal.png" class="pradhan-img">
    </div> -->
        <div class="space-12 space-lg-12">
            <img src="assets/images/form-horizontal.png" class="pradhan-img">
        </div>
        <div class="space-12 space-lg-12">
            <div class="icicibg tear-row-1">
                <p>Introducing exclusive Home Insurance plans, that can provide cover to your Home Loan in the face of any unforeseen event happening to your life. In case of any of these happenings, your family will have the support of the insurance cover
                    to pay for the outstanding Home Loan, without being burdened by the loan EMI's.
                </p>
                <p>
                    HFC presents "I Shield 360 0 " an exclusive and innovative insurance plan to insure your Home Loans.
                </p>
                <!-- <p> -->
                <p>Declaration:</p>
                <p class="m-0">I/We hereby declare that I/We would like to opt for insurance plan offered by insurance company in association with ICICI Home Finance Company Limited. I/We have carefully read and understood the content of the brochure.
                </p>
                <p class="m-0">I/We have understood that the Loan amount sanctioned by ICICI Home Finance Company limited is condition to my/our opting for the insurance & undertake to pay the requisite premium at the time of disbursement of the loan.
                </p>
                <p class="m-0">I/We confirm that I/We am/are voluntarily participating in this programme and I/We am / are aware that the loan is available without the insurance as well.
                </p>
                <!-- </p> -->
                <p class="mb-0">
                    I/We understand:
                </p>
                <ul class="mt-0 disc_bulletin">
                    <li>Insurance is the subject matter of the solicitation</li>
                    <li>Insurance is optional, Normal Home Loan is also available without insurance</li>
                    <li>Insurance starts from the first disbursement</li>
                    <li>I/We have an option of availing insurance from any other insurance Company.</li>
                </ul>
                <div class="mt-2">Dated: ____________</div>
                <div class="mb-2">Place: ____________</div>
                <div class="space_content mt-2">
                    <div class="space-6 p-0 mb-2">signature of applicant
                    </div>
                    <div class="space-6 p-0 text-right mb-2">signature of Co-applicant
                    </div>
                </div>
            </div>

            <div class=" tear-row-2 tear-away-ack page-break">
                <h5 class="icici-col-high head-small text-center font-weight-bold">Tear-away Acknowledgement (to be given to the applicant)
                </h5>

                <div class="icicibg row-1">
                    <p>Dear Sir / Madam,<br />
                        <p>Thank you, We acknowledge that we have received the application form no.
                            <!-- <br /> -->
                            <u>{{qde.application.applicationFormNumber}} </u> and the non refundable login fees vide {{(qde.application.paymentDetails?.paymentMode)=='OFFLINE'? 'Cheques No. ':'Online Payment'}}
                            <!-- <br /> -->
                            No. <u>{{qde.application.paymentDetails?.referenceNo}}</u> dated <u> {{qde.application.paymentDetails?.paymentDate}}</u> for
                            <u>    {{qde.application.paymentDetails?.loginFee}}    </u> If considered,
                            <!-- <br /> -->
                            our representative shall get in touch with you for this matter.<br />
                        </p>
                        <p class="mt-2">Date: ____________ Channel Signature ___________<br /> Channel Name: _________________________<br /> DMA Name: ______________________ DMA seal ____________
                        </p>

                </div>

                <div class="icicibg tear-away-dis ">
                    <h6 class="icici-col-high1 text-center font-weight-bold">
                        Disbursement of Home Loan
                    </h6>
                    <p>
                        You can avail disbursement of the loan after property identified has been technically appraised, the legal documentation cleared and you have invested share of total transaction value.
                    </p>
                </div>

                <div class="icicibg tear-away-san">
                    <h6 class="icici-col-high1 text-center font-weight-bold">
                        Sanction of Home Loan
                    </h6>
                    <p>
                        Based on the income documents received by IHFC the quantum of the loan will be calculated.
                    </p>
                </div>
            </div>
        </div>

    </div>

</div>
