.transOpacity500ms {
    -webkit-transition: all 500ms ease-out 300ms;
    -o-transition: all 500ms ease-out 300ms;
    -moz-transition: all 500ms ease-out 300ms;
    transition: all 500ms ease-out 300ms;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

.typ-range {
    overflow: visible;
}
.rounded-radio .bs-radio label {
    display: block;
    background: 0 0;
    font-size: 1.09vw;
    line-height: 2.34vw;
    color: #999;
    height: auto;
    background: 0 0;
    border: 0;
    text-align: left;
    padding-left: 3.13vw;
}
.rounded-radio .bs-radio label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.34vw;
    height: 2.34vw;
    border: 1px solid #bbb;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: 0;
}
.rounded-radio .bs-radio input[type=radio]:checked+label:after {
	content: '';
	font-family: icicihfc;
	position: absolute;
    left: 0.61vw;
    top: .65vw;
	background: #fff;
	border-radius: 50%;
	width: 1.17vw;
	height: 1.17vw;
}
.rounded-radio .bs-radio input[type=radio]:checked+label:before {
	border-color: #f58220;
	background: #f58220;
}
.rounded-radio .bs-radio input[type=radio]:checked+label {
	border-color: #f58220;
	color: #f58220;
	box-shadow: none;
}

.invalid-feedback {
	font-size: .94vw;
	line-height: 1.09vw;
	font-family: zurich-bold;
    letter-spacing: .5px;
    color:red;
}
.center[_ngcontent-c2] {
    font-family: zurich-bold;
    font-size: 1.88vw;
    line-height: 3.28vw;
    color: #444;
    padding: 1.56vw 0;
    margin-top: 6vw;
}
.bs-modal p {
    margin-top: 1vw;
    font-size: 1vw
}
.center {
    text-align: center;
    margin-top: 0vw
}
.bs-modal .btn-wrap {
    display: block;
    text-align: center;
    padding: 0;
}
.btn.btn-border {
    border-radius: 3.91vw;
    color: #f58220;
    font-family: zurich-bold;
    font-size: 1.64vw;
    line-height: 2.81vw;
    text-transform: uppercase;
    padding: 0 1.56vw;
    border: 1px solid #f58220;
}
.bs-modal .modal-body .or {
    font-size: 1.41vw;
    line-height: 7.28vw;
    color: #444;
    opacity: .5;
    text-transform: uppercase;
    margin-left: 13vw;
    margin-top: 2vw;
    width: 50%
}

/* .swiper-slide {
visibility: hidden;
}

.swiper-slide.swiper-slide-active {
visibility: visible;
} */