.transOpacity500ms {
    -webkit-transition: all 500ms ease-out 300ms;
    -o-transition: all 500ms ease-out 300ms;
    -moz-transition: all 500ms ease-out 300ms;
    transition: all 500ms ease-out 300ms;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

.typ-range {
    overflow: visible;
}
.rounded-radio .bs-radio label {
    display: inline;
    font-size: 1.09vw;
    line-height: 2.34vw;
    color: #999;
    height: auto;
    background: 0 0;
    border: 0;
    text-align: left;
    padding-left: 3.13vw;
    vertical-align: inherit;
}
.rounded-radio .bs-radio {
    height: 2.5vw;
    width: 50%;
    margin: 0;
    text-align: left;
}
.rounded-radio .bs-radio label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.34vw;
    height: 2.34vw;
    border: 1px solid #bbb;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: 0;
}
.bs-radio input[type=radio] {
    opacity: 0;
    position: static;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    background: 0 0;
    z-index: 1;
}
.rounded-radio .bs-radio input[type=radio]:checked+label:after {
	content: '';
	font-family: icicihfc;
	position: absolute;
    left: 0.61vw;
    top: .65vw;
	background: #fff;
	border-radius: 50%;
	width: 1.17vw;
	height: 1.17vw;
}
.rounded-radio .bs-radio input[type=radio]:checked+label:before {
	border-color: #f58220;
	background: #f58220;
}
.rounded-radio .bs-radio input[type=radio]:checked+label {
	border-color: #f58220;
	color: #f58220;
	box-shadow: none;
}

.invalid-feedback {
	font-size: .94vw;
	line-height: 1.09vw;
	font-family: zurich-bold;
    letter-spacing: .5px;
    color:red;
}
.center[_ngcontent-c2] {
    font-family: zurich-bold;
    font-size: 1.88vw;
    line-height: 3.28vw;
    color: #444;
    padding: 1.56vw 0;
    margin-top: 6vw;
}
.bs-modal p {
    margin-top: 1vw;
    font-size: 1vw
}
.center {
    text-align: center;
    margin-top: 0vw
}
.bs-modal .btn-wrap {
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 45px;
}
.btn.btn-border {
    border-radius: 3.91vw;
    color: #f58220;
    font-family: zurich-bold;
    font-size: 1.64vw;
    line-height: 2.81vw;
    text-transform: uppercase;
    padding: 0 1.56vw;
    border: 1px solid #f58220;
    margin-left: 20px;
    /* margin-top: 4vw; */
}
.bs-modal .modal-body .or {
    font-size: 1.41vw;
    line-height: 7.28vw;
    color: #444;
    opacity: .5;
    text-transform: uppercase;
    margin-left: 13vw;
    margin-top: 2vw;
    width: 50%
}

/* .swiper-slide {
visibility: hidden;
}

.swiper-slide.swiper-slide-active {
visibility: visible;
} */

[readonly="true"] {
	cursor: not-allowed;
	pointer-events: none;   
}

.duplicate-modal-body {
    padding: 1vw 0;
}

/* .duplicate-table {
    width: 100%;
    text-align: left;
    font-size: 1.64vw;
    outline: 1px solid #333;
    overflow: scroll;
} */
/* 
.duplicate-table tr {
    outline: 1px solid #333;
} */

#duplicate-modal {
    max-width: 50vw;
    height: 80vh;
}

.duplicate-radio {
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

/* .duplicate-table td {
    vertical-align: middle;
    padding-left: 5px;
}

.duplicate-table th {
    vertical-align: middle;
    padding-left: 5px;
} */

.duplicate-btn-wrapper {
    text-align: center;
    margin-top: 15px;
}

.duplicate-btn {
    background: #004a80;
    border-radius: 3.91vw;
    color: #fff;
    font-size: .94vw;
    line-height: 2.73vw;
    text-transform: uppercase;
    padding: 0 1.56vw;
    border: 0;
    box-shadow: none;
    margin-left: 15px;
    margin-right: 15px;
}

.grey {
    background: grey;
    cursor: not-allowed;
}

.duplicate-title {
    font-family: zurich-bold;
    font-size: 2.11vw;
    line-height: 3.28vw;
    color: #004a80;
    margin-bottom: 15px;
}

.duplicate-table-heading {
    display: flex;
}

.duplicate-table-col {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

.duplicate-table-heading .duplicate-table-col {
    font-size: 1.64vw;
}

.duplicate-table-data-wrapper {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
}

.duplicate-table-data {
    display: flex;
}

.duplicate-table-data .duplicate-table-col {
    font-size: 1.2vw;
}


.otp_input_len{
    width: 28.55vw;
}

.pull-right{
    float: right;
}

.resend_otp_size {
  font-size: 15px;  
}

.timer {
    font-size: 2.5em;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    background: #ccc;
  }

.redalert {
    color: red;
    font-size: .94vw;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.with_datepicker {
    margin-bottom: -10px;
    width: 82%;
}
.kendo_date_picker{
    width: 2.1vw;
    border: none;
    margin-bottom: 30px;
    margin-left: -10%;
    
}
.k-datepicker .k-dateinput, .k-datetimepicker .k-dateinput, .k-timepicker .k-dateinput {
    width: 1%;
    border-left: 1px solid #e6e6e6;
}

