<div class="lyt-tabs">
    <div class="lhs">
        <div class="title-wrap">
            <h4 class="title">Enter applicant’s <span class="cm-line-break"></span>professional contact <span class="cm-line-break"></span>details</h4>
            <p class="note">In case, main application is currently not work-
                <span class="cm-line-break">ing, pleases enter details of the co-applicant</span>
            </p>
        </div>
    </div>
    <div class="rhs">
        <form class="bs-form">
            <div class="form-wrap">
                <div class="form-group">
                    <input type="text" class="form-control">
                    <label for="">Office address line1</label>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control">
                    <label for="">Office address line2</label>
                </div>
                <div class="form-group typ-optional">
                    <input type="text" class="form-control">
                    <label for="">Landmark</label>
                    <span class="optional">optional</span>
                </div>
                <div class="form-group typ-optional">
                    <input type="text" class="form-control">
                    <label for="">Pincode</label>
                </div>
                <div class="form-group typ-optional">
                    <input type="text" class="form-control">
                    <label for="">City/State</label>
                </div>
                <div class="residence-no">
                    <div class="form-group">
                        <input type="text" class="form-control" id="std03">
                        <label for="std03">STD</label>
                    </div>
                    <span class="seperator">-</span>
                    <div class="form-group">
                        <input type="text" class="form-control" id="res-no03" data-validation-attr="residenceno">
                        <label for="res-no03">Office number</label>
                    </div>
                </div>
                <div class="form-group typ-optional">
                    <input type="text" class="form-control" id="off-email">
                    <label for="off-email">Office email ID</label>
                </div>

            </div>

            <div class="btn-wrap">
                <button class="btn btn-primary disabled">Next</button>
            </div>
        </form>
    </div>
</div>