<div class="container_box document_list_container">
  <div style="margin-right: 15px;margin-left: 15px;">
    <div>
      <div class="document_list_panel">
        <h3 class="table-header icici-table-header uppercase">Document Check list</h3>
        <div class="main_div icicibg main_main_div top-border second_tab_header">
          <div class="space-3 text-center">Document</div>
          <div class="space-3 text-center">Individual</div>
          <div class="space-3 text-center">Self employed professional</div>
          <div class="space-3 text-center">Self employed non-professional</div>
        </div>
        <div class="main_div icicibg">
          <div class="space-3">Application form with Photographs duly signed</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
        </div>

        <div class="main_div icicibg">
          <div class="space-3">Identity Proof</div>
          <div class="space-3">
            <ul>
              <li>PAN card</li>
              <li>Passport</li>
              <li>Driving Licence</li>
              <li>Voter ID card</li>
              <li>Job card issued by NREGA</li>
            </ul>
          </div>
          <div class="space-3">
            <ul>
              <li>PAN card</li>
              <li>Passport</li>
              <li>Driving Licence</li>
              <li>Voter ID card</li>
              <li>Job card issued by NREGA</li>
            </ul>
          </div>
          <div class="space-3">
            <ul>
              <li>PAN card</li>
              <li>Passport</li>
              <li>Driving Licence</li>
              <li>Voter ID card</li>
              <li>Job card issued by NREGA</li>
            </ul>
          </div>
        </div>

        <div class="main_div icicibg">
          <div class="space-3">Address Proof</div>
          <div class="space-3">
            <ul>
              <li>Passport</li>
              <li>Driving Licence</li>
              <li>Voter ID card</li>
              <li>Job card issued by NREGA</li>
            </ul>
          </div>
          <div class="space-3">
            <ul>
              <li>Passport</li>
              <li>Driving Licence</li>
              <li>Voter ID card</li>
              <li>Job card issued by NREGA</li>
            </ul>
          </div>
          <div class="space-3">
            <ul>
              <li>Passport</li>
              <li>Driving Licence</li>
              <li>Voter ID card</li>
              <li>Job card issued by NREGA</li>
            </ul>
          </div>
        </div>

        <div class="main_div icicibg">
          <div class="space-3">Proof of Income</div>
          <div class="space-9">
            <div class="main_div doc_list_bor">
              <div class="space-4">
                Latest 6 months bank statement from salary account
              </div>
              <div class="space-4">
                Latest 6 months bank statement from salary account
              </div>
              <div class="space-4">
                Latest 6 months bank statement from salary account
              </div>
            </div>

            <div class="main_div doc_list_bor">
              <div class="space-4">
                Latest 3 months salary slips
              </div>
              <div class="space-4 text-center">
                NA
              </div>
              <div class="space-4 text-center">
                NA
              </div>
            </div>


            <div class="main_div doc_list_bor">
              <div class="space-4">
                Form 16/ Income Tax Returns
              </div>
              <div class="space-4">
                Income Tax Returns
              </div>
              <div class="space-4">
                Income Tax Returns
              </div>
            </div>

            <div class="main_div doc_list_bor">
              <div class="space-4 text-center">
                NA
              </div>
              <div class="space-4">
                Educational Qualification certificate
              </div>
              <div class="space-4 text-center">
                NA
              </div>
            </div>

            <div class="main_div doc_list_bor">
              <div class="space-4 text-center">
                NA
              </div>
              <div class="space-4">
                Latest 3 years Financial
                <ul>
                  <li>Computation of Income</li>
                  <li>Balance Sheet & Profit & Loss Account (with Schedules and Audit Report)</li>
                </ul>
              </div>
              <div class="space-4">
                Latest 6 months bank statement from salary account
                <ul>
                  <li>Computation of Income</li>
                  <li>Balance Sheet & Profit & Loss Account (with Schedules and Audit Report)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div class="main_div icicibg">
          <div class="space-3">Office address Proof</div>
          <div class="space-3 text-center">NA</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
        </div>

        <div class="main_div icicibg">
          <div class="space-3">Proof of business Stability/existence</div>
          <div class="space-3 text-center">NA</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
        </div>

        <div class="main_div icicibg">
          <div class="space-3">Business profile</div>
          <div class="space-3 text-center">NA</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
        </div>

        <div class="main_div icicibg">
          <div class="space-3">Repayment Track Report (RTR) for existing loans for last 12 months</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
        </div>

        <div class="main_div icicibg">
          <div class="space-3">Property Documents</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
        </div>

        <div class="main_div icicibg">
          <div class="space-3">Processing Fee Cheque</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
          <div class="space-3 tick_mark">&#x2713;</div>
        </div>

        <div class=" space-12 other_doc_container page-break">
          <h3 class="table-header icici-table-header uppercase other_doc_title">OTHER ADDITIONAL DOCUMENT FOR ENTITY
          </h3>

          <div class="main_div second_tab_header">
            <div class="space-4 text-center">Partnership</div>
            <div class="space-4 text-center">Limited Liability Co.</div>
            <div class="space-4 text-center">Pvt. Ltd. Co.</div>
          </div>

          <div class="main_div icicibg">
            <div class="space-4">
              <ul class="disc_bulletin">
                <li>PAN Card</li>
                <li>Partnership Deed</li>
                <li>List of partners with profit sharing ratios</li>
                <li>Certified by all partners</li>
                <li>Partners-KYC as applicable for Individuals</li>
                <li>Registration Certificate</li>
                <li>Address Proof</li>
              </ul>
            </div>
            <div class="space-4">
              <ul class="disc_bulletin">
                <li>PAN Card</li>
                <li>LLP Agreement</li>
                <li>Certificate of Incorporation</li>
                <li>LLP Board Resolution</li>
                <li>Address Proof</li>
                <li>Share holding Structure</li>
                <li>Authorised Signatories & Beneficial <br>Owners KYC as applicable for individuals</li>
              </ul>
            </div>
            <div class="space-4">
              <ul class="disc_bulletin">
                <li>PAN Card</li>
                <li>MOA and AOA</li>
                <li>List of Directors/Certified by CA/CS</li>
                <li>Share holding pattern – Verified by CA/CS</li>
                <li>Board Resolution</li>
                <li>Certificate of Incorporation</li>
                <li>Address Proof</li>
                <li>Authorised Signatories & Beneficial <br>Owners KYC as applicable for individuals</li>
              </ul>
            </div>
          </div>
          <div class="main_div">
            <div class="space-12 footer">
              Additional documents where Company is the owner - MOE or any other document as mandated by legal
            </div>
          </div>
        </div>



        <p>PAN or Form 60 is mandatory for applying for Home Loan. Where Form 60 is furnished, the customer is required
          to provide an additional original valid document.</p>

        <div class="main_div" style="page-break-inside: avoid;">
          <div class="space-12">
            <h3 class="table-header icici-table-header uppercase other_doc_title">11 DESCRIPTION OF CHARGES</h3>

          </div>

          <table class="charge_table space-12">
            <tbody>
              <tr>
                <td>Processing/Administrative Fees (Charged at the time of sanction)</td>
                <td>0.50% - 1.00% of loan amount or 2000/- whichever is higher plus applicable taxes and /or other
                  statutory levies if any</td>
              </tr>
              <tr>
                <td>Part Pre Payment Fees</td>
                <td>Nil</td>
              </tr>
              <tr>
                <td>Cheque /ECS dishonour charges, per transaction</td>
                <td>&#x20b9; 200/- or such other amount as may be specified by IHFC from time to time plus applicable
                  taxes and other statutory levies</td>
              </tr>
              <tr>
                <td>Document Retrieval Charges</td>
                <td>&#x20b9; 500/- (Rupees Five Hundred Only) plus applicable taxes and/or other statutory levies if any
                </td>
              </tr>

              <tr>
                <td>Cheque/Repayment mode swap charges</td>
                <td>&#x20b9; 200/- plus applicable taxes and/or other statutory levies if any</td>
              </tr>
              <tr>
                <td>Cheque representation charges</td>
                <td>Charges for late payment/Additional al interest: 2% per month plus applicable taxes if any</td>
              </tr>
              <tr>
                <td>Charges per EMI for payment after due date</td>
                <td>&#x20b9; 200/- plus applicable taxes and/or other statutory levies if any</td>
              </tr>
              <tr>
                <td>Penalty for delayed payment</td>
                <td>Charges for late payment/Additional al interest: 2% per month plus applicable taxes if any</td>
              </tr>
              <tr>
                <td>Charges for Amortisation Schedule</td>
                <td>&#x20b9; 100/- (One Hundred Only) plus applicable taxes and/or other statutory levies if any</td>
              </tr>
              <tr>
                <td>Charges for Statement account</td>
                <td>&#x20b9; 100/- (One Hundred Only) plus applicable taxes and/or other statutory levies if any</td>
              <tr>
                <td>Charges for prepayment statement</td>
                <td>&#x20b9; 100/- (One Hundred Only) plus applicable taxes and/or other statutory levies if any</td>
              </tr>
              <tr>
                <td>Charges for duplicate NOC/No due certificate</td>
                <td>&#x20b9; 100/- (One Hundred Only) plus applicable taxes and/or other statutory levies if any</td>
              </tr>
              <tr>
                <td>Charges for revalidation of NOC</td>
                <td>&#x20b9; 100/- (One Hundred Only) plus applicable taxes and/or other statutory levies if any</td>
              </tr>
              <tr>
                <td>Conversion charges</td>
                <td>Please refer to the website/branch official for charges as applicable at the time of conversion</td>
              </tr>
              <tr>
                <td>Prepayment Charges</td>
                <td>Please refer to the website /branch official for charges as applicable</td>
              </tr>
            </tbody>
          </table>

        </div>
        <p>
          <strong>Note:</strong> GST and other Government taxes, levies, etc, applicable as per the prevailing rate will
          be charged over and above these charges. The above mentioned charges or subject to change. For the latest Home
          Loan charges. Please get in touch with IHFC representative.
          For the detailed Terms & Conditions governing facilities for/against properties and grievance redressal,
          please visit our website www.icicihfc.com or get in touch with IHFC representative.
        </p>
      </div>
      <div class="space-12 space-lg-12">
				<img src="assets/images/form-horizontal.png" class="pradhan-img">
			</div>
    </div>
  </div>
</div>