<button class="btn btn-default" routerLink="/admin/lovs/pmay_list">Go Back</button><br><br>
<form [formGroup]="registerUser" (ngSubmit)="onSubmit()"  autocomplete="off" class="add-pmay">
    <div class="inputBox form-field-el">
            <label for="stateCode" class="inputText">State code: *</label>
            <input type="text" id="stateCode" [(ngModel)]="stateCode" class="form-control" formControlName="stateCode" fieldFill autocomplete="nope"/> 
    </div>
    <div class="inputBox form-field-el">
            <label for="distCode" class="inputText">Dist code: *</label>
            <input type="text" id="distCode" [(ngModel)]="distCode" class="form-control" fieldFill formControlName="distCode" autocomplete="nope"/>
    </div>
     <div class="inputBox form-field-el">
        <label for="stateName" class="inputText">State name: *</label>
        <input type="text" id="stateName" [(ngModel)]="stateName" class="form-control" fieldFill formControlName="stateName" autocomplete="nope"/>
    </div>
    <div class="inputBox form-field-el">
        <label for="distName" class="inputText">Dist name: *</label>
        <input type="text" id="distName" [(ngModel)]="distName"  class="form-control" fieldFill formControlName="distName" autocomplete="nope" />
    </div>
    <div class="inputBox form-field-el">
        <label for="townName" class="inputText">Town name: *</label>
        <input type="text" id="townName" [(ngModel)]="townName"  class="form-control" fieldFill formControlName="townName" autocomplete="nope" />
    </div>
    <div class="inputBox form-field-el">
        <label for="townCode" class="inputText">Town code: *</label>
        <input type="text" id="townCode" [(ngModel)]="townCode" class="form-control" fieldFill formControlName="townCode" autocomplete="nope" />
    </div>
    <div class="inputBox form-field-el">
        <label for="subDistCode" class="inputText">Sub dist code: *</label>
        <input type="text" id="subDistCode" [(ngModel)]="subDistCode"  class="form-control" fieldFill formControlName="subDistCode" autocomplete="nope" />
    </div>
    <div class="inputBox form-field-el">
        <button type="submit" class="btn btn-default" 
        [disabled]="!registerUser.valid" 
        [ngClass]="{'disabled':!registerUser.valid}"> Submit   </button>
        <p class="redalert user-hint" *ngIf="!registerUser.valid">*All Fields are Mandatory</p>
    </div> 

</form>
<div class="overlay" [ngClass]="{'active': isErrorModal}">
        <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}">
            <a class="modal-close" (click)="isErrorModal = false"><span class="icon icon-close"></span></a>
            <div class="modal-body">
                <h1>{{errorMsg}}</h1>
                <br><br>
                <div class="btn-wrap">
                    <button class="btn btn-border" (click)="isErrorModal = false">Close</button>
                </div>
            </div>
        </div>
    </div>