<div class="form-wrap">
  <div class="form-group">

    <div class=" flex-container">

      <div class=" bs-lead-card" routerLink='/addtional-service/application-print'>
        <div class="first ">
          <img src="../../../assets/images/printer-64.png" alt="printer">
        </div>
        <div class="second">Application Form Printing </div>
      </div>

      <div class=" bs-lead-card">
        <div class="first icon icon-doc-upload"></div>
        <span class="second">Document Upload </span>
      </div>

      <div class=" bs-lead-card">
        <div class="first icon icon-leads"></div>
        <span class="second">Query</span>
      </div>

      <div class=" bs-lead-card">
        <div class="first icon icon-lease"></div>
        <span class="second">Raise a request – </span>
        <span class="second">Disbursement, Processing fees </span>
      </div>

      <div class=" bs-lead-card">
        <div class="first icon icon-performance"></div>
        <span class="second">Report Extraction</span>
      </div>

    </div>

  </div>
</div>


















<!-- <div class="form-wrap">
  <div class="form-group">
    <div class="row">
      <div class="col-4 bs-lead-card" routerLink='/addtional-service/application-print'>
        <div class="first ">
          <img src="../../../assets/images/printer-64.png" alt="printer">
        </div>
        <div class="second">Application Form Printing </div>
      </div>
      <div class="col-4 bs-lead-card">
        <div class="first icon icon-doc-upload"></div>
        <span class="second">Document Upload </span>
      </div>
      <div class="col-4 bs-lead-card">
        <div class="first icon icon-leads"></div>
        <span class="second">Query</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4 bs-lead-card">
        <div class="first icon icon-lease"></div>
        <span class="second">Raise a request – </span>
        <span class="second">Disbursement, Processing fees </span>
      </div>
      <div class="col-4 bs-lead-card">
        <div class="first icon icon-performance"></div>
        <span class="second">Report Extraction</span>
      </div>
    </div>
  </div>
</div> -->