<main>
    <div class="main">
        <div class="lyt-box">
            <h3 class="title">
                <span class="num">01</span>
                <span class="text">
                    <span>Review</span>
                <span>Application Form</span>
                </span>
            </h3>
            <div class="cont">
                <p>A copy of this has been sent to your registered email address as well.</p>

                <form   #applicantIndividualForm="ngForm">
                        <app-view-form-applicant
                        [applicationId]="applicationId"
                        [isCoApplicant]="true"
                        [qde]="qde"
                        [applicantIndex]="applicantIndex"
                        [dob]="dob[applicantIndex]"
                        [residenceNumberStdCode]="residenceNumberStdCode[applicantIndex]"
                        [residenceNumberPhoneNumber]="residenceNumberPhoneNumber[applicantIndex]"
                        [alternateResidenceNumberStdCode]="alternateResidenceNumberStdCode[applicantIndex]"
                        [alternateResidenceNumberPhoneNumber]="alternateResidenceNumberPhoneNumber[applicantIndex]"
                        [addressCityState]="addressCityState[applicantIndex]"
                        [permAddressCityState]="permAddressCityState[applicantIndex]"
                        [otherReligion]="otherReligion[applicantIndex]"
                        [organizationDetails]="organizationDetails[applicantIndex]"
                        [registeredAddressCityState]="registeredAddressCityState[applicantIndex]"
                        [corporateAddressCityState]="corporateAddressCityState[applicantIndex]"
                        [corporateAddressStdCode]="corporateAddressStdCode[applicantIndex]"
                        [corporateAddressPhoneNumber]="corporateAddressPhoneNumber[applicantIndex]"
                        [coApplicantsForDashboard]="coApplicantsForDashboard[applicantIndex]"
                        [officialCorrespondenceStdCode]="officialCorrespondenceStdCode[applicantIndex]"
                        [officialCorrespondencePhoneNumber]="officialCorrespondencePhoneNumber[applicantIndex]"
                        [officialCorrespondenceCityState]="officialCorrespondenceCityState[applicantIndex]"
                        [religions]="religions"
                        [qualifications]="qualifications"
                        [occupations]="occupations"
                        [residences]="residences"
                        [titles]="titles"
                        [maleTitles]="maleTitles"
                        [femaleTitles]="femaleTitles"
                        [maritals]="maritals"
                        [relationships]="relationships"
                        [loanpurposes]="loanpurposes"
                        [categories]="categories"
                        [genders]="genders"
                        [constitutions]="constitutions"
                        [days]="days"
                        [months]="months"
                        [years]="years"
                        [assessmentMethodology]="assessmentMethodology"
                        [selectedTitle]="selectedTitle[applicantIndex]"
                        [selectedReligion]="selectedReligion[applicantIndex]"
                        [selectedMaritialStatus]="selectedMaritialStatus[applicantIndex]"
                        [selectedCategory]="selectedCategory[applicantIndex]"
                        [selectedOccupation]="selectedOccupation[applicantIndex]"
                        [selectedResidence]="selectedResidence[applicantIndex]"
                        [permSelectedResidence]="permSelectedResidence[applicantIndex]"
                        [selectedSpouseTitle]="selectedSpouseTitle[applicantIndex]"
                        [selectedFatherTitle]="selectedFatherTitle[applicantIndex]"
                        [selectedMotherTitle]="selectedMotherTitle[applicantIndex]"
                        [selectedQualification]="selectedQualification[applicantIndex]"
                        [selectedGender]="selectedGender[applicantIndex]"
                        [selectedConstitution]="selectedConstitution[applicantIndex]"
                        [selectedDocType]="selectedDocType[applicantIndex]"
                        [docType]="docType"
                        [selectedAssesmentMethodology]="selectedAssesmentMethodology[applicantIndex]"
                        [isIncomplete]="isIncomplete">
                    </app-view-form-applicant>
                    </form>

                    <form   #coApplicantIndividualForm="ngForm">
                            <app-view-form-applicant
                            [showEdit]="false"
                            *ngFor="let c of coApplicantIndexes"
                            [applicationId]="applicationId"
                            [isCoApplicant]="true"
                            [qde]="qde"
                            [applicantIndex]="c"
                            [dob]="dob[c]"
                            [residenceNumberStdCode]="residenceNumberStdCode[c]"
                            [residenceNumberPhoneNumber]="residenceNumberPhoneNumber[c]"
                            [alternateResidenceNumberStdCode]="alternateResidenceNumberStdCode[c]"
                            [alternateResidenceNumberPhoneNumber]="alternateResidenceNumberPhoneNumber[c]"
                            [addressCityState]="addressCityState[c]"
                            [permAddressCityState]="permAddressCityState[c]"
                            [otherReligion]="otherReligion[c]"
                            [organizationDetails]="organizationDetails[c]"
                            [registeredAddressCityState]="registeredAddressCityState[c]"
                            [corporateAddressCityState]="corporateAddressCityState[c]"
                            [corporateAddressStdCode]="corporateAddressStdCode[c]"
                            [corporateAddressPhoneNumber]="corporateAddressPhoneNumber[c]"
                            [coApplicantsForDashboard]="coApplicantsForDashboard[c]"
                            [officialCorrespondenceStdCode]="officialCorrespondenceStdCode[c]"
                            [officialCorrespondencePhoneNumber]="officialCorrespondencePhoneNumber[c]"
                            [officialCorrespondenceCityState]="officialCorrespondenceCityState[c]"
                            [religions]="religions"
                            [qualifications]="qualifications"
                            [occupations]="occupations"
                            [residences]="residences"
                            [titles]="titles"
                            [maleTitles]="maleTitles"
                            [femaleTitles]="femaleTitles"
                            [maritals]="maritals"
                            [relationships]="relationships"
                            [loanpurposes]="loanpurposes"
                            [categories]="categories"
                            [genders]="genders"
                            [constitutions]="constitutions"
                            [days]="days"
                            [months]="months"
                            [years]="years"
                            [assessmentMethodology]="assessmentMethodology"
                            [selectedTitle]="selectedTitle[c]"
                            [selectedReligion]="selectedReligion[c]"
                            [selectedMaritialStatus]="selectedMaritialStatus[c]"
                            [selectedCategory]="selectedCategory[c]"
                            [selectedOccupation]="selectedOccupation[c]"
                            [selectedResidence]="selectedResidence[c]"
                            [permSelectedResidence]="permSelectedResidence[c]"
                            [selectedSpouseTitle]="selectedSpouseTitle[c]"
                            [selectedFatherTitle]="selectedFatherTitle[c]"
                            [selectedMotherTitle]="selectedMotherTitle[c]"
                            [selectedQualification]="selectedQualification[c]"
                            [selectedGender]="selectedGender[c]"
                            [selectedConstitution]="selectedConstitution[c]"
                            [selectedDocType]="selectedDocType[c]"
                            [docType]="docType"
                            [selectedAssesmentMethodology]="selectedAssesmentMethodology[c]"
                            [isIncomplete]="isIncomplete">
                        </app-view-form-applicant>
                        </form>

                <div class="tab-content" id="loan-tab">
                    <h2 class="title">Loan details</h2>
                    <div class="bs-card">
                        <h3 class="card-title">Loan amount</h3>
                        <form action="" class="bs-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group inr filled">
                                          <input type="text" class="form-control" id="amt-require" readonly="true"
                                          required
                                          ngModel
                                          [(ngModel)]="qde?.application.loanDetails.loanAmount.amountRequired"
                                          #amountRequired = "ngModel"
                                          name="amountRequired"
                                          fieldFill>
                                        <label for="amt-require">Amount required </label>
                                        <span class="addon">
                                            <span class="icon icon-inr"></span>
                                        </span>
                                        <span class="in-word"></span>
                                    </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-12">
                                    <div class="form-group filled">
                                      <span class="control-title">Type of Loan</span>
                                     <kendo-dropdownlist 
                                          class="form-control"
                                          name="loanType"
                                          [data]="loanType" 
                                          textField="key"
                                          valueField="value"
                                          [valuePrimitive]="true"
                                          [(ngModel)]="selectedLoanType">
                                          </kendo-dropdownlist>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                  <div class="col-12">
                                      <div class="form-group filled">
                                        <span class="control-title">Loan Purpose</span>
                                        <kendo-dropdownlist 
                                          class="form-control"
                                          name="loanPurpose"
                                          [data]="loanpurposes" 
                                          textField="key"
                                          valueField="value"
                                          [valuePrimitive]="true"
                                          [(ngModel)]="selectedLoanPurpose">
                                      </kendo-dropdownlist>
                                      </div>
                                  </div>
                              </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group inr filled">
                                        <input type="text" class="form-control" id="no-yrs" readonly="true"
                                        required
                                        ngModel
                                        pattern="^[A-Za-z]*$"
                                        [(ngModel)]="qde?.application.tenure"
                                        #amountRequired = "ngModel"
                                        name="loanTenure"
                                        fieldFill>
                                      <label for="loan-tenure">Loan Tenure(in Years)</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="bs-card">
                        <h3 class="card-title">Property</h3>
                        <form action="" class="bs-form">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="subtitle">Have you identified property?</h5>
                                    <div class="bs-radio">
                                        <input readonly="true"  type="radio" name="pro-id" [value]=true [(ngModel)]="isPropertyIdentified">
                                       <label for="pro-yes"><span>Yes</span></label>
                                    </div>
                                    <div class="bs-radio">
                                        <input readonly="true"  type="radio" name="pro-id" [value]=false [(ngModel)]="isPropertyIdentified">
                                        <label for="pro-no"><span>No</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-card">
                                <h4 class="inner-title">Property address</h4>
                                <div class="row">
                                      <div class="col-12">
                                          <div class="form-group">
                                                  <span class="control-title">Property type</span>
                                                  <kendo-dropdownlist 
                                                    class="form-control" 
                                                    name="propertyTypes1" 
                                                    [data]="propertyTypes" 
                                                    textField="key" 
                                                    valueField="value"
                                                    [valuePrimitive]="true" 
                                                    [(ngModel)]="selectedPropertyType">
                                                  </kendo-dropdownlist>
                                          </div>
                                      </div>
                                  </div> 
                                  <div class="row">
                                          <div class="col-12">
                                              <div class="form-group">
                                                  <input ngModel 
                                                      type="text" 
                                                      class="form-control" 
                                                      id="pro-add-line1" 
                                                      name="propertyArea"
                                                      #propertyClss="ngModel"
                                                      [(ngModel)]="propertyClssValue"
                                                      fieldFill
                                                      required>
                                                  <label for="prop-add1">Property CLSS Area</label>
                                              </div>
                                          </div>
                                  </div> 
                                  <div class="row">
                                              <div class="col-12">
                                                  <div class="form-group">
                                                          <input ngModel type="number" class="form-control" id="pro-add-line2" 
                                                          name="propertyAreaInSqFeets"
                                                          #propertyArea="ngModel"
                                                          [(ngModel)]="propertyAreaValue"
                                                          fieldFill
                                                          required/>
                                                      <label for="prop-add1">Property area in sq. fts.</label>
                                                  </div>
                                              </div>
                                  </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                              <input type="text" class="form-control"
                                              id="add-line1"
                                              required
                                              ngModel
                                              #proaddressLineOne="ngModel"
                                              [(ngModel)]="addressLineOneValue"
                                              name="proaddressLineOne"
                                              fieldFill/>
                                            <label for="prop-add1">Property address 1</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                              <input type="text" class="form-control" id="add-line2"
                                              required
                                              ngModel
                                              #addressLineTwo = "ngModel"
                                              fieldFill
                                              [(ngModel)]="addressLineTwoValue"
                                              name="addressLineTwo"/>
                                            <label for="prop-add2">Property address 2</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group filled">
                                              <input type="text" class="form-control" id="proprty-pin"
                                              required
                                              ngModel
                                              #propertyPincode = "ngModel"
                                              [(ngModel)]="propertyPincodeValue"
                                              minlength="6"
                                              maxlength="6"
                                              name="propertyPincode"
                                              fieldFill
                                              (change)="onPinCodeChange($event)">
                                            <label for="prop-pin">Property pincode</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                              <input type="text" class="form-control" id="pro-city2"
                                              required
                                              ngModel
                                              #cityOrState = "ngModel"
                                              [(ngModel)] = "cityState"
                                              fieldFill
                                              disabled
                                              name="cityOrState" />
                                            <label for="prop-city">Property City/State</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="bs-card">
                        <h3 class="card-title">Existing Loan</h3>
                        <form action="" class="bs-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group typ-range">
                                        <span class="subtitle">Existing live loans</span>
                                        <input readonly="true"  type="text" class="form-control" id="no-yrs">
                                        <span class="yr-text">Loans</span>
                                        <div id="year-range" class="range-slider typ-number"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> -->
                    <div class="bs-card">
                        <h3 class="card-title">Existing Loan</h3>
                        <form action="" class="bs-form">
                            <!-- <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span class="control-title">Existing loan type</span>
                                        <select class="js-select" name="loan-type" required>
                                            <option value="" selected>Home loan</option>
                                            <option value="Ms">Car loan</option>
                                            <option value="Mrs">Home loan</option>
                                            <option value="Dr">Personal loan</option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group typ-range">
                                        <span class="subtitle">Existing live loans</span>
                                        <input type="text" class="form-control" id="live-Loan"
                                          required
                                          #monthlyEmi = "ngModel"
                                          [(ngModel)]="liveLoan"
                                          fieldFill
                                          name="liveLoan">
                                        <span class="yr-text">Loans</span>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-card">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <span class="control-title">Existing loan provider</span>
                                            <kendo-dropdownlist 
                                              class="form-control" 
                                              name="loanProvider" 
                                              [data]="loanProviderList" 
                                              textField="key" 
                                              valueField="value"
                                              [valuePrimitive]="true" 
                                              [(ngModel)]="selectedLoanProvider">
                                              </kendo-dropdownlist>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- <div class="col-6">
                                        <div class="form-group inr filled">
                                            <input readonly="true"  type="text" class="form-control" id="ex-loan-amt" value="12,45,604">
                                            <label for="ex-loan-amt">Existing loan amount</label>
                                            <span class="addon">
                                                <span class="icon icon-inr"></span>
                                            </span>
                                            <span class="in-word"></span>
                                        </div>
                                    </div> -->
                                    <div class="col-6">
                                        <div class="form-group inr filled">
                                              <input type="text" class="form-control" id="monthly-emi"
                                              required
                                              ngModel
                                              #monthlyEmi = "ngModel"
                                              [(ngModel)]="monthlyEmiValue"
                                              fieldFill
                                              name="monthlyEmi">                                          
                                              <label for="ex-emi">Existing monthly EMI</label>
                                            <span class="addon">
                                                <span class="icon icon-inr"></span>
                                            </span>
                                            <span class="in-word"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                </div>

                <div class="tab-content" id="reference-tab">
                    <h2 class="title">Reference details</h2>
                    <div class="bs-card">
                        <h3 class="card-title">Reference 1</h3>
                        <form action="" class="bs-form">
                            <div class="inner-card">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <span class="control-title">Relationship with the applicant</span>
                                            <kendo-dropdownlist class="form-control"
                                            [data]="relationships" 
                                            textField="key"
                                            valueField="value"
                                            name="relationShip"
                                            [valuePrimitive]="true"
                                            [(ngModel)]="selectedReferenceOne">
                                          </kendo-dropdownlist>
              
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-6">
                                      <div class="form-group">
                                          <span class="control-title">Title</span>
                                          <kendo-dropdownlist 
                                            class="form-control" 
                                            [data]="titles" 
                                            textField="key" 
                                            valueField="value" 
                                            name="titles"
                                            [valuePrimitive]="true" 
                                            [(ngModel)]="selectedTiltle1">
                                          </kendo-dropdownlist>
                                      </div>
                                  </div>
                                  <div class="col-6">
                                      <div class="form-group">
                                          <input type="text" class="form-control"
                                          required
                                          ngModel
                                          name="fullName" 
                                          id="ref1-name"
                                          #refOneFullName="ngModel"
                                          fieldFill 
                                          [(ngModel)]="selectedName1">
                                          <label for="ref1-name">Name</label>
                                      </div>
                                  </div>
                              </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                          <input type="text" class="form-control"
                                          required 
                                          ngModel
                                          id="ref1-mobile"  
                                          name="mobileNumber"
                                          minlength="10"
                                          maxlength="10"
                                          fieldFill 
                                          #refOneMobileNumber="ngModel"
                                          [(ngModel)]="selectedMobile1">
                                            <label for="ref1-mob">Mobile</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                          <input type="text" class="form-control" id="ref1-add1"  
                                          required
                                          ngModel
                                          name="addressLineOne" 
                                          fieldFill
                                          #refOneAddressLineOne="ngModel"
                                          [(ngModel)]="selectedAddressLineOne1">
                                            <label for="ref1-add1">Address line 1</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                          <input type="text" class="form-control" id="ref1-add2" 
                                          required
                                          ngModel
                                          name="addressLineTwo" 
                                          fieldFill
                                          #refOneAddressLineTwo="ngModel"
                                          [(ngModel)]="selectedAddressLineTwo1">
                                            <label for="ref1-add2">Address line 2</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="bs-card">
                        <h3 class="card-title">Reference 2</h3>
                        <form action="" class="bs-form">
                            <div class="inner-card">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <span class="control-title">Relationship with the applicant</span>
                                            <kendo-dropdownlist 
                                            class="form-control"
                                            [data]="relationships" 
                                            textField="key"
                                            valueField="value"
                                            name="relationShip"
                                            [valuePrimitive]="true"
                                            [(ngModel)]="selectedReferenceTwo">
                                          </kendo-dropdownlist>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                          <div class="form-group">
                                          <span class="control-title">Title</span>
                                              <kendo-dropdownlist 
                                              class="form-control" 
                                              [data]="titles" 
                                              textField="key" 
                                              valueField="value" 
                                              name="titles"
                                              [valuePrimitive]="true" 
                                              [(ngModel)]="selectedTiltle2">
                                              </kendo-dropdownlist>
                                          </div>
                                    </div>
                                    <div class="col-6">
                                          <div class="form-group">
                                            <input type="text" class="form-control"
                                            ngModel
                                            name="fullName" 
                                            id="ref2-name"
                                            #refTwoFullName="ngModel"
                                            required
                                            fieldFill
                                            [(ngModel)]="selectedName2">
                                              <label for="ref2-name">Name</label>
                                          </div>
                                      </div>
    
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                              <input type="text" class="form-control" id="ref2-mobile" 
                                              name="mobileNumber"  
                                              ngModel 
                                              minlength="10"
                                              maxlength="10"
                                              #refTwoMobileNumber="ngModel"
                                              fieldFill
                                              required
                                              [(ngModel)]="selectedMobile2">
                                            <label for="ref2-mob">Mobile</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                              <input type="text" class="form-control" id="ref2-add1"
                                              name="addressLineOne"
                                              ngModel
                                              #refTwoAddressLineOne="ngModel"
                                              required
                                              fieldFill
                                              [(ngModel)]="selectedAddressLineOne2">
                                            <label for="ref2-add1">Address line 1</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                              <input type="text" class="form-control" id="ref2-add2"
                                              name="addressLineTwo" 
                                              ngModel 
                                              #refTwoAddressLineTwo="ngModel"
                                              required
                                              fieldFill
                                              [(ngModel)]="selectedAddressLineTwo2">
                                            <label for="ref2-add2">Address line 2</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>


                <div class="btn-wrap">
                    <button class="btn btn-primary" [routerLink]="['/static/terms-and-conditions/declaration1', applicationId, applicantId]">CONTINUE</button>
                </div>
                <!-- <div class="btn-wrap">
                    <button class="btn btn-border typ2">PROCEED TO Terms & conditions</button>
                </div> -->
            </div>

        </div>
    </div>

</main>