<main>
    <div class="main">
        <div class="lyt-box">
            <h3 class="title">
                <span class="num">01</span>
                <span class="text">
                    <span>Review</span>
                <span>Application Form</span>
                </span>
            </h3>
            <div class="cont">
                <p>A copy of this has been sent to your registered email address as well.</p>

                <form   #applicantIndividualForm="ngForm">
                        <app-view-form-applicant
                        [applicationId]="applicationId"
                        [isCoApplicant]="true"
                        [qde]="qde"
                        [applicantIndex]="applicantIndex"
                        [dob]="dob[applicantIndex]"
                        [residenceNumberStdCode]="residenceNumberStdCode[applicantIndex]"
                        [residenceNumberPhoneNumber]="residenceNumberPhoneNumber[applicantIndex]"
                        [alternateResidenceNumberStdCode]="alternateResidenceNumberStdCode[applicantIndex]"
                        [alternateResidenceNumberPhoneNumber]="alternateResidenceNumberPhoneNumber[applicantIndex]"
                        [addressCityState]="addressCityState[applicantIndex]"
                        [otherReligion]="otherReligion[applicantIndex]"
                        [organizationDetails]="organizationDetails[applicantIndex]"
                        [registeredAddressCityState]="registeredAddressCityState[applicantIndex]"
                        [corporateAddressCityState]="corporateAddressCityState[applicantIndex]"
                        [corporateAddressStdCode]="corporateAddressStdCode[applicantIndex]"
                        [corporateAddressPhoneNumber]="corporateAddressPhoneNumber[applicantIndex]"
                        [coApplicantsForDashboard]="coApplicantsForDashboard[applicantIndex]"
                        [officialCorrespondenceStdCode]="officialCorrespondenceStdCode[applicantIndex]"
                        [officialCorrespondencePhoneNumber]="officialCorrespondencePhoneNumber[applicantIndex]"
                        [religions]="religions"
                        [qualifications]="qualifications"
                        [occupations]="occupations"
                        [residences]="residences"
                        [titles]="titles"
                        [maleTitles]="maleTitles"
                        [femaleTitles]="femaleTitles"
                        [maritals]="maritals"
                        [relationships]="relationships"
                        [loanpurposes]="loanpurposes"
                        [categories]="categories"
                        [genders]="genders"
                        [constitutions]="constitutions"
                        [days]="days"
                        [months]="months"
                        [years]="years"
                        [assessmentMethodology]="assessmentMethodology"
                        [selectedTitle]="selectedTitle[applicantIndex]"
                        [selectedReligion]="selectedReligion[applicantIndex]"
                        [selectedMaritialStatus]="selectedMaritialStatus[applicantIndex]"
                        [selectedCategory]="selectedCategory[applicantIndex]"
                        [selectedOccupation]="selectedOccupation[applicantIndex]"
                        [selectedResidence]="selectedResidence[applicantIndex]"
                        [selectedSpouseTitle]="selectedSpouseTitle[applicantIndex]"
                        [selectedFatherTitle]="selectedFatherTitle[applicantIndex]"
                        [selectedMotherTitle]="selectedMotherTitle[applicantIndex]"
                        [selectedQualification]="selectedQualification[applicantIndex]"
                        [selectedGender]="selectedGender[applicantIndex]"
                        [selectedConstitution]="selectedConstitution[applicantIndex]"
                        [selectedDocType]="selectedDocType[applicantIndex]"
                        [docType]="docType"
                        [selectedAssesmentMethodology]="selectedAssesmentMethodology[applicantIndex]"
                        [isIncomplete]="isIncomplete">
                    </app-view-form-applicant>
                    </form>

                    <form   #coApplicantIndividualForm="ngForm">
                            <app-view-form-applicant
                            [showEdit]="false"
                            *ngFor="let c of coApplicantIndexes"
                            [applicationId]="applicationId"
                            [isCoApplicant]="true"
                            [qde]="qde"
                            [applicantIndex]="c"
                            [dob]="dob[c]"
                            [residenceNumberStdCode]="residenceNumberStdCode[c]"
                            [residenceNumberPhoneNumber]="residenceNumberPhoneNumber[c]"
                            [alternateResidenceNumberStdCode]="alternateResidenceNumberStdCode[c]"
                            [alternateResidenceNumberPhoneNumber]="alternateResidenceNumberPhoneNumber[c]"
                            [addressCityState]="addressCityState[c]"
                            [otherReligion]="otherReligion[c]"
                            [organizationDetails]="organizationDetails[c]"
                            [registeredAddressCityState]="registeredAddressCityState[c]"
                            [corporateAddressCityState]="corporateAddressCityState[c]"
                            [corporateAddressStdCode]="corporateAddressStdCode[c]"
                            [corporateAddressPhoneNumber]="corporateAddressPhoneNumber[c]"
                            [coApplicantsForDashboard]="coApplicantsForDashboard[c]"
                            [officialCorrespondenceStdCode]="officialCorrespondenceStdCode[c]"
                            [officialCorrespondencePhoneNumber]="officialCorrespondencePhoneNumber[c]"
                            [religions]="religions"
                            [qualifications]="qualifications"
                            [occupations]="occupations"
                            [residences]="residences"
                            [titles]="titles"
                            [maleTitles]="maleTitles"
                            [femaleTitles]="femaleTitles"
                            [maritals]="maritals"
                            [relationships]="relationships"
                            [loanpurposes]="loanpurposes"
                            [categories]="categories"
                            [genders]="genders"
                            [constitutions]="constitutions"
                            [days]="days"
                            [months]="months"
                            [years]="years"
                            [assessmentMethodology]="assessmentMethodology"
                            [selectedTitle]="selectedTitle[c]"
                            [selectedReligion]="selectedReligion[c]"
                            [selectedMaritialStatus]="selectedMaritialStatus[c]"
                            [selectedCategory]="selectedCategory[c]"
                            [selectedOccupation]="selectedOccupation[c]"
                            [selectedResidence]="selectedResidence[c]"
                            [selectedSpouseTitle]="selectedSpouseTitle[c]"
                            [selectedFatherTitle]="selectedFatherTitle[c]"
                            [selectedMotherTitle]="selectedMotherTitle[c]"
                            [selectedQualification]="selectedQualification[c]"
                            [selectedGender]="selectedGender[c]"
                            [selectedConstitution]="selectedConstitution[c]"
                            [selectedDocType]="selectedDocType[c]"
                            [docType]="docType"
                            [selectedAssesmentMethodology]="selectedAssesmentMethodology[c]"
                            [birthPlace]="birthPlace"
                            [selectedBirthPlace]="selectedBirthPlace[c]"
                            [isIncomplete]="isIncomplete">
                        </app-view-form-applicant>
                        </form>

                <div class="tab-content" id="loan-tab">
                    <h2 class="title">Loan details</h2>
                    <div class="bs-card">
                        <h3 class="card-title">Income details</h3>
                        <form action="" class="bs-form">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group inr filled">
                                        <input type="text" class="form-control" id="annual-in" value="12,45,604">
                                        <label for="annual-in">Annual family income</label>
                                        <span class="addon">
                                                <span class="icon icon-inr"></span>
                                        </span>
                                        <span class="in-word"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group inr filled">
                                        <input type="text" class="form-control" id="monthly-exp" value="5,39,367">
                                        <label for="monthly-exp">Monthly expenditure</label>
                                        <span class="addon">
                                                <span class="icon icon-inr"></span>
                                        </span>
                                        <span class="in-word"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="bs-card">
                        <h3 class="card-title">Loan amount</h3>
                        <form action="" class="bs-form">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group inr filled">
                                        <input type="text" class="form-control" id="amt-rqur" value="15,39,367">
                                        <label for="amt-rqur">Amount required (in lakhs)</label>
                                        <span class="addon">
                                            <span class="icon icon-inr"></span>
                                        </span>
                                        <span class="in-word"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group filled">
                                        <input type="text" class="form-control" id="loan-purpose" value="Purchase of property">
                                        <label for="loan-purpose">Loan purpose</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group typ-range">
                                        <span class="subtitle">Number of years in current residence</span>
                                        <input type="text" class="form-control" id="no-yrs">
                                        <span class="yr-text">Years</span>
                                        <div id="year-range" class="range-slider"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="bs-card">
                        <h3 class="card-title">Property</h3>
                        <form action="" class="bs-form">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="subtitle">Have you identified property?</h5>
                                    <div class="bs-radio">
                                        <input type="radio" name="pro-id" id="pro-yes">
                                        <label for="pro-yes"><span>Yes</span></label>
                                    </div>
                                    <div class="bs-radio">
                                        <input type="radio" name="pro-id" id="pro-no">
                                        <label for="pro-no"><span>No</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-card">
                                <h4 class="inner-title">Property address</h4>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="prop-add1">
                                            <label for="prop-add1">Property address 1</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="prop-add2">
                                            <label for="prop-add2">Property address 2</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group filled">
                                            <input type="text" class="form-control" id="prop-pin" value="400012">
                                            <label for="prop-pin">Property pincode</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="prop-city">
                                            <label for="prop-city">Property City/State</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="bs-card">
                        <h3 class="card-title">Existing Loan</h3>
                        <form action="" class="bs-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group typ-range">
                                        <span class="subtitle">Existing live loans</span>
                                        <input type="text" class="form-control" id="no-yrs">
                                        <span class="yr-text">Loans</span>
                                        <div id="year-range" class="range-slider typ-number"></div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="bs-card">
                        <h3 class="card-title">Existing Loan</h3>
                        <form action="" class="bs-form">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <span class="control-title">Existing loan type</span>
                                        <select class="js-select" name="loan-type" required>
                                            <option value="" selected>Home loan</option>
                                            <option value="Ms">Car loan</option>
                                            <option value="Mrs">Home loan</option>
                                            <option value="Dr">Personal loan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group typ-range">
                                        <span class="subtitle">Existing live loans</span>
                                        <input type="text" class="form-control" id="no-yrs">
                                        <span class="yr-text">Loans</span>
                                        <div id="year-range" class="range-slider typ-number"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="inner-card">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <span class="control-title">Existing loan provider</span>
                                            <select class="js-select" name="loan-provider" required>
                                                <option value="" selected>SBI</option>
                                                <option value="Ms">ICICI</option>
                                                <option value="Mrs">HDFC</option>
                                                <option value="Dr">HSBC</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group inr filled">
                                            <input type="text" class="form-control" id="ex-loan-amt" value="12,45,604">
                                            <label for="ex-loan-amt">Existing loan amount</label>
                                            <span class="addon">
                                                <span class="icon icon-inr"></span>
                                            </span>
                                            <span class="in-word"></span>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group inr filled">
                                            <input type="text" class="form-control" id="ex-emi" value="12,45,604">
                                            <label for="ex-emi">Existing monthly EMI</label>
                                            <span class="addon">
                                                <span class="icon icon-inr"></span>
                                            </span>
                                            <span class="in-word"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                   
                </div>

                <div class="tab-content" id="reference-tab">
                    <h2 class="title">Reference details</h2>
                    <div class="bs-card">
                        <h3 class="card-title">Reference 1</h3>
                        <form action="" class="bs-form">
                            <div class="inner-card">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <span class="control-title">Relationship with the applicant</span>
                                            <select class="js-select" name="rel-app" required>
                                                <option value="" selected>Father</option>
                                                <option value="Ms">Mother</option>
                                                <option value="Mrs">Sister</option>
                                                <option value="Dr">Brother</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ref1-name">
                                            <label for="ref1-name">Name</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ref1-mob">
                                            <label for="ref1-mob">Mobile</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ref1-add1">
                                            <label for="ref1-add1">Address line 1</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ref1-add2">
                                            <label for="ref1-add2">Address line 2</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="bs-card">
                        <h3 class="card-title">Reference 2</h3>
                        <form action="" class="bs-form">
                            <div class="inner-card">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <span class="control-title">Relationship with the applicant</span>
                                            <select class="js-select" name="rel-app" required>
                                                <option value="" selected>Father</option>
                                                <option value="Ms">Mother</option>
                                                <option value="Mrs">Sister</option>
                                                <option value="Dr">Brother</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ref2-name">
                                            <label for="ref2-name">Name</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ref2-mob">
                                            <label for="ref2-mob">Mobile</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ref2-add1">
                                            <label for="ref2-add1">Address line 1</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="ref2-add2">
                                            <label for="ref2-add2">Address line 2</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                </div>


                <div class="btn-wrap">
                    <button class="btn btn-primary" [routerLink]="['/terms-and-conditions/declaration1', applicationId, applicantId]">CONTINUE</button>
                </div>
                <!-- <div class="btn-wrap">
                    <button class="btn btn-border typ2">PROCEED TO Terms & conditions</button>
                </div> -->
            </div>

        </div>
    </div>

</main>