<div class="row">
  <div class="container_box ul_align">
      <!-- <div>
          <div> -->
              <div class="for-border">
              <div class="table-header icici-table-header-2 main_div  main_main_div ">
                  <div class="space-6">7&nbsp;CKYC <span class="customise_header">(to be filled by financial institution)</span></div>
                  <div class="space-6">APPLICANT</div>
              </div>
              <div class="space_content">
                  <div class="space-4">
                      <ul>
                          <li>Application Type*</li>
                          <li>KYC Number<br><span class="braces_content">(Mandatory for KYC update request)</span></li>
                          <li>Account Type*</li>
                          <li>&nbsp;</li>
                          <li>Occupation Type*</li>
                      </ul>
                  </div>
                  <div class="space-8 icicibg border-left ">
                      <ul>
                          <li class="space-6">
                             New&nbsp; &nbsp;Update</li>
                          <li>&nbsp;</li>
                          <li>Normal&nbsp;&nbsp; Simplified (For low risk customers)&nbsp;Small</li>
                          <li>
                              S-service&nbsp;&nbsp;(Private Sector&nbsp;&nbsp;
                              Public Sector&nbsp;Government Sector)
                          <li>
                              O-Others&nbsp;
                              (Profession&nbsp;&nbsp;
                               Self Employed&nbsp;&nbsp;
                               Retired&nbsp;&nbsp;
                              Housewife&nbsp;&nbsp;Student)</li>
                          <li>
                             B-Buiness&nbsp;&nbsp;X-Not Categorised</li>

                      </ul>
                  </div>
              </div>
              <div class="table-header icici-table-header-grey main_div  main_main_div">
                  <div class="space-4">PROOF OF IDENTITY(Pol)*</div>
                  <div class="space-8 text-right"><span class="braces_content">(Please refer instruction C at the end)</span></div>
              </div>

              <div class="space_content">

                  <div class="space-4">
                      <ul>
                          <li class="braces_content">(Certificate copy of any one of the following proof of identify[Pol]needs to be submitted)</li>
                          <li>A - Passport</li>
                          <li>B - Voter ID Card</li>
                          <li>C - PAN Card</li>
                          <li>D - Driving Lincence</li>
                          <li>E - UID(Aadhaar)</li>
                          <li>F - NREGA Job Card</li>
                          <li>Z - O-Others<span class="braces_content">(any document notified by the Central Government)</span></li>
                          <li>S - Simplified Measures Account - Document Type Code</li>
                      </ul>
                  </div>

                  <div class="space-8 icicibg border-left ">
                      <div class="space-4 float-left"></div>
                      <ul class="space-8 float-right">
                          <li class="braces_content">&nbsp;</li>
                          <li>Passport Expiry Date</li>
                          <li>&nbsp;</li>
                          <li>&nbsp;</li>
                          <li>Driving Licence Expiry Date</li>
                          <li>&nbsp;</li>
                          <li>&nbsp;</li>
                          <li class="braces_content"></li>
                          <li class="print_space">Identification No</li>
                          <li class="braces_content"></li>
                          <li>Identification No</li>
                     </ul>
                  </div>
              </div>

              <div class="table-header pagebreak icici-table-header-grey main_div  main_main_div">

                  <div class="space-4 custom_tick">TICK IF APPLICABLE </div>
                  <div class="space-5"><span class="braces_content_residence">RESIDENCE FOR TAX PURPOSES IN JURISDICTION(S) OUTSIDE INDIA</span></div>
                  <div class="space-3 text-right"><span class="braces_content_2">(Please refer instruction B at the end)</span></div>
              </div>

              <div class="space_content">

                  <div class="space-4">
                      <ul>
                          <li>ADDITIONAL DETAILS REQUIRED* <br><span class="braces_content">(Mandatory only if section 2 is ticked)</span></li>
                          <li>ISO 3166 Country Code of Jurisdiction of Residence*</li>
                          <li>Tax Identification Number or equivalent<br><span class="braces_content">(If issued by Jurisdiction)</span></li>
                          <li>Place / City of Birth</li>

                      </ul>
                  </div>

                  <div class="space-8 icicibg border-left ">
                      <div class="space-4 float-left"></div>
                      <ul class="space-8 float-right">
                          <li>&nbsp;</li>
                           <li>&nbsp;</li>
                           <li>&nbsp;</li>
                           <li>&nbsp;</li>
                           <li>&nbsp;</li>
                          <li class="ISO_print">ISO 3166 Country Code of Birth* </li>
                       </ul>
                  </div>
              </div>
              <div class="table-header icici-table-header-grey main_div  main_main_div">
                  <div class="space-4">PROOF OF ADDRESS(PoA)*</div>

                  <div class="space-8 text-right"><span class="braces_content">(Please refer instruction D at the end)</span></div>
              </div>
            


              <div class="table-header icici-table-header-grey-light main_div  main_main_div ">
                  <div class="space-12 text-left">CURRENT/ PERMANENT/ OVERSEAS ADDRESS DETAILS</div>

              </div>
             

              <div class="space_content ">
                  <div class="space-4 ">
                      <div class="main_div">
                          <div class="space-6">
                              <ul class="braces_content">
                                  <li>(Certificate copy of any one </li>
                                  <li>of the following proof of </li>
                                  <li>of address (PoA)needs to </li>
                                  <li>be submitted)</li>

                              </ul>
                          </div>
                          <div class="space-6 ">
                              <ul>
                                  <li>Address Type*</li>
                                  <li>&nbsp;</li>
                                  <li>&nbsp;</li>
                                  <li>Proof of Address*</li>
                                 

                              </ul>
                          </div>
                      </div>

                  </div>
                  <div class="space-8 icicibg border-left  ">
                      <ul>
                          <li>Residential / Business&nbsp;&nbsp;Residential&nbsp;&nbsp;Business&nbsp;&nbsp;Registered Office&nbsp;&nbsp;Unspecified</li>
                          <li>Passport&nbsp;&nbsp;Driving Licence&nbsp;&nbsp;UID(Aadhaar)</li>
                          <li>Voter Identity Card&nbsp;&nbsp;NREGA Job Card&nbsp;&nbsp;Others</li>
                          <li>Simplified Measures Account - Document Type Code</li>
                      </ul>



                  </div>
              </div>
          </div>
         <div class="page-break"></div>
          <div class="for-border">
              <div class="table-header icici-table-header main_div  main_main_div ">
                  <div class="space-12 text-left">8&nbsp;DETAILS OF RELATED PERSON</div>
              </div>
             
              <div class="space_content pagebreak">
                  <div class="space-4">Additional of Related Person</div>
                  <div class="space-4">Deletion of Related Person</div>
                  <div class="space-4">KYC Number of Related Person</div>
              </div>
              <div class="space_content pagebreak">
                  <div class="space-3">Related Person Type</div>
                  <div class="space-3">Guardian of Minor</div>
                  <div class="space-2">Assignee</div>
                  <div class="space-4">Authorised Representative</div>
              </div>
              <div class="space_content pagebreak">
                  <div class="space-2">Name</div>
                  <div class="space-2">Perfix</div>
                  <div class="space-2">NAME</div>
                  <div class="space-2">MIDDLE NAME</div>
                  <div class="space-2">SURNAME</div>
              </div>
              <div>&nbsp;</div>

              <div class="table-header icici-table-header-grey main_div  main_main_div">
                  <div class="space-7">PROOF OF IDENTITY(Pol)* Of RELATED PERSON</div>
                  <div class="space-5 text-right-refer"><span class="braces_content">(Please refer instruction H at the end)</span></div>
              </div>

              <div class="space_content">

                  <div class="space-4">
                      <ul>
                          <li class="braces_content">(Certificate copy of any one of the following proof of identify[Pol]needs to be submitted)</li>
                          <li>A - Passport</li>
                          <li>B - Voter ID Card</li>
                          <li>C - PAN Card</li>
                          <li>D - Driving Lincence</li>
                          <li>E - UID(Aadhaar)</li>
                          <li>F - NREGA Job Card</li>
                          <li>Z - O-Others<span class="braces_content">(any document notified by the Central Government)</span></li>
                          <li>S - Simplified Measures Account - Document Type Code</li>
                      </ul>
                  </div>

                  <div class="space-5">
                      <div class="space-4 float-left"></div>
                      <ul class="space-8 float-right">
                          <li>Passport Expiry Date</li>
                          <li>&nbsp;</li>
                          <li>&nbsp;</li>
                          <li>Driving Licence Expiry Date</li>
                           <li>&nbsp;</li>
                           <li>&nbsp;</li>
                          <li class="braces_content">&nbsp;</li>
                          <li class="print_space">Identification No</li>
                          <li>Identification No</li>
                       </ul>
                  </div>
              </div>
         
              <div class="table-header icici-table-header-grey main_div  main_main_div">
                  <div class="space-12 text-left">ADDRESS IN THE JURISDICTION DETAILS WHERE APPLICANT IS RESIDENT OUTSIDE INDIA FOR TAX PURPOSES* (Applicable if section 2 is ticked)</div>

              </div>

              <div class="space_content">

                  <div class="space-6">Same as Current/ Permanent/ Overseas Address details</div>
                  <div class="space-6">Same as Correspondence/ Loan Address details</div>
              </div>
              <div class="space_content">

                  <div class="space-12">Line 1

                  </div>
                  <div class="space-12">Line 2</div>
              </div>
              <div class="space_content">

                  <div class="space-6">Line 3</div>
                  <div class="space-12">City/Town/Village</div>
              </div>

              <div class="space_content">

                  <div class="space-4">State</div>
                  <div class="space-4">Zip/ Code</div>
                  <div class="space-4">ISO 3166 Country Code</div>
              </div>


              </div>

          <!-- </div>
      </div> -->
  </div>   
</div>