<div class="row">
    <div class="container_box ul_align ">

        <div class="for-border page-7 ">
            <div class="table-header icici-table-header-2 main_div  main_main_div ">
                <div class="space-6">7&nbsp;CKYC <span class="customise_header">(to be filled by financial institution)</span></div>
                <div class="space-6">APPLICANT</div>
            </div>
            <div class="space_content">
                <div class="space-4">
                    <ul>
                        <li>Application Type*</li>
                        <li>KYC Number<br><span class="braces_content">(Mandatory for KYC update request)</span></li>
                        <li>Account Type*</li>
                        <li>&nbsp;</li>
                        <li>Occupation Type*</li>
                    </ul>
                </div>
                <div class="space-8 icicibg border-left ">
                    <ul>
                        <li class="space-6">
                            &nbsp;<input class="click" value="" disabled> New&nbsp; &nbsp;&nbsp;<input class="click" value="" disabled>Update</li>
                        <li class="hr-no">
                            <hr>
                        </li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;Normal&nbsp;&nbsp;&nbsp;<input class="click" value="" disabled> Simplified (For low risk customers)&nbsp;&nbsp;<input class="click" value="" disabled>Small</li>
                        <li>
                            &nbsp;<input class="click" value="" disabled>&nbsp;S-service&nbsp;(&nbsp;<input class="click" value="" disabled>&nbsp;Private Sector&nbsp;
                            <input class="click" value="" disabled>Public Sector&nbsp;&nbsp;<input class="click" value="" disabled>Government Sector)
                            <li>
                                &nbsp;<input class="click" value="" disabled>&nbsp;O-Others&nbsp;&nbsp;(
                                <input class="click" value="" disabled>&nbsp;Profession&nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="click" value="" disabled>Self Employed&nbsp;
                                <input class="click" value="" disabled>Retired&nbsp;
                                <input class="click" value="" disabled> Housewife&nbsp;<input class="click" value="" disabled>Student)</li>
                            <li>
                                &nbsp;<input class="click" value="" disabled>&nbsp;B-Buiness&nbsp;&nbsp;<input class="click" value="" disabled>X-Not Categorised</li>

                    </ul>
                </div>
            </div>
            <div class="table-header icici-table-header-grey main_div  main_main_div">
                <div class="space-4">&nbsp;<input class="click" value="" disabled>&nbsp;&nbsp;PROOF OF IDENTITY(Pol)*</div>
                <div class="space-8 text-right"><span class="braces_content">(Please refer instruction C at the end)</span></div>
            </div>

            <div class="space_content">

                <div class="space-4">
                    <ul>
                        <li class="braces_content">(Certificate copy of any one of the following proof of identify[Pol]needs to be submitted)</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;A - Passport</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;B - Voter ID Card</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;C - PAN Card</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;D - Driving Lincence</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;E - UID(Aadhaar)</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;F - NREGA Job Card</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;Z - O-Others<span class="braces_content">(any document notified by the Central Government)</span></li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;S - Simplified Measures Account - Document Type Code</li>
                    </ul>
                </div>

                <div class="space-8 icicibg border-left ">
                    <!-- <div class="space-4 float-left"> -->
                    <ul class="space-4 float-left proof">
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>&nbsp;<input class="click" value="" disabled><input class="click" value="" disabled></li>
                    </ul>

                    <!-- </div> -->
                    <ul class="space-8 float-right">
                        <li class="braces_content"></li>
                        <li>&nbsp;</li>
                        <li>Passport Expiry Date <input class="click1" value="D" disabled><input class="click1" value="D" disabled>-<input class="click1" value="M" disabled><input class="click1" value="M" disabled>-<input class="click1" value="Y" disabled>
                            <input class="click1" value="Y" disabled><input class="click1" value="Y" disabled><input class="click1" value="Y" disabled></li>
                        <li>&nbsp;</li>
                        <li>Driving Licence Expiry Date<input class="click1" value="D" disabled><input class="click1" value="D" disabled>-<input class="click1" value="M" disabled><input class="click1" value="M" disabled>-<input class="click1" value="Y" disabled>
                            <input class="click1" value="Y" disabled><input class="click1" value="Y" disabled><input class="click1  " value="Y" disabled></li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li class="braces_content"></li>
                        <li class="print_space hr-no">Identification No &nbsp;
                            <hr>
                        </li>
                        <li class="braces_content"></li>
                        <li class="hr-no">Identification No &nbsp;
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-header pagebreak icici-table-header-grey main_div  main_main_div">

                <div class="space-4 custom_tick"><input class="click" value="" disabled>&nbsp;&nbsp;TICK IF APPLICABLE </div>
                <div class="space-5"><span class="braces_content_residence"><input class="click" value="" disabled>&nbsp;&nbsp;RESIDENCE FOR TAX PURPOSES IN JURISDICTION(S) OUTSIDE INDIA</span></div>
                <div class="space-3 text-right"><span class="braces_content_2">(Please refer instruction B at the end)</span></div>
            </div>

            <div class="space_content">

                <div class="space-4 additional">
                    <ul>
                        <li>ADDITIONAL DETAILS REQUIRED* <br><span class="braces_content">(Mandatory only if section 2 is ticked)</span></li>
                        <li>ISO 3166 Country Code of Jurisdiction of Residence*</li>
                        <li>Tax Identification Number or equivalent<br><span class="braces_content">(If issued by Jurisdiction)</span></li>
                        <li>Place / City of Birth</li>

                    </ul>
                </div>

                <div class="space-8 icicibg border-left ">
                    <ul class="space-4 float-left hr-no">
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li><input class="click" value="" disabled><input class="click" value="" disabled></li>
                        <li>
                            <hr>
                        </li>
                        <li>&nbsp;</li>
                        <li>

                            <hr>

                        </li>
                    </ul>
                    <ul class="space-8 float-right tick">
                        <li class="display">&nbsp;</li>
                        <li class="display">&nbsp;</li>
                        <li class="display">&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li class="ISO_print">ISO 3166 Country Code of Birth* &nbsp;&nbsp;&nbsp;<input class="click" value="" disabled><input class="click" value="" disabled></li>
                    </ul>
                </div>
            </div>
            <div class="table-header icici-table-header-grey main_div  main_main_div">
                <div class="space-4"><input class="click" value="" disabled>&nbsp;&nbsp;PROOF OF ADDRESS(PoA)*</div>

                <div class="space-8 text-right"><span class="braces_content">(Please refer instruction D at the end)</span></div>
            </div>



            <div class="table-header icici-table-header-grey-light main_div  main_main_div ">
                <div class="space-12 text-left"><input class="click" value="" disabled>&nbsp;&nbsp;CURRENT/ PERMANENT/ OVERSEAS ADDRESS DETAILS</div>

            </div>


            <div class="space_content ">
                <div class="space-4 ">
                    <div class="main_div">
                        <div class="space-6">
                            <ul class="braces_content">
                                <li>(Certificate copy of any one of the</li>
                                <li>following proof of address (PoA)</li>
                                <li>needs to be submitted)</li>


                            </ul>
                        </div>
                        <div class="space-6 ">
                            <ul>
                                <li>Address Type*</li>
                                <li>&nbsp;</li>
                                <li>&nbsp;</li>
                                <li>Proof of Address*</li>


                            </ul>
                        </div>
                    </div>

                </div>
                <div class="space-8 icicibg border-left hr-no tick">
                    <ul>
                        <li><input class="click" value="" disabled>Residential / Business&nbsp;&nbsp;<input class="click" value="" disabled>Residential&nbsp;&nbsp;&nbsp;&nbsp;<input class="click" value="" disabled>Business&nbsp;&nbsp;<input class="click"
                                value="" disabled>Registered Office&nbsp;&nbsp;
                            <input class="click" value="" disabled>Unspecified</li>
                        <li><input class="click" value="" disabled>Passport&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="click" value="" disabled>Driving Licence&nbsp;&nbsp;<input class="click" value="" disabled>UID(Aadhaar)</li>
                        <li><input class="click" value="" disabled>Voter Identity Card&nbsp;&nbsp;<input class="click" value="" disabled>NREGA Job Card&nbsp;&nbsp;<input class="click" value="" disabled>Others &nbsp;
                            <hr>
                        </li>
                        <li><input class="click" value="" disabled>Simplified Measures Account - Document Type Code&nbsp;&nbsp;<input class="click" value="" disabled><input class="click" value="" disabled></li>
                    </ul>



                </div>
            </div>
        </div>

        <!-- <div class="page-break"></div> -->
        <div class="for-border page-8">
            <div class="table-header icici-table-header main_div  main_main_div ">
                <div class="space-12 text-left">8&nbsp;DETAILS OF RELATED PERSON</div>
            </div>

            <div class="space_content">
                <div class="space-4"><input class="click" value="" disabled>Additional of Related Person</div>
                <div class="space-4"><input class="click" value="" disabled>Deletion of Related Person</div>
                <div class="space-4 kyc-no">KYC Number of Related Person
                    <hr>
                </div>
            </div>
            <div class="space_content ">
                <div class="space-4">Related Person Type&n</div>
                <div class="space-8"><input class="click" value="" disabled>&nbsp; Guardian of Minor &nbsp;&nbsp;<input class="click" value="" disabled>&nbsp;Assignee &nbsp;&nbsp; <input class="click" value="" disabled>&nbsp;Authorised Representative</div>
                <!-- <div class="space-2"><input class="click" value="" disabled>&nbsp;Assignee</div>
                <div class="space-4"> <input class="click" value="" disabled>&nbsp;Authorised Representative</div> -->
            </div>
            <div class="space_content ">
                <div class="space-2">Name <br /> (In BLOCK LETTERS)</div>
                <div class="space-2 related_content">
                    <p class="related_details">Perfix</p>
                    <hr>
                </div>
                <div class="space-2 related_content">
                    <p class="related_details">NAME</p>
                    <hr>
                </div>
                <div class="space-2 related_content">
                    <p class="related_details">MIDDLE NAME</p>
                    <hr>
                </div>
                <div class="space-2 related_content">
                    <p class="related_details">SURNAME</p>
                    <hr>
                </div>

            </div>


            <div class="table-header icici-table-header-grey main_div  main_main_div">
                <div class="space-7"><input class="click" value="" disabled> &nbsp; PROOF OF IDENTITY(Pol)* Of RELATED PERSON</div>
                <div class="space-5 text-right-refer"><span class="braces_content">(Please refer instruction H at the end)</span></div>
            </div>

            <!-- <div class="space_content">

                <div class="space-4">
                    <ul>
                        <li class="braces_content">(Certificate copy of any one of the following proof of identify[Pol]needs to be submitted)</li>
                        <li><input class="click" value="" disabled> &nbsp;A - Passport</li>
                        <li><input class="click" value="" disabled> &nbsp;B - Voter ID Card</li>
                        <li><input class="click" value="" disabled> &nbsp;C - PAN Card</li>
                        <li><input class="click" value="" disabled> &nbsp;D - Driving Lincence</li>
                        <li><input class="click" value="" disabled> &nbsp;E - UID(Aadhaar)</li>
                        <li><input class="click" value="" disabled> &nbsp;F - NREGA Job Card</li>
                        <li><input class="click" value="" disabled> &nbsp;Z - O-Others<span class="braces_content">(any document notified by the Central Government)</span></li>
                        <li><input class="click" value="" disabled> &nbsp;S - Simplified Measures Account - Document Type Code</li>
                    </ul>
                </div>

                <div class="space-5">
                    <div class="space-4 float-left"></div>
                    <ul class="space-8 float-right">
                        <li>Passport Expiry Date</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li>Driving Licence Expiry Date</li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li class="braces_content">&nbsp;</li>
                        <li class="print_space">Identification No</li>
                        <li>Identification No</li>
                    </ul>
                </div>
            </div> -->
            <div class="space_content">

                <div class="space-4">
                    <ul>
                        <li class="braces_content">(Certificate copy of any one of the following proof of identify[Pol]needs to be submitted)</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;A - Passport</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;B - Voter ID Card</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;C - PAN Card</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;D - Driving Lincence</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;E - UID(Aadhaar)</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;F - NREGA Job Card</li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;Z - O-Others<span class="braces_content">(any document notified by the Central Government)</span></li>
                        <li>&nbsp;<input class="click" value="" disabled>&nbsp;S - Simplified Measures Account - Document Type Code</li>
                    </ul>
                </div>

                <div class="space-8 icicibg border-left ">
                    <!-- <div class="space-4 float-left"> -->
                    <ul class="space-4 float-left proof">
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>

                            <hr>
                        </li>
                        <li>&nbsp;<input class="click" value="" disabled><input class="click" value="" disabled></li>
                    </ul>

                    <!-- </div> -->
                    <ul class="space-8 float-right">
                        <li class="braces_content"></li>
                        <li>&nbsp;</li>
                        <li>Passport Expiry Date <input class="click" value="D" disabled><input class="click" value="D" disabled>-<input class="click" value="M" disabled><input class="click" value="M" disabled>-<input class="click" value="Y" disabled>
                            <input class="click" value="Y" disabled><input class="click" value="Y" disabled><input class="click" value="Y" disabled></li>
                        <li>&nbsp;</li>
                        <li>Driving Licence Expiry Date<input class="click" value="D" disabled><input class="click" value="D" disabled>-<input class="click" value="M" disabled><input class="click" value="M" disabled>-<input class="click" value="Y" disabled>
                            <input class="click" value="Y" disabled><input class="click" value="Y" disabled><input class="click" value="Y" disabled></li>
                        <li>&nbsp;</li>
                        <li>&nbsp;</li>
                        <li class="braces_content"></li>
                        <li class="print_space hr-no">Identification No &nbsp;
                            <hr>
                        </li>
                        <li class="braces_content"></li>
                        <li class="hr-no">Identification No &nbsp;
                            <hr>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="table-header icici-table-header-grey main_div  main_main_div">
                <div class="space-12 text-left add-head"><input class="click" value="" disabled> &nbsp; ADDRESS IN THE JURISDICTION DETAILS WHERE APPLICANT IS RESIDENT OUTSIDE INDIA FOR TAX PURPOSES* (Applicable if section 2 is ticked)</div>

            </div>

            <div class="space_content">

                <div class="space-6"><input class="click" value="" disabled>&nbsp;Same as Current/ Permanent/ Overseas Address details</div>
                <div class="space-6"><input class="click" value="" disabled>&nbsp;Same as Correspondence/ Loan Address details</div>
            </div>
            <div class="space_content add">

                <div class="space-12">Line 1
                    <hr>

                </div>
                <div class="space-12">Line 2
                    <hr>
                </div>
            </div>
            <div class="space_content add">

                <div class="space-6">Line 3
                    <hr>
                </div>
                <div class="space-6 hr-no">City/Town/Village
                    <hr>
                </div>
            </div>

            <div class="space_content m-b-10 hr-no">

                <div class="space-4 ">State
                    <hr>
                </div>
                <div class="space-4">Zip/ Code
                    <hr>
                </div>
                <div class="space-4">ISO 3166 Country Code
                    <hr>
                </div>
            </div>


        </div>

        <!-- </div>
      </div> -->
    </div>
</div>
