<!-- <app-main-dashboard></app-main-dashboard> -->

<!-- <app-menubar-header></app-menubar-header> -->
<router-outlet></router-outlet>
<ngx-ui-loader></ngx-ui-loader>


<div #myDiv class="overlay" [ngClass]="{'active': isErrorModal}"></div>
<div class="logout_dialog bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}">
    <!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
    <a class="modal-close" (click)="isErrorModal = false"><span class="icon icon-close"></span></a>
    <div class="modal-body">
    <h1>{{errorMessage}}</h1>
    <div class="btn-wrap">
        <button class="btn btn-border" (click)="isErrorModal = false">Ok</button>
    </div>
    </div>
</div>
<div class="overlay" [ngClass]="{'active': isErrorCodeModal}"></div>
<div class="logout_dialog bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorCodeModal}">
    <a class="modal-close" (click)="isErrorCodeModal = false"><span class="icon icon-close"></span></a>
    <div class="modal-body">
    <h1>{{errorCodeMessage}}</h1>
    <div class="btn-wrap">
        <button class="btn btn-border" (click)="isErrorCodeModal = false">Ok</button>
    </div>
    </div>
</div>

<!-- <app-login-with-mpin></app-login-with-mpin> -->

<!-- <app-forgot-mpin></app-forgot-mpin> -->

<!-- <app-enter-mpin></app-enter-mpin> -->

<!-- <app-user-login></app-user-login> -->
