<!-- <app-main-dashboard></app-main-dashboard> -->

<app-menubar-header></app-menubar-header>
<main>
    <div class="main">
        <div class="lyt-home">
            <div class="tabs">
               <!-- <app-tab-page-header></app-tab-page-header> -->
                <div class="tabs-contents"> 
                  <!-- <app-communication-address></app-communication-address> -->
                     <!-- <app-pan></app-pan> -->
                     <!-- <app-co-app-initial-page></app-co-app-initial-page> -->
                    <!-- <app-contact-details></app-contact-details> -->
                    <!-- <app-co-app-corp-addr></app-co-app-corp-addr> -->
                    <!-- <app-contact-details></app-contact-details> -->
                    <!-- <app-family-details></app-family-details> -->
                    <!-- <app-occupation-details></app-occupation-details> -->
                    <!-- <app-other></app-other> -->
                    <!-- <app-personal-details></app-personal-details> -->
                     <!-- <app-main-dashboard></app-main-dashboard> -->
                     <app-co-app-dashboard></app-co-app-dashboard>
                </div>
            </div>
        </div>
    </div>
</main> 


<!-- <app-login-with-mpin></app-login-with-mpin> -->

<!-- <app-forgot-mpin></app-forgot-mpin> -->

<!-- <app-enter-mpin></app-enter-mpin> -->

<!-- <app-user-login></app-user-login> -->