<div class="lyt-tabs">
    <div class="lhs">
        <div class="title-wrap">
            <h4 class="title">Enter Co-Applicant <span class="cm-line-break"></span>details</h4>
        </div>
    </div>
    <div class="rhs">
        <form class="bs-form">
            <div class="form-wrap">
                <div class="bs-radio typ-doc">
                    <input type="radio" name="doc-upload" id="applicant-radio">
                    <label for="applicant-radio">
                        <span class="icon icon-close"></span>
                    </label>
                    <span class="desc-text">01 | <span>Co-Applicant 1</span></span>
                </div>
                <div class="bs-radio typ-doc">
                    <input type="radio" name="doc-upload" id="applicant-radio">
                    <label for="applicant-radio">
                        <span class="icon icon-close"></span>
                    </label>
                    <span class="desc-text">02 | <span>Co-Applicant 2</span></span>
                </div>
                <div class="bs-radio typ-doc">
                    <input type="radio" name="doc-upload" id="applicant-radio">
                    <label for="applicant-radio">
                        <span class="icon icon-close"></span>
                    </label>
                    <span class="desc-text">03 | <span>Co-Applicant 3</span></span>
                </div>
                <div class="bs-radio typ-doc">
                    <input type="radio" name="doc-upload" id="applicant-radio">
                    <label for="applicant-radio">
                        <span class="icon icon-close"></span>
                    </label>
                    <span class="desc-text">04 | <span>Co-Applicant 4</span></span>
                </div>
                <div class="bs-radio typ-doc">
                    <input type="radio" name="doc-upload" id="applicant-radio">
                    <label for="applicant-radio">
                        <span class="icon icon-close"></span>
                    </label>
                    <span class="desc-text">05 | <span>Co-Applicant 5</span></span>
                </div>
                <div class="bs-radio typ-doc">
                    <input type="radio" name="doc-upload" id="applicant-radio">
                    <label for="applicant-radio">
                        <span class="icon icon-close"></span>
                    </label>
                    <span class="desc-text">06 | <span>Co-Applicant 6</span></span>
                </div>
            </div>
        </form>
    </div>
</div>