<h1 class="title">Audit Trail</h1>
<br>
<h2>Download CSV for Audit Trail</h2>
<br>
<div class="container">
 

    <div class="inputBox form-field-el">
        <label for="ocsNumber" class="inputText">OCS number:</label>
        <input type="text" id="ocsNumber"  [(ngModel)]="ocsNumberStr"  class="form-control" fieldFill/>
        <!-- <div *ngIf="ocsNumber.errors" >
        </div> -->
    </div>

    <div class="inputBox form-field-el reportingToBlock"  #selectBox>
        <label for="reportingTo" class="">Type user id:</label>
        <input type="text" id="reportingTo" [(ngModel)]="reportingToStr"  (input)="filterLeads($event)" class="form-control"  fieldFill/>
        <input type="hidden" class="form-control" hidden #reportingTo/>
        <div class="reporting_to hide">
            <ul>
                <li #reportingTo class="item" id="{{i.userId}}"  (click)="selectedReportedTo(in, i)" *ngFor="let i of filteredItems;let in=index;">
                    {{i.userName}}
                </li>
            </ul>                
        </div>
        <div *ngIf="reportingTo.errors" >
            <!-- <div class="redalert" *ngIf="formValue.reportingTo.errors.required"> required</div> -->
        </div>          
    </div>
   
    <!--Tabs 2 Download cheque payment starts-->
    <div class="tab-slider--body">
         <!-- <span>From date</span> -->
         <br>
         <label  class="inputText start_date">From date</label>
          <input type="date" [(ngModel)]="startDate" placeholder="From date" class="dataPicker" [value]="startDate | date:'yyyy-MM-dd'">
          <br>
          <br>
          <label class="to_date">To date</label>
          <input type="date" [(ngModel)]="endDate" placeholder="From date" class="dataPicker" [value]="endDate | date:'yyyy-MM-dd'">
    </div>

    <br>
    <br>
    <input type="submit" (click)="downloadCSV()" class="btn btn-default">

    <div class="redalert error-msg">{{errorMsg}}</div>


    <!--Tabs 2 Download cheque payment ends-->  

</div>
<div class="overlay" [ngClass]="{'active': isErrorModal}"></div>
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}">
    <!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
    <!-- <a class="modal-close" (click)="onCrossModal()"><span class="icon icon-close"></span></a> -->
    <div class="modal-body" style = "text-align:center;">
      <h1>{{errorMsgModal}}</h1>
      <div class="btn-wrap">
        <button class="btn btn-border" (click)="isErrorModal = false">OK</button>
      </div>
    </div>
  </div>