.app-admin-container {
    padding-top: 2vh;
  }
  .reporting_to {
    overflow-y: scroll;
    height: 100px;
    position: absolute;
    width: 17.75vw;
    background: #eee;
    border: 1px solid #ccc;
  }
  
  li .item:active {
    background-color: yellow;
  }
  .inputBox,
  .selectBox {
    position: relative;
    margin-bottom: 3.08vw;
    max-width: 35.55vw;
    text-align: left;
  }
  .inputBox label,
  .selectBox label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    color: rgba(153, 153, 153, 0.4);
    font-family: zurich-light;
    font-size: 1.64vw;
    line-height: 2.35vw;
    transition: -webkit-transform 0.4s ease-in;
    transition: transform 0.4s ease-in;
    transition: transform 0.4s ease-in, -webkit-transform 0.4s ease-in;
    -webkit-transform-origin: left;
    transform-origin: left;
    width: 100%;
    right: 0;
    display: block;
  }
  .inputBox .form-control {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
    width: 100%;
    font-size: 1.64vw;
    line-height: 2.35vw;
    color: #999;
    font-family: zurich-light;
    padding: 0;
  }
  .inputBox.filled label,
  .selectBox label {
    transform: translateY(-1.64vw) scale(0.8);
    color: #444;
    font-family: zurich-bold;
    font-size: 1.17vw;
  }
  
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: #444;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
    color: #999 !important;
  }
  /*
  .inputBox {
      position: relative;
      margin: 10px 0;
  }
  .inputText {
      position: absolute;
      left: 5px;
      top: 6px;
      bottom: 0;
      transform: translateY(0);
      color: #aaa;
      font-family: zurich-light;
      font-size: 18px;
      line-height: 24px;
      transition: transform .4s ease-in;
      transform-origin: left;
      width: 100%;
      right: 0;
      display: block;
      font-weight: bold;
  }
  .form-control {
      display: block;
      width: 100%;
      height: calc(1.5em + 1.3rem + 2px);
      padding: 0.65rem 1rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 4px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border: none;
      border-bottom: 1px solid #ddd;
  }
  .inputBox.filled label {
      transform: translateY(-35px) ;
      color: #444;
      font-family: zurich-bold;
  }
  */
  .admin-user-form-container {
    max-height: 98vh;
    max-height: calc(100vh - 75px);
    overflow: auto;
    padding: 1.5vw 0;
  }
  .selectBox {
    margin-bottom: 2.08vw;
  }
  .selectBox select {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
    width: 100%;
    font-size: 1.64vw;
    line-height: 2.35vw;
    color: #999;
    font-family: zurich-light;
    padding: 0;
  }
  .reportingToBlock input {
    max-width: 17.75vw;
  }
  .reporting_to {
    overflow-y: scroll;
    height: 150px;
    position: absolute;
    width: 17.75vw;
    background: #eee;
    border: 1px solid #ccc;
    z-index: 1;
  }
  .reporting_to li {
    padding: 0.5vw;
    font-size: 1.4vw;
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  .redalert {
    color: red;
    font-size: 0.94vw;
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  .form-field-el {
    width: 48%;
    float: left;
  }
  .app-admin-container .form-field-el:nth-child(even) {
    margin-left: 3%;
  }
  .app-admin-container .form-field-el:nth-child(odd) {
    margin-left: 1%;
  }
  .user-hint {
    margin-bottom: 35px;
  }
  .inputBox .redalert {
    position: absolute;
  }
  
  .trans-lower-case {
    text-transform: lowercase;
  }
  
  .hide {
    display: none;
  }
  .passd {
    font-family: 'password' !important;
}