.lyt-box {
    width: 60%;
    margin: 3.95vw auto 0;
    box-shadow: 0 0 25px -7px #d6d6d6;
    display: block;
    min-height: 78vh;
    position: relative;
    padding: 2.34vw;
}
.lyt-box .box-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.lyt-box .title-desc {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 1.95vw;
}
.lyt-box .title-desc .box-title {
    display: block;
    margin-bottom: 13px;
    font-size: 3.75vw;
    margin-top: 50px;
    font-family: zurich-bold;
    color: #444;
}
.lyt-box .title-desc .desc {
    display: block;
    font-family: zurich;
    font-size: 1.56vw;
    line-height: 1.72vw;
    color: #999;
}
.lyt-box .cont p.typ-text-center {
    text-align: center;
}
.lyt-box .cont p {
    font-family: zurich-light;
    font-size: 1.56vw;
    line-height: 1.72vw;
    color: #999;
}
.lyt-box .step-wrap {
    margin: 20px auto 30px;
    width: 85%;
    display: block;
    text-align: center;
    overflow: hidden;
    text-align: left;
}
.lyt-box .step-wrap .step {
    width: 33.1%;
    float: left;
    padding: 0 20px;
}
.lyt-box .step-wrap .step .count {
    display: block;
    font-size: 3.75vw;
    color: #b02a30;
    font-family: zurich-bold;
    margin-bottom: .78vw;
}
.lyt-box .step-wrap .step .label {
    display: block;
    font-size: 1.72vw;
    line-height: 2.03vw;
    color: #444;
    font-family: zurich-bold;
}
.lyt-box .cont .btn-wrap {
    text-align: center;
}
.btn.btn-border {
    border-radius: 3.91vw;
    color: #f58220;
    font-family: zurich-bold;
    font-size: 1.64vw;
    line-height: 2.81vw;
    text-transform: uppercase;
    padding: 0 1.56vw;
    border: 1px solid #f58220;
}
.btn.btn-border.typ2 {
    border-color: #949494;
    color: #949494;
    padding: .47vw 1.56vw;
}
