<h1 class="lov-heading">Maximum and Minimum Limits</h1>
<input type="text" class="lov-search" placeholder="Search" (input)="getData()" [(ngModel)]="searchKey" />
<br>
<div class="list">
  <table class="admin-table">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Field Name</th>
        <th>Minimum Value</th>
        <th>Maximum Value</th>
        <th>Edit/Save</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="item" *ngFor="let item of collection | paginate: { itemsPerPage: perPage, currentPage: currentPage, totalItems: totalItems}; let i=index">
        <td>{{i+1}}</td>
        <td><input type="text" placeholder="Field Name" [(ngModel)]="item.columnName" disabled /></td>
        <td><input type="text" placeholder="Minimum Value" #minValue="ngModel" [(ngModel)]="item.minValue" [disabled]="!item.isEdit" autocomplete="off" required pattern="^[0-9]{0,15}$" />
        <span *ngIf="(minValue.touched || minValue.dirty) && minValue.errors?.required" class="redalert"><br>Minimum Value cannot be empty</span>
        <span *ngIf="(minValue.touched || minValue.dirty) && minValue.errors?.pattern && item.minValue.length<15" class="redalert"><br>Minimum Value cannot contain alphabets / special characters</span>
        <span *ngIf="(minValue.touched || minValue.dirty) && minValue.errors?.pattern && item.minValue.length>15" class="redalert"><br>Minimum Value cannot contain more than 15 digits</span>
        </td>
        <td><input type="text" placeholder="Maximum Value" #maxValue="ngModel" [(ngModel)]="item.maxValue" [disabled]="!item.isEdit" autocomplete="off" required pattern="^[0-9]{0,15}$" />
          <span *ngIf="(maxValue.touched || maxValue.dirty) && maxValue.errors?.required" class="redalert"><br>Maximum Value cannot be empty</span>
          <span *ngIf="(maxValue.touched || maxValue.dirty) && maxValue.errors?.pattern && item.maxValue.length<15" class="redalert"><br>Maximum Value cannot contain alphabets / special characters</span>
          <span *ngIf="(maxValue.touched || maxValue.dirty) && maxValue.errors?.pattern && item.maxValue.length>15" class="redalert"><br>Maximum Value cannot contain more than 15 digits</span>
        </td>
        <td>
          <button type="button" class="editsavebtn" *ngIf="!item.isEdit" (click)="edit(i)">Edit</button>
          <button type="button" class="editsavebtn" *ngIf="item.isEdit" [disabled]="!minValue.valid || !maxValue.valid" [ngClass]="{'disabled':(!minValue.valid || !maxValue.valid)}" (click)="save(i)">Save</button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)" class="pagination" autoHide="true"></pagination-controls>

</div>
<div class="overlay" [ngClass]="{'active': isErrorModal}">
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}">
    <a class="modal-close" (click)="isErrorModal = false"><span class="icon icon-close"></span></a>
    <div class="modal-body">
      <h1>{{errorMsg}}</h1>
      <br><br>
      <div class="btn-wrap">
        <button class="btn btn-border" (click)="isErrorModal = false">Close</button>
      </div>
    </div>
  </div>
</div>