.lyt-login {
	position: absolute;
}
.bottomright {
	position: absolute;
	bottom: 8px;
	right: 16px;
	font-size: 18px;
	color: #bdacac;
}

.login_modal {
	height: 280px;
    padding-top: 2px;
}

.margin_right {
	margin-right: 15px;
}
.bs-form .form-group {
margin-bottom: 2.08vw;
}
.captch{
	border: solid;
    padding-top: 1vw;
    padding-left: 1vw;
    /* padding-bottom: 1vw; */
    border-color: rgba(187, 187, 187, 1);
}