<app-menubar-header></app-menubar-header>
<main>
  <div class="main">
      <div class="lyt-home">
          <div class="lyt-tabs">
              <a routerLink="/leads" class="back-btn"></a>
              <div class="lhs">
                  <div class="lhs-inner-wrap">
                      <span class="icon-thumb">
                        <img src="assets/images/thumb.png" alt="logo">
                      </span>
                      <span class="text">
                              Payment 
                              <span class="cm-line-break">Successfull!</span>
                      </span>
                  </div>
              </div>
              <div class="rhs">
                  <div class="rhs-inner-wrap">
                      <p class="para">The payment for login fee has been successfully received! </p>
                      <div class="desc">
                          <p>A copy of summary form and the payment receipt has been shared on the customer’s registered email address. </p>
                          <p>
                              Please wait while we fetch customer’s provisional eligibility information…..
                          </p>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>

  
</main>
