<h1 class="title">Error Handling Message</h1>
&nbsp; &nbsp;<input type="text" class="search" placeholder="Search" (input)="search($event)" />
<br><br>
<div *ngIf="!searchNotFound">
<div class="list">
    <table class="admin-table">
        <thead>
          <tr>
            <th>Error Code</th>
            <th>Module</th>
            <th>Description</th>
            <th>Error Message</th>
            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of collection | paginate: { itemsPerPage: perPage, currentPage: currentPage, totalItems: totalItems  }">
            <td><a [routerLink]= "['/admin/erroredit', item.errorCode]">{{item.errorCode}}</a></td>
            <td>{{item.module}}</td>
            <td>{{item.description}}</td>
            <td>{{item.errorMessage}}</td>
          </tr>											
        </tbody>
      </table>
</div>
<pagination-controls  (pageChange)="pageChanged($event)" class="pagination" autoHide="true" ></pagination-controls>
</div>
<span *ngIf="searchNotFound" class="notfound">No results found</span>											
