.title {
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
}

.table {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 1vh;
    color: #212529;
    background-color: transparent;
    display: table;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #ebedf2;
    border: 1px solid #ebedf2;
    text-align: center
}
.table thead th,
.table thead td {
    color: #053c6d;
    font-weight: bold;
}
.pagination {
    width: 80%;
    display: block;
    clear: both;
    text-align: center;
    margin: 0px 0;
}

.admin-table {
    width: 100%;
    text-align: left;
}

.admin-table thead tr th {
    border-bottom: 2px solid #e66e23;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

.admin-table tbody tr td {
    padding-top: 8px;
    padding-bottom: 8px;
}

.admin-table tbody tr td {
    width: 16.66%;
}

.gobackbtn {
    background: #e66e23;
    border: none;
    padding: 4px 10px;
    color: #fff;
    box-shadow: 1px 1px 3px 0 #333;
    margin-left: 15px;
    margin-right: 15px;
}

.gobackbtn:hover,
.gobackbtn:focus {
    box-shadow: none;
}

.gobackbtn:active {
    box-shadow: inset 1px 1px 3px 0 #333;
}

.search {
    border: 0;
    border-bottom: 1px solid #333;
    padding: 8px 16px 8px 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    margin-bottom: 15px;
}
.notfound {
	font-size: .94vw;
	line-height: 1.09vw;
    letter-spacing: .5px;
    color:red;
    font-weight: bold;
}