.sec-nav {
    background-color: #fff;
    z-index: 11;
    position: relative;
}
.logout {
    cursor: pointer;
}
.header_reference_no{
    font-size: 15px;
    text-align: left;
    color: #f58220;
}
.space{
    margin-right: 8px;
}

@media screen and (max-width: 800px) {

    .user-name{
    font-size: 2vw;
    }
}