<header>
    <div class="bs-header" data-nav="dashboard">
        <!-- header start -->
        <div class="sec-nav">
            <div class="logo">
                <h1>
                    <a routerLink="/leads">
                        <img src="assets/images/logo.svg" alt="logo" class="img-responsive" />
                    </a>
                </h1>
            </div>
            <div class="right-panel">
                <h3 class="for-user" *ngIf="isViewFormNameShown"><span class="user-name">{{applicantName}}</span></h3>
                <a *ngIf="isViewFormVisible && applicationId == null" class="btn btn-default view-form">View Form</a>
                <a [routerLink]="['/view-form', applicationId]" *ngIf="isViewFormVisible && applicationId != null" class="btn btn-default view-form">View Form</a>
                <a (click)="logout()" *ngIf="isLogoutVisible" class="btn btn-default logout">Logout</a>
            </div>
        </div>
        <ul class="main-nav" *ngIf="isMenuBarShown">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a  *ngIf="applicationId == null" routerLink="/applicant" [ngClass]="{'disabled': !isMainTabEnabled}">Applicant Details</a>
                <a  *ngIf="applicationId != null" [routerLink]="['/applicant', applicationId]">Applicant Details</a>
            </li>
            <li routerLinkActive="active">
                <a *ngIf="applicationId == null" [ngClass]="{'disabled': !isMainTabEnabled}">Co-Applicant Details</a>
                <a [routerLink]="['/applicant', applicationId, 'co-applicant']"  [ngClass]="{'disabled': !isMainTabEnabled}" *ngIf="applicationId != null && coApplicantIndex == null">Co-Applicant Details</a>
                <a [routerLink]="['/applicant', applicationId, '/co-applicant', coApplicantIndex]"  [ngClass]="{'disabled': !isMainTabEnabled}" *ngIf="applicationId != null && coApplicantIndex != null">Co-Applicant Details</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a *ngIf="applicationId == null" [ngClass]="{'disabled': !isMainTabEnabled}">Loan Details</a>
                <a [routerLink]="['/loan', applicationId]" *ngIf="applicationId != null" [ngClass]="{'disabled': !isMainTabEnabled}">Loan Details</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a *ngIf="applicationId == null" [ngClass]="{'disabled': !isMainTabEnabled}">References</a>
                <a [routerLink]="['/references', applicationId]" *ngIf="applicationId != null" [ngClass]="{'disabled': !isMainTabEnabled}">References</a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a *ngIf="applicationId == null">Document Uploads</a>
                <a [routerLink]="['/document-uploads', applicationId, 'applicant', applicantId]" *ngIf="applicationId != null  && applicantId != null">Document Uploads</a>
            </li>
            <li routerLinkActive="active">
                <a *ngIf="applicationId == null">Payments</a>
                <a [routerLink]="['/payments/offline-payments', applicationId]" *ngIf="applicationId != null">Payments</a>
                <!-- <a routerLink="/payments/offline-payments">Payments</a> -->
            </li>
        </ul>
        <!-- header end -->
    </div>
</header>