<header>
    <div class="bs-header" data-nav="dashboard">
        <!-- header start -->
        <div class="sec-nav">
            <div class="logo">
                <h1>
                    <a *ngIf="isHomeVisible" routerLink="/leads">
                        <img src="assets/images/logo.svg" alt="logo" class="img-responsive" />
                    </a>
                    <a *ngIf="!isHomeVisible">
                        <img src="assets/images/logo.svg" alt="logo" class="img-responsive" />
                    </a>
                </h1>
            </div>
            <div class="right-panel">
                <h3 class="for-user source-id-pointer" *ngIf="enableSourceId" (click)="sourceOverlay()"><span class="user-name">SOURCE ID</span>
                <br>
                <h5 class="for-user header_reference_no" ><span class="user-name">{{sourceId}}</span></h5>
                </h3>

                <h3 class="for-user" *ngIf="isViewFormNameShown"><span class="user-name">{{applicantName}}</span>
                <br>
                <h5 class="for-user header_reference_no" ><span class="user-name">{{referenceNumber}}</span></h5>
                </h3>
                <h3 class="for-use header_reference_no" *ngIf="!isViewFormNameShown && applicationId == null"><span class="user-name">{{applicantName}}</span>
                <br>
                <h5 class="for-user" ><span class="user-name">{{referenceNumber}}</span></h5>
                </h3>

                
                <a routerLink="/leads" *ngIf="isHomeVisible"  class="btn btn-default" >Home</a>
                <a *ngIf="isTBMLoggedIn && isEligibilityForReview" class="space btn btn-default" [routerLink]="['/review-eligibility', applicationId]">Review Eligibility</a>
                <a *ngIf="isViewFormVisible && applicationId == null" class="space btn btn-default view-form">View Form</a>
                
                <a [routerLink]="['/view-form', applicationId]" *ngIf="isViewFormVisible && applicationId != null" class="btn btn-default view-form">View Form</a>
                <a *ngIf="isHomeVisible"  [ngClass]="{'disabled': applicantBtnStatus}" class="btn btn-default logout" (click)="statusViewPage(applicationId)" >Status</a>
                <a (click)="logout()" *ngIf="isLogoutVisible" class="space btn btn-default logout">Logout</a>
            </div>
        </div>
        <ul class="main-nav" *ngIf="isMenuBarShown">
            <li [ngClass]="{'active': activeTab==screenPages['applicantDetails']}">
                <a  *ngIf="applicationId == null" routerLink="/applicant" [ngClass]="{'disabled': !isMainTabEnabled}">Applicant Details</a>
                <a  *ngIf="applicationId != null" [routerLink]="['/applicant', applicationId]" [ngClass]="{'disabled': !isMainTabEnabled}">Applicant Details</a>
            </li>
            <li [ngClass]="{'active': activeTab==screenPages['coApplicantDetails']}">
                <a *ngIf="applicationId == null" [ngClass]="{'disabled': !isMainTabEnabled}">Co-Applicant Details</a>
                <a [routerLink]="['/applicant', applicationId, 'co-applicant']" [queryParams]="{tabName: 'dashboard', page: 1}" [ngClass]="{'disabled': !isMainTabEnabled}" *ngIf="applicationId != null && coApplicantIndex == null">Co-Applicant Details</a>
                <a [routerLink]="['/applicant', applicationId, '/co-applicant', coApplicantIndex]" [ngClass]="{'disabled': !isMainTabEnabled}" *ngIf="applicationId != null && coApplicantIndex != null">Co-Applicant Details</a>
            </li>
            <li [ngClass]="{'active': activeTab==screenPages['loanDetails']}">
                <a *ngIf="applicationId == null" [ngClass]="{'disabled': !isMainTabEnabled}">Loan Details</a>
                <a [routerLink]="['/loan', applicationId]" *ngIf="applicationId != null" [ngClass]="{'disabled': !isMainTabEnabled}">Loan Details</a>
            </li>
            <li [ngClass]="{'active': activeTab==screenPages['references']}">
                <a *ngIf="applicationId == null" [ngClass]="{'disabled': !isMainTabEnabled}">References</a>
                <a [routerLink]="['/references', applicationId]" *ngIf="applicationId != null" [ngClass]="{'disabled': !isMainTabEnabled}">References</a>
            </li>
            <li [ngClass]="{'active': activeTab==screenPages['documentUploads']}">
                <a *ngIf="applicationId == null"  [ngClass]="{'disabled': !isMainTabEnabled}">Document Uploads</a>
                <a [routerLink]="['/document-uploads', applicationId]" *ngIf="applicationId != null  && applicantId != null" [ngClass]="{'disabled': !isMainTabEnabled}" >Document Uploads</a>
            </li>
            <li [ngClass]="{'active': activeTab==screenPages['payments'], 'disabled': isPaymentsDisabled}">
                <a *ngIf="applicationId == null" [ngClass]="{'disabled': (isFinalSubmitEnabled)}">Payments</a>
                <a *ngIf="applicationId != null && !isPaymentsDisabled" [ngClass]="{'disabled': (!isFinalSubmitEnabled)}" [routerLink]="['/payments/offline-payments', applicationId]">Payments</a>
                <a *ngIf="applicationId != null && isPaymentsDisabled">Payments</a>
            </li>
           
        </ul>
        <!-- header end -->
    </div>

    <div class="overlay" [ngClass]="{'active': isSourceModal}"></div>
    <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isSourceModal}">

        <a class="modal-close" (click)="isSourceModal = false;valueSMSA = ''"><span class="icon icon-close"></span></a>
      <div class="modal-body">

        <form class="bs-form" autocomplete="off">
        <div class="form-group">
            <input 
            type="text"
            autocomplete="off"
            class="form-control"
            id="smsaId" 
            name="smsaData"
            #searchSMSA ="ngModel"
            [(ngModel)]="valueSMSA"
           
            (input)="searchSMSAId($event)"
            fieldFill
            required >

            <label for="smsaId" >SM/SA -ID</label>
            <!-- <span class="optional" style="font-size: 1vw">Type to search</span> -->
            <div *ngIf="(searchSMSA.touched || searchSMSA.dirty) && searchSMSA.invalid" class="invalid-feedback">
              <div *ngIf="searchSMSA.errors?.pattern">Invalid SM/SA -ID</div>
            </div>

            <ul class="sm-sa-list">
              <li *ngFor="let c of allSMSAData;let i=index;" (click)="selectSMSA(c)">
                {{c.key}}
              </li>
            </ul>
          </div>

          </form>

        <div class="btn-wrap">
          <button class="btn btn-border" [ngClass]="{'disabled': !isSelectsaSmId}" [disabled]="!isSelectsaSmId" (click)="onSourceSubmit()">Submit</button>
        </div>
      </div>
    </div> 
</header>
