.sec-nav {
    background-color: #fff;
    z-index: 11;
    position: relative;
}
.logout {
    cursor: pointer;
}
.header_reference_no{
    font-size: 15px;
    text-align: left;
    color: #f58220;
}
.space{
    margin-right: 8px;
}

@media screen and (max-width: 800px) {

    .user-name{
    font-size: 2vw;
    }
}



.sm-sa-list {
    box-shadow: 0 0 48.06px 5.94px rgba(0, 0, 0, .16);
    max-height: 10vw;
    font-size: 1.5vw;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 75%;
}

.sm-sa-list li {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.sm-sa-list li:hover,
.sm-sa-list li:focus {
    background: #f58220;
    color: #fff;
}

.text-upper-case {
    text-transform: uppercase;
}

.source-id-pointer{
    cursor: pointer;
}


.bs-form .form-group .form-control {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
    width: 100%;
    font-size: 2.28vw;
    line-height: 4.69vw;
    color: #999;
    font-family: zurich-light;
    padding: 0;
}

/* .bs-form .form-group label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateY(0);
    color: rgba(153, 153, 153, .4);
    font-family: zurich-light;
    font-size: 2.28vw;
    line-height: 4.69vw;
    transition: transform .4s ease-in;
    transform-origin: left;
    width: 100%;
    right: 0;
    display: block;
} */

.bs-form[_ngcontent-c3] .form-group[_ngcontent-c3] .form-control[_ngcontent-c3] {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
    width: 80%;
    font-size: 2.28vw;
    line-height: 4.69vw;
    color: #999;
    font-family: zurich-light;
    padding: 0;
}