.sec-nav {
    background-color: #fff;
    z-index: 11;
    position: relative;
}
.logout {
    cursor: pointer;
}
.header_reference_no{
    font-size: 15px;
    text-align: left;
    color: #f58220;
}