<header>
    <div class="bs-header" data-nav="dashboard">
        <!-- header start -->
        <div class="sec-nav" *ngIf="isMenuBarShown">
<div class="logo">
    <h1>
        <a href="/leads">
            <img src="assets/images/logo.svg" alt="logo" class="img-responsive">
        </a>
    </h1>
</div>
<div class="right-panel">
    <h3 class="for-user">Application for <span class="user-name">Komal Agarwal</span></h3>
    <button class="btn btn-default view-form">View Form</button>
</div>
</div>
<ul class="main-nav">
<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="/applicant">Applicant Details</a>
</li>
<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="/co-applicant">Co-Applicant Details</a>
</li>
<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="/loan">Loan Details</a>
</li>
<li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
    <a routerLink="/references">References</a>
</li>
<li>
    <a href="javascript:void(0);">Document Uploads</a>
</li>
</ul>
        <!-- header end -->
    </div>
</header>