<div class="main">
  <div class="lyt-login">
      <div class="lhs">
          <h1 class="logo">
              <a href="#">
                  <img src="assets/images/logo-white.svg" alt="logo">
              </a>
          </h1>
          <div class="title-wrap">
              <h2 class="title">Confirm mPIN</h2>
              <p class="subtitle">An mPIN has been sent to your <span class="cm-line-break"></span> registered email address and phone no.</p>
              <span class="note">*Please use this mPIN for all your future logins</span>
          </div>
      </div>
      <div class="rhs">
          <form class="bs-form">
              <div class="form-wrap">
                  <div class="form-group typ-otp last">
                      <span class="control-title">Confirm mPIN</span>
                      <input type="password" [(ngModel)]="mPin1" class="form-control" name="mPin1" maxlength="1">
                      <input type="password" [(ngModel)]="mPin2" class="form-control" name="mPin2"  maxlength="1">
                      <input type="password" [(ngModel)]="mPin3" class="form-control" name="mPin3"  maxlength="1">
                      <input type="password" [(ngModel)]="mPin4" class="form-control" name="mPin4"  maxlength="1">
                      </div>
              </div>
              <div class="btn-wrap">
                  <button class="btn btn-primary" (click)="confirmPin()">NEXT</button>
              </div>
          </form>
          <p class="resend-pin" (click)="resendPin()"> Not Received it yet? <a href="#" class="btn">RESEND mPIN</a></p>
      </div>
  </div>