<a class="editsavebtn" routerLink="/admin/lovs">Go Back</a>
<h1 class="lov-heading">{{tableName.split('_').join(' ')}}</h1>
<button type="button" class="editsavebtn" (click)="add()">{{isAdd ? 'Close': 'Add New'}}</button>

<div class="add-form" *ngIf="isAdd">
  <form (ngSubmit)="submitForm(addForm)" #addForm="ngForm">

    <div class="admin-col-half">

      <label for="state">Select State</label>
      <select id="state" name="state" ngModel>
        <option *ngFor="let s of states;" value="s.value">{{s.key}}</option>
      </select>
  
      <label for="zone">Select Zone</label>
      <select id="zone" name="zone" ngModel>
        <option *ngFor="let z of zones;" value="z.value">{{z.key}}</option>
      </select>
  
      <label for="city">Select City</label>
      <select id="city" name="city" ngModel>
        <option *ngFor="let c of cities;" value="c.value">{{c.key}}</option>
      </select>
    </div>

    <div class="admin-col-half">
      <label for="description">Description</label>
      <input type="text" class="descvalue" id="description" name="description" ngModel />
  
      <label for="value">Value</label>
      <input type="text" class="descvalue" id="value" name="value" ngModel />

      <button type="submit" class="saveBtn">Save</button>
    </div>

  </form>
</div>

<!-- <input type="text" class="lov-search" placeholder="Search" (input)="search($event)" /> -->
<div class="zipcode-table-wrapper">

  <table class="zipcode-table">
    <thead>
      <tr>
        <th>State</th>
        <th>Zone</th>
        <th>City</th>
        <th>Description</th>
        <th>Value</th>
        <th>Edit/Save</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <td>{{d.state}}</td>
        <td>{{d.zone}}</td>
        <td>{{d.city}}</td>
        <td>{{d.description}}</td>
        <td>{{d.value}}</td>
        <td>Edit/Save</td>
        <td>Delete</td>
      </tr>
    </tbody>
  </table>

  <div class="pagination-wrapper">
    <ul>
      <li class="pagination" *ngFor="let page of pagination;let i=index">
        <a class="pagination-link">{{i+1}}</a>
      </li>
    </ul>
  </div>
</div>