<a class="editsavebtn" routerLink="/admin/lovs" #goBack>Go Back</a>
<h1 class="lov-heading">{{tableName.split('_').join(' ') | titlecase }}</h1>
<input type="text" class="lov-search" #searchInp placeholder="Search" tabindex="1" (input)="search($event)" [(ngModel)]="searchKey" />
<button type="button" class="editsavebtn" (click)="add()">{{isAdd ? 'Close': 'Add New'}}</button>
<button type="button" class="editsavebtn" (click)="refresh()">Refresh Data</button>

<div class="add-form" *ngIf="isAdd">
  <form (ngSubmit)="submitForm(addForm)" #addForm="ngForm">

    <div class="admin-col-half">

      <!-- ZipCode -->
      <div *ngIf="tableName == 'zipcode'">
        <label for="region">Select Region</label>
        <select class="space-margin-bottom" id="region" name="regionId" [(ngModel)]="selectedRegion.value" (ngModelChange)="regionChanged($event)">
          <option value="0">Select</option>
          <option *ngFor="let r of regions;" [ngValue]="r.value">{{r.key}}</option>
        </select>
        <span class="error-span" [ngClass]="{'errorMessage':true}">
          Please select the region
        </span>

        <label for="state">*Select State</label>
        <select class="space-margin-bottom" id="state" name="stateId" [(ngModel)]="selectedState.value" (ngModelChange)="stateChanged($event)">
          <option value="0" disabled>Select</option>
          <option *ngFor="let s of states;" [ngValue]="s.value">{{s.key}}</option>
        </select>
        <span class="error-span" [ngClass]="{'errorMessage': !isStateHidden}">
          Please select the state
        </span>

        <label for="zone">*Select Zone</label>
        <select class="space-margin-bottom" id="zone" name="zone" [(ngModel)]="selectedZone.value" (ngModelChange)="zoneChanged($event)">
          <option value="0" disabled>Select</option>
          <option *ngFor="let z of zones;" [ngValue]="z.value">{{z.key}}</option>
        </select>
        <span class="error-span" [ngClass]="{'errorMessage':!isZoneHidden}">
          Please select the zone
        </span>
    
        <label for="city">*Select City</label>
       
        <select id="city" class="space-margin-bottom" name="cityId" [(ngModel)]="selectedCity.value" (ngModelChange)="cityChanged($event)">
          <option value="0" disabled>Select</option>
          <option *ngFor="let c of cities;" [ngValue]="c.value">{{c.key}}</option>
        </select>
        <span class="error-span" [ngClass]="{'errorMessage':!isCityHidden}">
          Please select the city
        </span>
      </div>


    </div>

    <div class="admin-col-half">

      <label for="value">*Value</label>
      <input type="text" class="descvalue" (ngModelChange)="valueChange($event)" pattern={{regexPattern.mobileNumber}} 
      [(ngModel)]="value" id="value" name="value" maxlength="6" ngModel />
      <span class="error-span" [ngClass]="{'errorMessage':!isValueHidden}">
        {{zipcodeErrMsg}}
      </span>
      
      <label for="description">*Description</label>
      <input type="text" class="descvalue space-margin-bottom" (ngModelChange)="descriptionChange($event)" [(ngModel)]="description" id="description" name="description" ngModel />
      <span class="error-span" [ngClass]="{'errorMessage':!isDescriptionHidden}">
        Please enter the description
      </span>
      

      <button type="submit" class="saveBtn" >Save</button>
    </div>

  </form>
</div>

<!-- <input type="text" class="lov-search" placeholder="Search" (input)="search($event)" /> -->
<div class="zipcode-table-wrapper">

  <table class="admin-table">
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Region</th>
        <th>State</th>
        <th>Zone</th>
        <th>City</th>
        <th>Description</th>
        <th>Value</th>
        <th>Edit/Save</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data | paginate: { itemsPerPage: perPage, currentPage: currentPage, totalItems: totalItems  };let i=index;">
        <td>{{i+1}}</td>
        <td>{{d.regionName}}</td>
        <td>{{d.stateName}}</td>
        <td>{{d.zoneName}}</td>
        <td>{{d.cityName}}</td>
        <td>{{d.description}}</td>
        <td>{{d.value}}</td>
        <td>
          <button type="button" class="editsavebtn" (click)="edit(i);scroll(goBack)">Edit</button>
        </td>
        <td>
          <button type="button" class="editsavebtn" (click)="delete(i)">Delete</button>
        </td>
      </tr>
      <!-- <tr>
        <td><button type="button" class="editsavebtn" *ngIf="currentPage != totalPages" (click)="loadMore()">Load More</button></td>
      </tr> -->
    </tbody>
  </table>
  <pagination-controls  (pageChange)="loadMore($event)" autoHide="true" class="pagination" >fdsdfsd</pagination-controls>
  

  <div class="pagination-wrapper">
    <!-- <ul>
      <li class="pagination" *ngIf="currentPage != 1">
        <a class="pagination-link">&lt;</a>
      </li>
      <li class="pagination" *ngFor="let page of counter(perPageCount);let i=index">
        <a class="pagination-link">{{i+1}}</a>
      </li>
      <li class="pagination" *ngIf="currentPage == totalPages">
        <a class="pagination-link">&gt;</a>
      </li>
    </ul> -->
    <div class="pagination">
      
    </div>
  </div>
</div>
<div class="overlay" [ngClass]="{'active': isErrorModal}"></div>
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}">
    <a class="modal-close" (click)="isErrorModal = false"><span class="icon icon-close"></span></a>
    <div class="modal-body">
      <h1>{{errorMsg}}</h1>
      <br><br>
      <div class="btn-wrap">
        <button class="btn btn-border" (click)="isErrorModal = false">Close</button>
      </div>
    </div>
  </div>
  <div class="overlay" [ngClass]="{'active': isConfirmModal}"></div>
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isConfirmModal}">
    <a class="modal-close" (click)="isConfirmModal = false"><span class="icon icon-close"></span></a>
    <div class="modal-body">
      <h1>Are you sure?</h1>
      <br><br>
      <div class="btn-wrap">
        <button class="btn btn-border" (click)="confirmDelete()">Yes</button> &nbsp;&nbsp;
        <button class="btn btn-border" (click)="isConfirmModal = false">Cancel</button>
      </div>
    </div>
  </div>
