<a class="editsavebtn" routerLink="/admin/lovs">Go Back</a>
<h1 class="lov-heading">{{tableName.split('_').join(' ') | titlecase}}</h1>
<input type="text" class="lov-search" placeholder="Search" [(ngModel)]="searchKey" (input)="search($event)" />
<button type="button" class="editsavebtn" (click)="addNew()">Add New</button>
<button type="button" class="editsavebtn" (click)="refresh()">Refresh Data</button>

<div class="admin-lovs-wrapper">
 <table class="admin-table">
   <thead>
     <tr>
       <th>Key</th>
       <th>Description</th>
       <th>Value</th>
       <th>Edit/Save</th>
      <th *ngIf="isApplicantTitle"><form>Male/Female</form></th>
      <th *ngIf="isDocumentCategory"><form>Is Mandatory</form></th>
      <th *ngIf="isLoanPurpose"><form>Is Property Mandatory</form></th>
      <th *ngIf="isFinancialApplicant"><form>Financial Applicant</form></th>
      <th *ngIf="isMale"><form>Male</form></th>
      <th *ngIf="isUserAtivity">Activity</th>
       <th [ngStyle]="{textAlign: 'center'}">Delete</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let l of lovs | paginate: { itemsPerPage: perPage, currentPage: currentPage, totalItems: totalItems  };let i=index;">
       <td>{{key[i]}}</td>
       <td>
         <input type="text" #lovsElements placeholder="Description" [(ngModel)]="l.description" tabindex="1" [disabled]="l.isEdit" />
       </td>
       <td>
        <input type="text" placeholder="Value" tabindex="2" [(ngModel)]="l.value" [disabled]="l.isEdit" />
      </td>
      <td>
        <button type="button" class="editsavebtn" *ngIf="l.isEdit" (click)="edit(i)">Edit</button>
        <button type="button" class="editsavebtn" *ngIf="!l.isEdit" (click)="save(i)">Save</button>
      </td>
      <td *ngIf="isApplicantTitle">
        <form>
          <input (change)="changeGender(1, i)" type="radio" class="genders" [checked]="(l.male == true && l.female == false)" name="gender" *ngIf="!l.isEdit" /><label [ngClass]="{'displayNun': !(l.male == true && l.female == false), 'displayInlineBlock': !l.isEdit}">Male</label>
          <br *ngIf="!l.isEdit" />
          <input (change)="changeGender(2, i)" type="radio" class="genders" [checked]="(l.male == false && l.female == true)" name="gender" *ngIf="!l.isEdit" /><label [ngClass]="{'displayNun': !(l.male == false && l.female == true), 'displayInlineBlock': !l.isEdit}">Female</label>
          <br *ngIf="!l.isEdit" />
          <input (change)="changeGender(3, i)" type="radio" class="genders" [checked]="(l.male == true && l.female == true)" name="gender" *ngIf="!l.isEdit" /><label [ngClass]="{'displayNun': !(l.male == true && l.female == true), 'displayInlineBlock': !l.isEdit}">Both</label>
        </form>
      </td>
      <td *ngIf="isDocumentCategory">
        <form>
          <input (change)="changeIsRequired('1', i)" type="radio" class="genders" [checked]="(l.isRequired == '1')" name="gender" *ngIf="!l.isEdit" /><label [ngClass]="{'displayNun': !(l.isRequired == '1'), 'displayInlineBlock': !l.isEdit}">Yes</label>
          <br *ngIf="!l.isEdit" />
          <input (change)="changeIsRequired('0', i)" type="radio" class="genders" [checked]="(l.isRequired == '0')" name="gender" *ngIf="!l.isEdit" /><label [ngClass]="{'displayNun': !(l.isRequired == '0'), 'displayInlineBlock': !l.isEdit}">No</label>
        </form>
      </td>
      <td *ngIf="isLoanPurpose">
          <form style="margin-left: 20%;">
          <input type="checkbox" [checked]="l.reqBoolean" id="isPropIdentified" (change)="changeIsPropertyIdentified($event,i)" [disabled]="l.isEdit" /><label for="isPropIdentified">Yes</label>
          </form>
      </td>
      <td *ngIf="isFinancialApplicant">
          <form style="margin-left: 20%;">
          <input type="checkbox" [checked]="l.reqBoolean" id="isFinancialApplicant" (change)="changeIsFinancialApplicant($event,i)" [disabled]="l.isEdit" /><label for="isFinancialApplicant">Yes</label>
          </form>
      </td>
      <td *ngIf="isMale">
        <form>
        <input type="checkbox" [checked]="l.isMale" id="isMale" (change)="changeIsMale($event,i)" [disabled]="l.isEdit" /><label for="isMale">Yes</label>
        </form>
    </td>

    <td [ngStyle]="{textAlign: 'center'}"  *ngIf="isUserAtivity" >
      <kendo-multiselect
            [data]="activityLists"  
            [textField]="'value'"
            [valueField]="'key'"            
            [allowCustom]="true"
            (valueChange)="onAddActivity($event,i)"
            [disabled]="l.isEdit"
            [(ngModel)]="l.activityLists"
        >
        <!-- [value]="selectedSizes" -->
        <!-- <ng-template kendoMultiSelectCustomItemTemplate let-customText>
            <strong>{{ customText }}</strong>
        </ng-template> -->
        </kendo-multiselect>      
    </td>
       <td [ngStyle]="{textAlign: 'center'}">
         <button type="button" class="deleteBtn" (click)="delete(i)" *ngIf="l.id != null">
           <img src="assets/images/delete.svg" class="img-responsive deleteImg" alt="Delete" />
         </button>
       </td>

     </tr>

   </tbody>
 </table> 
</div>
<div #adminErrorDiv class="overlay" [ngClass]="{'active': isErrorModal}">
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}">
    <a class="modal-close" (click)="isErrorModal = false"><span class="icon icon-close"></span></a>
    <div class="modal-body">
      <h1>{{errorMsg}}</h1>
      <br><br>
      <div class="btn-wrap">
        <button class="btn btn-border" (click)="isErrorModal = false">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="overlay" [ngClass]="{'active': isConfirmModal}">
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isConfirmModal}">
    <a class="modal-close" (click)="isConfirmModal = false"><span class="icon icon-close"></span></a>
    <div class="modal-body">
      <h1>Are you Sure?</h1>
      <br><br>
      <div class="btn-wrap">
        <button class="btn btn-border" (click)="confirmDelete()">Yes</button> &nbsp;&nbsp;
        <button class="btn btn-border" (click)="isConfirmModal = false">Cancel</button>
      </div>
    </div>
  </div>
</div>
<pagination-controls  (pageChange)="pageChanged($event)" class="pagination" autoHide="true" ></pagination-controls>