<div class="container">
  <div class="tabs">
    <ul class="tabs-head">
      <li class="tab-link" [class.active]="viewMode == 'offtab1'" rel="tab1" (click)="viewMode ='offtab1'"><a href="javascript:void(0);">Upload Cheque Payment</a></li>
      <li class="tab-link" [class.active]="viewMode == 'offtab2'" rel="tab2" (click)="viewMode ='offtab2'"><a href="javascript:void(0);">Download Cheque Payment</a></li>
    </ul>
  </div>
  <div class="tab-slider--container" [ngSwitch]="viewMode">

    <!--Tabs 1 Upload cheque payment starts-->
    <div id="offtab1" class="tab-slider--body" *ngSwitchCase="'offtab1'">
      <h2>UPDATE PAYMENT</h2>

      <div class="bs-file paymentUploadPicContainer">
          <input name="myFile" id="paymentUploadPic" type="file" class="form-control" (change)="setUploadDoc($event.target)" >
          <label for="paymentUploadPic"><span>Upload Payment Photo</span></label>
      </div>
      <!-- <input type="submit" (click)="startUploadDoc()" class="btn btn-default"> -->

      <div class="btn-wrap">
          <!-- <button type="submit"  class="btn btn-primary">Next</button> -->
          <button class="btn btn-primary" (click)="startUploadDoc()">SUBMIT</button>
        </div>

      <div class="file-name">{{uploadFileName}}</div>
      <div class="error-msg">{{errorMsg}}</div>
    </div>
    <!--Tabs 1 Upload cheque payment starts-->

    <!--Tabs 2 Download cheque payment starts-->
    <div id="offtab2" class="tab-slider--body" *ngSwitchCase="'offtab2'">
         <!-- <span>From date</span> -->
         <br>
         <label for="startDate" class="inputText">From date</label>
          <input type="date" [(ngModel)]="startDate" placeholder="From date" class="dataPicker">
          <br>
          <br>
          <span>To date</span>
          <input type="date" [(ngModel)]="endDate" placeholder="From date" class="dataPicker">

      <h2>Download CSV for Cheque payment</h2>
      <input type="submit" (click)="downloadCSV()" class="btn btn-default">
    </div>
    <!--Tabs 2 Download cheque payment ends-->  

  </div>
</div>