<main>
  <div class="main">
      <div class="lyt-box">
          <h3 class="title">
              <span class="num">02</span>
              <span class="text">
                  <span>Terms</span>
              <span>and Conditions</span>
              </span>
          </h3>
          <div class="cont">
              <p>A copy of this has been sent to your registered email address as well.</p>
              <div class="bs-desc-listing">
                  <h3 class="title">Declaration</h3>
                  <ul class="list">
                      <li class="item">I / We declare that all the particulars and information given in the application form are true, 
                          correct, complete and up to date in all respects and I / we have not with-held any information
                          whatsoever. I/ We confirm that I /We have no  insolvency proceeding initiated against me/us
                          nor  have I/ we have ever been adjudicated insolvent / bankrupt. I /We have read the 
                          application fromand brochures and are agreeable to all the terms /conditions of availing 
                          financial assistance from IHFC/ Its Group Companies/its agents to make references and
                          enquiries relevant to information in this application form which IHFC/its Group companies/its 
                          Agents consider necessary. I/ we undertake to inform IHF/group companies/its Agents 
                          regarding the change in the residential addresses to provide any further information that
                          that IHFC/its Group Companies/its Agents may require
                      </li>
                      <li class="item">I/We further declare and confirm that the credit facilities/ financial assistance if any enjoyed 
                          by me/us with other banks has been disclosed herein above.</li>
                      <li class="item"> I/We declare the we have read the application form and brochure and are agreeable to the 
                          terms/ conditions of availing the credit facilities/financial assistance mentioned herein from 
                          IHFC.</li>
                      <li class="item">I/We understand that certain particulars given by me/us are required by the operational 
                          guidelines governing housing finance companies.</li>
                      <li class="item">Save and except to the extent as disclosed in this application. I /We (if a person other than a 
                          subsidiary of IHFC or a section 25 company or a government company, or in case of facility/
                          ies are not encompassed by the restrictions specified by the Reserve Bank of India / National
                          Housing Bank (RBI/NHB) from time to time) as applicable represents that; no director or a 
                          relative/near relation (as specified by RBI/NHB) of a director of a banking/housing finance 
                          (including IHFC) or a relative/ near relation (as specified by the RBI/NHB) of a senior officer of 
                          companyIHF (as specified by RBI/NHB) is a partner of mine/us, a director, manager employee 
                          of mine/us or a subsidiary of me/us or a subsidiary or the holding company of me/us, or a 
                          guarantor on behalf of/for/to me/us, or holds substantial interest in me/us, or a subsidiary of 
                          the holding company of me/us.</li>
                          <li class="item">I/We agree that IHFC may provide the credit facilities/ financial assistance mentioned herein 
                              only if permitted and  if approved in the manner specified or required by the Reserve Bank of 
                              India/ National Housing Bank (RBI/NHB) from to time.</li>
                          <li class="item">/ We agree and understand that IHFC reserves the right to reject the application and that IHFC 
                              Shall not be responsible/ liable in any manner whatsoever to me/us for such rejection or any 
                              delay in notifying me/us of such rejection and any costs. losses, damages or expenses, or 
                              other consequences, caused by reason of such rejection, or any delay in notifying me/us of 
                              such rejection, of our application.</li>
                          <li class="item">I/We acknowledges that IHFC/ group companies reserve the right to retain the photographs 
                              and documents submitted along with this application application and will not return the same 
                              to the applicant/s.</li>
                          <li class="item">I/We hereby affirm and declare that I/We have not made any payments in cash.</li>
                          <li class="item">I/We hereby agree and authorize IHFC/its Group companies and their agents to exchange, 
                              share or part with all the information, data or data or document in relation to my/our 
                              application including but not limited to the credit repayment, history or any default, if any, 
                              committed by me/ us to other ICICI Group companies/ bank, financial institutions, credit 
                              bureaus, agencies statutory bodies or such other persons as IHFC/its Groups companies may 
                             deem necessary or appropriate as may be required for use of the said information or data by 
                             such person(s) or furnishing of the processed information/ data/ products thereof to the other 
                             banks financial institutions, credit providers or users
                             registered with such persons as required under applicable laws/statutes or to provide services 
                             to the customers for the products availed by by them and shall not hold IHFC/its Group 
                             companies/ their agents liable for use this information.</li>
                          <li class="item">I/ We confirm that the initials form this application form are made by me/ us and the validity 
                              of the initials shall not be disputed by me/ us.</li>
                  </ul>
                  <!-- <button class="btn-text">Read Less</button>
                  <button class="btn-text typ-float">Read More</button> -->
              </div>
              <div class="btn-wrap">
                  <button class="btn btn-border typ2">PROCEED TO Payment</button>
              </div>
          </div>
      </div>
  </div>
  <span class="cm-autoSave"><span class="cm-bold">Autosaved</span> <span>at 09:26 AM</span></span>
</main>
