.lyt-box {
    width: 60%;
    margin: 1.95vw auto 0;
    box-shadow: 0 0 25px -7px #d6d6d6;
    display: block;
    min-height: 78vh;
    position: relative;
    padding: 2.34vw;
}
.lyt-box .title {
    text-align: left;
    font-size: 2.34vw;
    line-height: 2.34vw;
    font-family: zurich-bold;
    margin-bottom: 1.56vw;
}
.lyt-box .title .num {
    font-size: 5.47vw;
    line-height: 5.47vw;
    float: left;
    color: #b02a30;
    position: relative;
    top: -.55vw;
}
.lyt-box .title .text {
    overflow: hidden;
    color: #444;
}
.lyt-box .title .text span {
    display: block;
}
.lyt-box .cont {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.lyt-box .cont p {
    font-family: zurich-light;
    font-size: 1.56vw;
    line-height: 1.72vw;
    color: #999;
    text-align: left;
}
.lyt-box .cont .bs-desc-listing {
    display: block;
    margin: 0 0 1.56vw;
}
.lyt-box .cont .bs-desc-listing .title {
    display: block;
    font-size: 1.72vw;
    color: #444;
    font-family: zurich-bold;
    margin: .78vw 0;
}
.lyt-box .cont .bs-desc-listing .list{
    list-style-type: decimal;
    font-size: 16px;
    line-height: 22px;
    color: #999;
    font-family: zurich-light;
}
.lyt-box .cont .btn-wrap {
    text-align: center;
    margin-top: 15px;
}
.btn.btn-border {
    border-radius: 3.91vw;
    color: #f58220;
    font-family: zurich-bold;
    font-size: 1.64vw;
    line-height: 2.81vw;
    text-transform: uppercase;
    padding: 0 1.56vw;
    border: 1px solid #f58220;
}
.btn.btn-border.typ2 {
    border-color: #949494;
    color: #949494;
    padding: .47vw 1.56vw;
}
