.grey-bg {
    background: #f3f3f3;
    padding-top: 5.08vw;
}
.bs-modal .modal-body .thumb-icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 1vw;
    left: 50%;
    transform: translateX(-50%);
}
.center {
    text-align: center;
}
.center.typ2{
    margin-top: 1vw
}
.bs-modal p {
    margin-top: 3vw;
    font-size: 1vw
}
.bs-modal .modal-body {
    padding: 1vw 0;
    margin-top: 3vw;
}
.center {
    text-align: center;
}

.edit-btn-wrap {
    position: fixed;
    top: 4vw;
    right: 4vw;
    text-align: right;
    z-index: 1;
}
.back-btn-wrap {
    position: fixed;
    top: 4vw;
    left: 4vw;
    text-align: left;
    z-index: 1;
}
.back-btn {
	position: absolute;
	left: 1vw;
    /* top: 1.95vw; */
    top: 4vw;
	background: url(/assets/images/slide-back.png) no-repeat;
	background-size: contain;
	width: 2.73vw;
	height: 2.73vw;
	display: block;
	z-index: 2
}
.bs-card .bs-form .form-group .form-control {
    font-size: 1.64vw;
    height: 3.13vw;
}
.bs-card .bs-form .form-group .control-title1 {
    font-size: .78vw;
    line-height: 0.17vw;
    position: absolute;
    top: -.2vw;
    left: 0;
}
.bs-card[_ngcontent-c1] .bs-form[_ngcontent-c1] .form-group[_ngcontent-c1] .form-controlfn[_ngcontent-c1] {
    font-size: 1.64vw;
    height: 3.13vw;
    width: 18vw;
}

.form-control {
    width: 100%;
    touch-action: none;
    pointer-events: none;
}

.col-4.padd0 {
    padding: 0;
}

.bold {
    font-weight: bold;
}

.eligibility-wrapper {
    font-size: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 3.13vw 1.95vw 3.13vw;
    margin-bottom: 1.56vw;
    position: relative;
}

.eligibility-name {
    padding: 5px;
}

.eligibility-yesno {
    text-align: center;
    border-left: 1px solid #333;
    padding: 5px;
}

.eligibility-table {
    outline: auto;
    width: 100%;
}

.eligibility-table tr {
    outline: auto;
}

.eligibility-table thead th:nth-child(2) {
    border-left: 1px solid #333;
}

.eligibility-wrapper .card-title {
    font-family: zurich-bold;
    font-size: 2.11vw;
    line-height: 3.28vw;
    color: #004a80;
    padding-left: 1.17vw;
}

.eligibility-wrapper .card-info {
    padding-left: 1.17vw;
}

.clearfix {
    display: block;
    clear: both;
}

.marginTop15 {
    margin-top: 15px;
}

.marginBot15 {
    margin-bottom: 15px;    
}
@media screen and (max-width: 800px) {
   
    .k-dropdown .k-dropdown-wrap .k-select {
        display: none;
    }
	.bs-modal{
		max-width:55.25vw;
    }
    .modal_btn{
        height: 23px;
        width: 50px;
        font-size: 3vw;
    }
}