

<div class="container">
    <div class="tabs">
      <ul class="tabs-head">
        <li class="tab-link" [class.active]="viewMode == 'tab1'" rel="tab1" (click)="viewMode ='tab1'"><a href="javascript:void(0);">Offline</a></li>
        <li class="tab-link" [class.active]="viewMode == 'tab2'" rel="tab2" (click)="viewMode ='tab2'"><a href="javascript:void(0);">Online</a></li>
      </ul>
    </div>
    <div class="tab-slider--container" [ngSwitch]="viewMode">
  
      <div id="tab1" class="tab-slider--body" *ngSwitchCase="'tab1'">
        <app-check-payment></app-check-payment>
      </div>
  
      <div id="tab2" class="tab-slider--body" *ngSwitchCase="'tab2'">
        <app-online-payment></app-online-payment>
      </div>
  
    </div>
  </div>