.error-msg{
    color: #96752f;
    font-size: 15px; 
  }
  .paymentUploadPicContainer label {
    position: relative;
  }
  .tabs .tabs-head {
    justify-content: left;
  }
  .paymentUploadPicContainer,
  .btn-wrap {
    display: inline-block;
    vertical-align: middle;
  }
  .btn-wrap {
    margin-left: 5vw;
  }
  .tab-slider--body {
    padding: 10px 30px;
  }
  .tab-slider--body > h2 {
    margin: 10px 0;
  }