<main>
  <div class="main">
      <div class="lyt-dashboard">
          <div class="main-area">
              <div class="lyt-lead-gen">
                  <h4 class="title">Create New Lead</h4>
                  <p class="desc">The below lead will be sent to Vikas bhalla, bhandup west</p>
                  <form action="" class="bs-form">
                      <div class="form-group">
                          <label for="lead-name">Name</label>
                          <input type="text" class="form-control" id="lead-name">
                      </div>
                      <div class="form-group">
                          <label for="lead-mobile">Mobile number</label>
                          <input type="text" class="form-control" id="lead-mobile">
                      </div>
                      <div class="form-group">
                          <label for="lead-address">Address</label>
                          <input type="text" class="form-control" id="lead-address">
                      </div>
                      <div class="form-group">
                          <label for="lead-pin">Pin code</label>
                          <input type="text" class="form-control" id="lead-pin">
                      </div>
                      <div class="form-group">
                          <label for="lead-email">Email ID</label>
                          <input type="text" class="form-control" id="lead-email">
                      </div>
                      <div class="form-group">
                          <label for="lead-loan-type">Loan amount</label>
                          <input type="text" class="form-control" id="lead-loan-type">
                      </div>
                      <div class="form-group">
                          <span class="control-title">Type of loan</span>
                          <select name="" class="js-select">
                              <option value="">Home loan</option>
                              <option value="">Car loan</option>
                              <option value="">Home loan</option>
                              <option value="">Home loan</option>
                              <option value="">Home loan</option>
                          </select>
                      </div>
                      <div class="btn-wrap">
                          <button class="btn btn-primary">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
          <div class="sidebar">
              <div class="card">
                  <div class="lyt-alerts">
                      <h4 class="title">Alerts</h4>
                      <span class="date">January, 2019</span>
                      <ul class="alerts-list">
                          <li class="alert-msg">
                              <span class="num">02</span>
                              <span class="msg">New leads <span class="cm-line-break"></span> expires in 24 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">03</span>
                              <span class="msg">Leads document<span class="cm-line-break"></span> pending</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">05</span>
                              <span class="msg">Leads require action<span class="cm-line-break"></span> 48 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">11</span>
                              <span class="msg">Leads active for more<span class="cm-line-break"></span> than 72 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                      </ul>
                  </div>
                  <div class="lyt-perform-sidebar">
                      <h4 class="title">Performance</h4>
                      <span class="date">January, 2019</span>
                      <div class="pie-wrap">
                          <h5 class="pie-title">Target Achieved</h5>
                          <div class="performance-pie">
                              <span class="val-wrap"><span class="valuesub">40</span>%</span>
                          </div>
                      </div>
                      <ul class="performance-state">
                          <li>
                              <span class="name">Loan Disbursed</span>
                              <span class="value"><span class="rupee">&#8377;</span> 12.5 L</span>
                          </li>
                          <li>
                              <span class="name">Incentives Earned</span>
                              <span class="value"><span class="rupee">&#8377;</span> 12.5 L</span>
                          </li>
                          <li>
                              <span class="name">Connectors</span>
                              <span class="value">12</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>