<!-- <app-menubar-header></app-menubar-header> -->
<header>
    <div class="bs-header typ-dashboard" data-nav="applicant">
        <!-- header start -->
        <div class="sec-nav">
            <div class="logo">
                <h1>
                    <a href="login.html">
                        <img src="/assets/images/logo.svg" alt="logo" class="img-responsive">
                    </a>
                </h1>
            </div>
            <!-- <div class="right-panel">
                <div class="progress-wrap">
                    <span class="progress-circle" data-val="42"></span>
                    <div class="status-data">
                        <span class="percentage">42%</span>
                        <span>completed</span>
                    </div>
                </div>
                <h3 class="for-user">Application for <span class="user-name">Komal Agarwal</span></h3>
                <button class="btn btn-default view-form">View Form</button>
            </div> -->
            <div class="right-panel of-dashboard">
                <div class="search-wrap">
                    <a href="javascript:void(0);" class="search-btn"><span class="icon icon-search"></span></a>
                </div>
                <div class="notification-wrap hover-wrap">
                    <a href="javascript:void(0);" class="notification-btn hover-link"><span class="icon icon-notification"></span></a>
                    <div class="hover-content">
                        <ul class="notification-list">
                            <li class="bs-notification">
                                <span class="icon">!</span>
                                <p class="text">Action required on</p>
                                <span class="not-id">Application (ICICI234567)</span>
                                <span class="highlight">Document Reupload</span>
                                <span class="date">15:50, 09/12/18</span>
                            </li>
                            <li class="bs-notification">
                                <span class="icon icon-notification"></span>
                                <p class="text">Action required on</p>
                                <span class="not-id">Application (ICICI234567)</span>
                                <span class="highlight">Document Reupload</span>
                                <span class="date">15:50, 09/12/18</span>
                            </li>
                            <li class="bs-notification">
                                <span class="icon">!</span>
                                <p class="text">Action required on</p>
                                <span class="not-id">Application (ICICI234567)</span>
                                <span class="highlight">Document Reupload</span>
                                <span class="date">15:50, 09/12/18</span>
                            </li>
                            <li class="bs-notification">
                                <span class="icon">!</span>
                                <p class="text">Action required on</p>
                                <span class="not-id">Application (ICICI234567)</span>
                                <span class="highlight">Document Reupload</span>
                                <span class="date">15:50, 09/12/18</span>
                            </li>
                            <li class="bs-notification">
                                <span class="icon">!</span>
                                <p class="text">Action required on</p>
                                <span class="not-id">Application (ICICI234567)</span>
                                <span class="highlight">Document Reupload</span>
                                <span class="date">15:50, 09/12/18</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="profile-wrap hover-wrap">
                    <div class="profile-btn hover-link" #optionsMenuDropdown [ngClass]="{'active': isOptionsMenuDropOpen}" (click)="openOptionsMenuDropdown(optionsMenuDropdownContent)">
                        <img src="/assets/images/profile-thumb.png" alt="" class="profile-thumb">
                        <span class="profile-name">Satish Kamat</span>
                        <span class="icon icon-down"></span>
                    </div>
                    <div class="hover-content" #optionsMenuDropdownContent [ngClass]="{'active': isOptionsMenuDropOpen}" tabindex="0" (blur)="closeOptionsMenuDropdown(optionsMenuDropdownContent)">
                        <nav class="user-menu">
                            <a class="user-link typ-two" href="">My Profile</a>
                            <a class="user-link typ-two" href="">App Settings</a>
                            <a class="user-link typ-two" href="">Help & Support</a>
                            <a class="user-link typ-two" href="">Logout</a>
                            <a class="user-link" href="">Privacy Policy</a>
                            <!-- <a class="user-link" href="">Disclaimer</a> -->
                            <a class="user-link not-link">Version 12.04</a>
                            <a class="user-link not-link">Copyright 2019 @ICICI</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- header end -->
    </div>
</header>

<nav class="bs-side-menu">
    <a href="" class="nav-link active">
        <span class="icon icon-dashboard"></span>
        <span class="link-text">Dashboard</span>
    </a>
    <a href="" class="nav-link">
        <span class="icon icon-performance"></span>
        <span class="link-text">Performance</span>
    </a>
</nav>

<main>
  <div class="main">
      <div class="lyt-dashboard">
          <div class="main-area">
              <div class="lyt-lead-gen">
                  <h4 class="title">Create New Lead</h4>
                  <p class="desc">The below lead will be sent to Vikas bhalla, bhandup west</p>
                  <form action="" class="bs-form">
                      <div class="form-group">
                          <label for="lead-name">Name</label>
                          <input type="text" class="form-control" id="lead-name">
                      </div>
                      <div class="form-group">
                          <label for="lead-mobile">Mobile number</label>
                          <input type="text" class="form-control" id="lead-mobile">
                      </div>
                      <div class="form-group">
                          <label for="lead-address">Address</label>
                          <input type="text" class="form-control" id="lead-address">
                      </div>
                      <div class="form-group">
                          <label for="lead-pin">Pin code</label>
                          <input type="text" class="form-control" id="lead-pin">
                      </div>
                      <div class="form-group">
                          <label for="lead-email">Email ID</label>
                          <input type="text" class="form-control" id="lead-email">
                      </div>
                      <div class="form-group">
                          <label for="lead-loan-type">Loan amount</label>
                          <input type="text" class="form-control" id="lead-loan-type">
                      </div>
                      <div class="form-group">
                          <span class="control-title">Type of loan</span>
                          <select name="" class="js-select">
                              <option value="">Home loan</option>
                              <option value="">Car loan</option>
                              <option value="">Home loan</option>
                              <option value="">Home loan</option>
                              <option value="">Home loan</option>
                          </select>
                      </div>
                      <div class="btn-wrap">
                          <button class="btn btn-primary">Submit</button>
                      </div>
                  </form>
              </div>
          </div>
          <div class="sidebar">
              <div class="card">
                  <!-- <div class="lyt-alerts">
                      <h4 class="title">Alerts</h4>
                      <span class="date">January, 2019</span>
                      <ul class="alerts-list">
                          <li class="alert-msg">
                              <span class="num">02</span>
                              <span class="msg">New leads <span class="cm-line-break"></span> expires in 24 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">03</span>
                              <span class="msg">Leads document<span class="cm-line-break"></span> pending</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">05</span>
                              <span class="msg">Leads require action<span class="cm-line-break"></span> 48 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">11</span>
                              <span class="msg">Leads active for more<span class="cm-line-break"></span> than 72 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                      </ul>
                  </div> -->
                  <div class="lyt-perform-sidebar">
                      <h4 class="title">Performance</h4>
                      <span class="date">January, 2019</span>
                      <div class="pie-wrap">
                          <h5 class="pie-title">Target Achieved</h5>
                          <div class="performance-pie">
                              <span class="val-wrap"><span class="valuesub">0</span>%</span>
                          </div>
                      </div>
                      <ul class="performance-state">
                          <li>
                              <span class="name">Loan Disbursed</span>
                              <span class="value"><span class="rupee">&#8377;</span> 12.5 L</span>
                          </li>
                          <li>
                              <span class="name">Incentives Earned</span>
                              <span class="value"><span class="rupee">&#8377;</span> 12.5 L</span>
                          </li>
                          <li>
                              <span class="name">Connectors</span>
                              <span class="value">12</span>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>