<!-- <app-menubar-header></app-menubar-header> -->
<header>
    <div class="bs-header typ-dashboard" data-nav="applicant">
        <!-- header start -->
        <div class="sec-nav">
            <div class="logo">
                <h1>
                    <a routerLink="/leads">
                        <img src="assets/images/logo.svg" alt="logo" class="img-responsive">
                    </a>
                </h1>
            </div>
            <!-- <div class="right-panel">
                <div class="progress-wrap">
                    <span class="progress-circle" data-val="42"></span>
                    <div class="status-data">
                        <span class="percentage">42%</span>
                        <span>completed</span>
                    </div>
                </div>
                <h3 class="for-user">Application for <span class="user-name">Komal Agarwal</span></h3>
                <button class="btn btn-default view-form">View Form</button>
            </div> -->
            <div class="right-panel of-dashboard">
                <div class="search-wrap">
                    <!-- <a href="javascript:void(0);" class="search-btn"><span class="icon icon-search"></span></a> -->
                </div>
                <div class="profile-wrap hover-wrap">
                    <div class="profile-btn hover-link" #optionsMenuDropdown [ngClass]="{'active': isOptionsMenuDropOpen}" (click)="openOptionsMenuDropdown(optionsMenuDropdownContent)">
                        <!-- <img src="/assets/images/profile-thumb.png" alt="" class="profile-thumb"> -->
                        <span class="profile-name">{{firstName}}</span>
                        <span class="icon icon-down"></span>
                    </div>
                    <div class="hover-content" #optionsMenuDropdownContent [ngClass]="{'active': isOptionsMenuDropOpen}" tabindex="0" (blur)="closeOptionsMenuDropdown(optionsMenuDropdownContent)">
                        <nav class="user-menu">
                            <!-- <a class="user-link typ-two" href="">My Profile</a>
                            <a class="user-link typ-two" href="">App Settings</a>
                            <a class="user-link typ-two" href="">Help & Support</a> -->
                            <a class="user-link typ-two" (click)="logout()">Logout</a>
                            <!-- <a class="user-link" href="">Privacy Policy</a> -->
                            <!-- <a class="user-link" href="">Disclaimer</a> -->
                            <a class="user-link not-link" title="{{buildDate}}">Version - {{version}}</a>
                            <a class="user-link not-link">Copyright 2019 @ICICI</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- header end -->
    </div>
</header>

<nav class="bs-side-menu">
    <a [routerLink]="['/leads']" routerLinkActive="router-link-active"  class="nav-link active">
        <span class="icon icon-dashboard"></span>
        <span class="link-text">Dashboard</span>
    </a>
    <!-- <a href="" class="nav-link">
        <span class="icon icon-performance"></span>
        <span class="link-text">Performance</span>
    </a> -->
</nav>

<main>
  <div class="main">
      <div class="lyt-dashboard">
          <div class="main-area">
              <div class="lyt-lead-gen">
                  <h4 class="title">Create New Lead</h4>
                  <!-- <p class="desc">The below lead will be sent to Vikas bhalla, bhandup west</p> -->
                  <p class="desc">Fill up the form to create new lead</p>
                  <form #leadForm="ngForm" class="bs-form" autocomplete="off" (ngSubmit)="leadSaveConnector(leadForm)">
                    <div class="form-group">
                        <input spellcheck="false" type="text" class="form-control"
                          id="name" minlength="2" autocomplete="off"
                          [(ngModel)]="qde.application.leadCreate.name"
                          pattern="{{regexPattern.firstName}}"
                          name="firstName" #fName="ngModel" fieldFill required/>
                        <label for="name">Full name</label>    
                        <div *ngIf="(fName.touched || fName.dirty) && fName.invalid"
                                class="invalid-feedback">
                             <div *ngIf="fName.errors?.required">{{errors.leadCreate.firstName.required}}</div>
                              <div *ngIf="fName.errors?.pattern">{{errors.leadCreate.firstName.invalid}}</div>
                              <div *ngIf="fName.errors?.minlength">{{errors.leadCreate.firstName.length}}</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <input spellcheck="false" type="text" class="form-control"
                          id="mobNumber" autocomplete="off"
                          [(ngModel)]="qde.application.leadCreate.mobileNumber"
                          #phNumber="ngModel" minlength="10" maxlength="10"
                          pattern="{{regexPattern.mobileNumber}}"
                          name="mobileNumber" fieldFill required/>
                        <label for="mobNumber">Mobile Number</label>    
                        <div class="redalert" *ngIf="RegExp(regexPattern.sameDigit).test(phNumber.value)">
                                {{errors.leadCreate.mobileNo.wrong}}</div>
                        <div *ngIf="phNumber.touched && phNumber.invalid"
                                class="invalid-feedback">
                             <div *ngIf="phNumber.errors?.required">{{errors.leadCreate.mobileNo.required}}</div>
                              <div *ngIf="phNumber.errors?.pattern">{{errors.leadCreate.mobileNo.invalid}}</div>
                              <div *ngIf="phNumber.errors?.minlength">{{errors.leadCreate.mobileNo.minlength}}</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <input spellcheck="false" type="text" class="form-control"
                          id="address" autocomplete="off"
                          [(ngModel)]="qde.application.leadCreate.address"
                          pattern="{{regexPattern.address}}" minlength="2"
                          name="addresss" #addresss="ngModel" fieldFill required/>
                        <label for="address">Address</label>   
                        <div *ngIf="(addresss.touched || addresss.dirty) && addresss.invalid"
                                class="invalid-feedback">
                             <div *ngIf="addresss.errors?.required">{{errors.leadCreate.address.required}}</div>
                              <div *ngIf="addresss.errors?.pattern">{{errors.leadCreate.address.invalid}}</div>
                              <div *ngIf="addresss.errors?.minlength">{{errors.leadCreate.address.length}}</div>
                            </div> 
                    </div>
                    <div class="form-group">
                        <input spellcheck="false" type="text" class="form-control"
                          id="zipcode" autocomplete="off"
                          [(ngModel)]="qde.application.leadCreate.zipcode"
                          pattern="{{regexPattern.pincode}}" maxlength="6" minlength="6"
                          name="pincode" #pincode="ngModel" fieldFill required/>
                        <label for="zipcode">Pin Code</label>    
                            <div *ngIf="(pincode.touched || pincode.dirty) && pincode.invalid"
                                class="invalid-feedback">
                             <div *ngIf="pincode.errors?.required">{{errors.leadCreate.pincode.required}}</div>
                              <div *ngIf="pincode.errors?.pattern">{{errors.leadCreate.pincode.invalid}}</div>
                            </div>
                    </div>
                    <div class="form-group">
                        <input spellcheck="false" type="text" class="form-control"
                          id="emailId" autocomplete="off"
                          [(ngModel)]="qde.application.leadCreate.emailId"
                          name="email" #email="ngModel" 
                          pattern="{{regexPattern.email}}" 
                          fieldFill required/>
                        <label for="emailId">Email ID</label>
                        <div *ngIf="(email.touched || email.dirty) && email.invalid"
                                class="invalid-feedback">
                             <div *ngIf="email.errors?.required">{{errors.leadCreate.email.required}}</div>
                              <div *ngIf="email.errors?.pattern">{{errors.leadCreate.email.invalid}}</div>
                        </div>    
                    </div>
                    <div class="form-group">
                        <input spellcheck="false" type="text" class="form-control"
                          id="loanAmt" autocomplete="off"
                          maxlength="10"
                          [(ngModel)]="qde.application.leadCreate.loanAmount"
                          name="loanAmount" 
                          #loanAmount="ngModel" 
                          fieldFill 
                          required
                          pattern="{{regexPattern.amount}}"
                          (input)="checkAmountLimit($event)"/>
                        <label for="loanAmt">Loan Amount</label>    
                        <div class="invalid-feedback">
                            <div *ngIf="isNumberLessThan50k">{{errors.leadCreate.amount.minamount}}</div>
                            <div *ngIf="isNumberMoreThan100cr">{{errors.leadCreate.amount.maxamount}}</div>
                            <div *ngIf="loanAmount.touched && loanAmount.errors?.required">{{errors.leadCreate.amount.required}}</div>
                            <div *ngIf="loanAmount.errors?.pattern">{{errors.leadCreate.amount.invalid}}</div>
                        </div>
                    </div>
                        <div class="form-group">
                            <span class="control-title">Type of loan</span>
                            <kendo-dropdownlist
                              class="form-control"
                              name="loanType"
                              [data]="loanType" 
                              textField="key"
                              valueField="value"
                              [(ngModel)]="qde.application.leadCreate.loanType">
                            </kendo-dropdownlist>
                        </div>
                        <div class="error-msg">
                            <span>{{sessionMessage}}</span>
                        </div>
                      <div class="btn-wrap">
                          <button class="btn btn-primary"
                          [ngClass]="{'disabled': (!leadForm.valid)|| isNumberLessThan50k || isNumberMoreThan100cr}"
                          [disabled]="!leadForm.valid || isNumberLessThan50k || isNumberMoreThan100cr"
                          >Submit</button>
                      </div>
                  </form>
              </div>
          </div>
          <!-- <div class="sidebar">
              <div class="card"> -->
                  <!-- <div class="lyt-alerts">
                      <h4 class="title">Alerts</h4>
                      <span class="date">January, 2019</span>
                      <ul class="alerts-list">
                          <li class="alert-msg">
                              <span class="num">02</span>
                              <span class="msg">New leads <span class="cm-line-break"></span> expires in 24 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">03</span>
                              <span class="msg">Leads document<span class="cm-line-break"></span> pending</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">05</span>
                              <span class="msg">Leads require action<span class="cm-line-break"></span> 48 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                          <li class="alert-msg">
                              <span class="num">11</span>
                              <span class="msg">Leads active for more<span class="cm-line-break"></span> than 72 hours</span>
                              <span class="icon icon-angle-right"></span>
                              <a href="" class="alert-link"></a>
                          </li>
                      </ul>
                  </div> -->
                  <!-- <div class="lyt-perform-sidebar">
                      <h4 class="title">Performance</h4>
                      <span class="date">January, 2019</span>
                      <div class="pie-wrap">
                          <h5 class="pie-title">Target Achieved</h5>
                          <div class="performance-pie">
                              <span class="val-wrap"><span class="valuesub">0</span>%</span>
                          </div>
                      </div>
                      <ul class="performance-state">
                          <li>
                              <span class="name">Loan Disbursed</span>
                              <span class="value"><span class="rupee">&#8377;</span> 12.5 L</span>
                          </li>
                          <li>
                              <span class="name">Incentives Earned</span>
                              <span class="value"><span class="rupee">&#8377;</span> 12.5 L</span>
                          </li>
                          <li>
                              <span class="name">Connectors</span>
                              <span class="value">12</span>
                          </li>
                      </ul>
                  </div> -->
              <!-- </div>
          </div> -->
      </div>
  </div>

  <div class="overlay" [ngClass]="{'active': isSuccessfulRouteModal}"></div>
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isSuccessfulRouteModal}">
    <!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
    <!-- <a class="modal-close" (click)="onCrossModal()"><span class="icon icon-close"></span></a> -->
    <div class="modal-body">
      <h1 class="center" style="margin-left: 6.5vw">Lead has been created successfully</h1>
      <!-- <p>Do you like to add more leads?</p> -->
      <div class="btn-wrap">
        <!-- <button class="btn btn-border" (click)="onCrossModal()">Yes</button> -->
        <button class="btn btn-border" [routerLink]="['/leads']">Okay</button>
      </div>
    </div>
  </div>
</main>