<div class="row">
  <div class="container_box ul_align">
    <div class="space_content">
      <div class="space-12">
        <div class="table-header icici-table-header main_div  main_main_div ">
          <div class="space-12 align-left">*&nbsp;9&nbsp;ABOUT MY FINANCIAL ASSISTANCE REQUIREMENT</div>
        </div>
        <div class="for-border">

          <div class="space_content">
            <div class="space-6">
              <ul>
                <li>Amount Requested &#x20B9;: {{qde.application.loanDetails.loanAmount.amountRequired}} &nbsp; Term &nbsp; {{qde.application.loanDetails.loanAmount.loanTenure}} (Years)</li>
                <li>Type of assistance: &nbsp;&nbsp; {{qde.application.loanDetails.loanAmount.loanType}}</li>
                  
                  <!-- Home&nbsp;&nbsp;Home Improvement&nbsp;&nbsp;Land&nbsp;&nbsp;Office
                  Premises</li> -->
                <!--  <li>Home Equity Residential&nbsp;&nbsp;
                 Home Equity Commercial</li>
                <li>Balance Transfer&nbsp;&nbsp;Others</li> -->
                <li>Monthly Expenditure &#x20B9;:&nbsp; {{qde.application.applicants[0].incomeDetails.monthlyExpenditure}}</li>
                  <!-- Preferred EMI amount&nbsp;&nbsp;p.m</li> -->
              </ul>
            </div>
            <div class="space-6">
              <ul>
                <li><strong>Purpose of Loan:</strong></li>
                <li>{{qde.application.loanDetails.loanAmount.loanPurpose}}</li>
                <!-- <li>
                  Purchase&nbsp;&nbsp;Construction&nbsp;&nbsp;Extension&nbsp;&nbsp;Improvement</li>
                <li>Purchase+Construction/ Extension&nbsp;Others(Specify)</li>
                <li>Top Up&nbsp;&nbsp;Loan against Property</li> -->

              </ul>
            </div>
          </div>
          <div class="space_content">
            <div class="space-4">
              <ul>
                <li><strong>Mode of Re-Payment</strong></li>
                <li>Direct&nbsp;&nbsp;NACH</li>

              </ul>
            </div>
            <div class="space-4">
              <ul>
                <li><strong>Estimate of required Funds</strong></li>
                <li>Land Cost</li>
                <li>Construction Cost</li>
                <li>Total Purchase Cost</li>
                <li>Incidental cost(if any)</li>
                <li>Other Cost</li>
                <li>Total(A)</li>
                <li>Note: Total(A) (Requirement of funds) Should be equal to Total (B)(Source of funds)</li>

              </ul>
            </div>
            <div class="space-4">
              <ul>
                <li><strong>Estimate of sources of funds</strong></li>
                <li>Financial assistance requested from IHFC</li>
                <li>Amount already spent(source)</li>
                <li>PF (Refundable/Non Refundable)</li>
                <li>Savings from Bank</li>
                <li>Other(Specify)</li>
                <li>Total(B)</li>

              </ul>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <div style="page-break-inside: avoid;">
        <div class="table-header icici-table-header main_div  main_main_div ">
          
          <div class="space-12 text-left">10&nbsp;DECLARATION</div>
        </div>

        <div class="space-12 space_content">
          <div class="col-md-2"><strong>A</strong></div>
          <div class="space-5 text-justify">

            <p class="line-height">1. I/We declare that all the particulars and information given in the application
              form are true, correct,
              complete and upto date in all respects and I/We have not with-held any information whatsoever. I/We
              confirm that I/We have no insolvency proceeding initiated against me/us nor have I/We ever been
              adjudicated insolvent/bankrupt. I/We have read the application form and brochure and are agreeable
              to all terms / conditions of availing financial assistance from IHFC/its Group companies. I/We authorise
              IHFC/its Group Companies/its Agents to make references and enquiries relevant to the information in
              this application form which IHFC/its Group Companies/its Agents consider necessary. I/We undertake
              to inform IHFC/its Group Companies/its Agents regarding the change in residential </p>
            <p class="line-height">2. I/We declare and confirm that the credit facilities/financial assistance if any
              enjoyed by me/us with
              other banks / financial institutions has been disclosed herein above.</p>
            <p class="line-height">3. I/We understand that certain particulars given by me/us are required by the
              operational guidelines
              governing housing finance companies and that IHFC may provide the credit facilities/financial
              assistance mentioned herein only if permitted and if approved in the manner specified or required by
              the Reserve Bank of India/National Housing Bank (“RBI/NHB”)</p>
            <p class="line-height">4.Save and except to the extent as disclosed in this application, I/We (if a person
              other than a subsidiary
              of IHFC or a section 25 company or a government company, or in case of facility/ies are not
              encompassed by the restrictions specified by the Reserve Bank of India/National Housing Bank
              [RBI/NHB] from time to time) as applicable represents that: no director or a relative/near relation (as
              specified by RBI/NHB) of a director of a banking/housing finance company (including IHFC) or a
              relative/near relation (as specified by the RBI/NHB) of a senior officer of IHFC (as specified by
              RBI/NHB) is a partner of mine/us, a director, manager, employee of mine/us or of a subsidiary of me/us
              or a subsidiary or the holding company of me/us, or a guarantor on behalf of/for/to me/us, or holds
              substantial interest in me/us, or a subsidiary of the holding company of me/us.</p>
          </div>
          <div class="space-5 text-justify">
            <p class="line-height">5.I/We agree and understand that IHFC reserves the right to reject this application
              and that IHFC shall not
              be responsible/liable in any manner whatsoever to me/us for such rejection and IHFC shall also not be
              liable for any costs, losses, damages or expenses or other consequences, caused breason of such
              rejection, or any delay in notifying me/us of such rejection of our application.</p>
            <p class="line-height">6.I/We acknowledges that IHFC / its Group Companies reserves the right to retain the
              photographs an
              documents submitted with this application and will not return the same to the applicant/s</p>
            <p class="line-height">7.I/We hereby declare and affirm that I/We have not made any payments in cash.</p>
            <p class="line-height">8.I/We hereby agree and authorize IHFC/its Group Companies and their agents to
              exchange, share or part
              with all the information, data or document in relation to my/our application including but not limited to
              the credit repayment, history or any default, if any committed by me/us to other ICICI Group Companies
              banks, financial institutions, credit bureaus, agencies statutory bodies or such other persons as
              IHFC/its Group Companies may deem necessary or appropriate as may be required for use of the said
              information or data by such person(s) or furnishing or the processed information/data/products thereof
              to the other banks, financial institutions, credit providers or users registered with such persons as
              required under applicable laws/statutes or to provide services to the customers for the products availed
              by them and shall not hold IHFC/its Group Companies/their agents liable for use of this information.</p>
            <p class="line-height">9.I/We confirm that the initials on this application form are made by me/us and the
              validity of such initials
              shall not be disputed by me/us.</p>
            <p class="line-height">10.I/We hereby submit that I/We am/are providing the proof of possession of Aadhaar
              as KYC document
              voluntarily at my/our own discretion and I/We are aware that certain other documents can also be
              submitted as KYC documents.</p>
          </div>
        </div>


        <div class="space_content">
          <div class="space-12">
            <strong>B</strong>
            <ol class="mb-0">
              <li>I/We (IHFC) its group companies, agents/representatives) would like to keep our customers updated on
                various products and services related information and special offer from IHFC/group companies and other
                entities.
                <br>Please help us to serve you better by giving your consent to receive such information (please tick
                appropriately):
                <br>a. I/We wish to receive such information through Email alerts - Yes No
                <br>b. I/We wish to receive such information through SMS alerts - Yes No
                <br>c. I/We wish to receive such information through Phone Call - Yes No</li>
              <li>I/We authorize IHFC to exchange, share or part with all information / data provided herein including
                personal and business information with ICICI group companies/other institutions/such other person as may
                be necessary/
                required for the purpose of including but not limited to, marketing, cross selling of various products
                and services etc to me/us, use or process the aforesaid information / data by such person/s, or
                furnishing or the processed
                information / data / product thereof to ICICI Group Companies / other Banks / Institutions / other
                persons as may be necessary, and I/We shall not hold IHFC liable in connection with the use of such
                information or otherwise:
                <br>Yes No</li>
              <li>I/We declare that I/We and / or my family have/has not availed financial assistance for the
                construction/ purchase of the dwelling unit for my/our family from any bank/financial institution as on
                the date of application other
                than the one for which finance is being availed of through ICICI Home Finance Company Limited. For the
                purpose of this clause “family” shall mean and include the applicant / co-applicant, his / her spouse
                and his / her
                dependent children respectively.
                <br>Please confirm whether applicable or not: Yes No</li>

            </ol>
          </div>
        </div>
        <div class="space_content">
          <div class="space-6">
            <ul class="pr-1">
              <li>4. I/We hereby consent to receiving information from Central KYC Registry through SMS / Email ont he
                above registered number/email address.<br></li>

            </ul>
          </div>
        </div>
        <div class="space_content">
          <div class="space-6">
            <ul class="pr-1">
              <li>
                <strong>Note:</strong> No payments should be made in cash.<br>
                The cheque should be filled and signed by applicant and co-applicant.</li>
            </ul>
          </div>
          <div class="space-6">
            <div class="space_content">
              <div class="space-6">__________________<br>Signature of Applicant</div>
              <div class="space-6">__________________<br>Signature of Co-Applicant</div>
            </div>
          </div>
        </div>
      </div>


        <div class="space-12 page-break">
          <div class="table-header icici-table-header main_div  main_main_div">
            <div class="space-12 text-left">*&nbsp;11&nbsp;REFERENCE</div>
          </div>

          <div class="space_content for-border">
            <div class="space-6 p-0">
              <div class="space_content">
                <div class="vertical_text">Reference 1</div>
                <ul class="space-6">
                  <li>Name: {{qde.application.references.referenceOne.title}} {{qde.application.references.referenceOne.fullName}}</li>
                  <li>Address:</li>
                  <li>{{qde.application.references.referenceOne.addressLineOne}}&nbsp;</li>
                  <li>{{qde.application.references.referenceOne.addressLineTwo}}&nbsp;</li>
                  <li>&nbsp;&nbsp;</li>
                  <li>Mobile: {{qde.application.references.referenceOne.mobileNumber}}</li>
                  <li>Relationship:&nbsp;{{qde.application.references.referenceOne.relationShip}}</li>
                </ul>
              </div>
            </div>
            <div class="space-6">
              <div class="space_content">
                <div class="vertical_text">Reference 2</div>
                <ul class="space-6">
                  <li>Name: {{qde.application.references.referenceTwo.title}} {{qde.application.references.referenceTwo.fullName}}</li>
                  <li>Address:</li>
                  <li>{{qde.application.references.referenceTwo.addressLineOne}}&nbsp;</li>
                  <li>{{qde.application.references.referenceTwo.addressLineTwo}}&nbsp;</li>
                  <li>&nbsp;&nbsp;</li>
                  <li>Mobile:  {{qde.application.references.referenceTwo.mobileNumber}}</li>
                  <li>Relationship:&nbsp;{{qde.application.references.referenceTwo.relationShip}}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>