.create-co-app-btn {
}
.rounded-radio .bs-radio label {
    display: block;
    background: 0 0;
    font-size: 1.09vw;
    line-height: 2.34vw;
    color: #999;
    height: auto;
    background: 0 0;
    border: 0;
    text-align: left;
    padding-left: 3.13vw;
}
.rounded-radio .bs-radio label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.34vw;
    height: 2.34vw;
    border: 1px solid #bbb;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: 0;
}
.rounded-radio .bs-radio input[type=radio]:checked+label:after {
	content: '';
	font-family: icicihfc;
	position: absolute;
	left: .63vw;
	top: .63vw;
	bottom: .63vw;
	right: .63vw;
	background: #fff;
	border-radius: 50%;
	width: 1.17vw;
	height: 1.17vw;
}
.rounded-radio .bs-radio input[type=radio]:checked+label:before {
	border-color: #f58220;
	background: #f58220;
}
.rounded-radio .bs-radio input[type=radio]:checked+label {
	border-color: #f58220;
	color: #f58220;
	box-shadow: none;
}
.invalid-feedback {
	font-size: .94vw;
	line-height: 1.09vw;
	font-family: zurich-bold;
    letter-spacing: .5px;
    color:red;
}

.create-co-app-btn {
    color: white;
    background: #f58220;
    padding: 5px;
    position: fixed;
    bottom: 50%;
    z-index: 1;
    right: 50px;
    z-index: 11;
}
/* .swiper-slide {
    visibility: hidden;
}

.swiper-slide.swiper-slide-active {
    visibility: visible;
} */

.not-visible {
    visibility: hidden;
}