<nav class="bs-side-menu">
    
        <a   class="nav-link active"  routerLink="/leads" > 
            <span class="icon icon-dashboard"></span>
            <span class="link-text">Dashboard</span>
        </a>
    
  
  <!-- <a href="leads-reduced.html" class="nav-link">
      <span class="icon icon-leads"></span>
      <span class="link-text">Leads</span>
  </a> -->

  <a  class="nav-link  active"  routerLink="/reports">
      <span class="icon icon-performance"></span>
      <span class="link-text">Reports</span>    
  </a>
  
</nav>

<!-- [class.active]="viewMode == 'tab1'" -->