<app-menubar-header></app-menubar-header>
<main>
  <div class="main">

    <div class="lyt-home">
      <div class="tabs">
        <ul class="tabs-head">
          <li class="tab-link" [ngClass]="{'active': (activeTab == 0)}">
            <a href="javascript:void(0);" (click)="tabSwitch(0)">REFERENCE 1</a>
          </li>
          <li class="tab-link" [ngClass]="{'active': (activeTab == 1), 'hide': (!applicantIndividual)}">
            <a href="javascript:void(0);" (click)="tabSwitch(1)">REFERENCE 2</a>
          </li>

        </ul>
        <div class="tabs-contents" #tabContents>
          <div class="tab-content" [ngClass]="{'active': (activeTab == 0)}">
              <!-- <a [routerLink]="['/loan', applicationId]" fragment="existingLoan" class="back-btn" ></a> -->
              <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(reference2)"></a>
            <div class="lyt-tabs">

              <div class="lhs">
                <div class="swiper-container form-swiper " 
                [swiper]="lhsConfig"
                #reference1="ngxSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Relationship with <span class="cm-line-break"></span>the applicant</h4>
                        <p class="note">References are collected for regulatory purpose & must be individuals other than applicant or
                          co-applicant/s</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Enter First Reference<span class="cm-line-break"></span>personal details</h4>
                        <p class="note">References are collected for regulatory purpose & must be individuals other than applicant or
                          co-applicant/s</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rhs">
                <div class="swiper-container form-swiper"
                [swiper]="rhsConfig"
                  (slidePrevTransitionStart)="slidePrevTransitionStart(reference1)"
                  (slideNextTransitionStart)="slideNextTransitionStart(reference1)"
                  #swiperS="ngxSwiper"
                  #reference2="ngxSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">

                      <form class="bs-form"
                      id="relationship-form"
                      #refRelationship1="ngForm"
                      (ngSubmit)="submitRelationWithApplicant1(refRelationship1, reference2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <span class="control-title">Relationship</span>
<!--                             <select ngModel name="relationShip" class="js-select" required>
                              <option *ngFor="let rela of relationships" [value]="rela.value">{{rela.key}}</option>
                            </select> -->

                            <kendo-dropdownlist [readonly]="isReadOnly" class="form-control"
                              [defaultItem] ="defaultItem"
                              [data]="relationships" 
                              textField="key"
                              valueField="value"
                              name="relationShip"
                              [valuePrimitive]="true"
                              [(ngModel)]="selectedReferenceOne"
                              (selectionChange)="relationshipChanged1=true">
                            </kendo-dropdownlist>

                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button class="btn btn-primary" 
                            type="submit"
                            [ngClass]="{'disabled': !refRelationship1.valid}"
                            [disabled]="!refRelationship1.valid">Next</button>
                        </div>
                      </form>


                    </div>
                    <div class="swiper-slide">


                      <form class="bs-form"
                      #ref1Detail="ngForm"  autocomplete="off"
                      (ngSubmit)="submitReference1Detail(ref1Detail, reference2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <span class="control-title">Title</span>
                            <kendo-dropdownlist [readonly]="isReadOnly" 
                              class="form-control" 
                              [defaultItem]="defaultItem"
                              [data]="titles" 
                              textField="key" 
                              valueField="value" 
                              name="titles"
                              [valuePrimitive]="true" 
                              [(ngModel)]="selectedTiltle1">
                            </kendo-dropdownlist>
                            <!-- <select name="title" ngModel class="js-select" required>
                              <option *ngFor="let tit of titles" [value]="tit.value">{{tit.key}}</option>
                            </select> -->
                          </div>
                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control"
                            required
                            ngModel autocomplete="off"
                            name="fullName" 
                            id="ref1-name"
                            pattern="{{regexPattern.name}}" 
                            maxlength="50"
                            #refOneFullName="ngModel"
                            spellcheck="false"
                            fieldFill 
                            [(ngModel)]="selectedName1">
                            <label for="ref1-name">Full name</label>
                         <div *ngIf="selectedName1?.length == 50" class="invalid-feedback">Maximum Character Exceeds</div>
                            <div *ngIf="refOneFullName.touched && refOneFullName.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="refOneFullName.errors?.required">{{errors.references.referenceOne.fullName.required}}</div> -->
                              <div *ngIf="refOneFullName.errors?.pattern">{{errors.references.referenceOne.fullName.invalid}}</div>
                             
                            </div>


                          </div>
                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control"
                            required  autocomplete="off"
                            id="ref1-mobile"  
                            name="mobileNumber"
                            minlength="10"
                            maxlength="10"
                            pattern="{{regexPattern.mobileNumber}}"  
                            ngModel
                            spellcheck="false"
                            fieldFill 
                            #refOneMobileNumber="ngModel"
                            [(ngModel)]="selectedMobile1">
                            <label for="ref1-mobile">Mobile number</label>
                            
                            <div class="redalert" *ngIf="RegExp(regexPattern.sameDigit).test(refOneMobileNumber.value)">
                                {{errors.references.referenceOne.mobileNumber.wrong}}</div>
                            <div *ngIf="refOneMobileNumber.touched && refOneMobileNumber.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="refOneMobileNumber.errors?.required">{{errors.references.referenceOne.mobileNumber.required}}</div> -->
                              <div *ngIf="refOneMobileNumber.errors?.pattern">{{errors.references.referenceOne.mobileNumber.invalid}}</div>
                              <div *ngIf="refOneMobileNumber.errors?.minlength">{{errors.references.referenceOne.mobileNumber.minlength}}</div>
                            </div>
                            <div class="invalid-feedback">
                                <div *ngIf="refOneMobileNumber.touched && refOneMobileNumber.dirty && refOneMobileNumber.value == refTwoMobileNumber.value && refOneMobileNumber.value">{{errors.references.referenceOne.mobileNumber.sameNumber}}</div>
                            </div>

                          </div>

                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="ref1-add1"  
                            required autocomplete="off"
                            name="addressLineOne" 
                            ngModel
                            spellcheck="false"
                            fieldFill maxlength="120"
                            pattern="{{regexPattern.address}}" 
                            #refOneAddressLineOne="ngModel"
                            [(ngModel)]="selectedAddressLineOne1">
                            <label for="ref1-add1">Address line1</label>
                            <div *ngIf="selectedAddressLineOne1?.length == 120" class="invalid-feedback">Maximum Character Exceeds</div>
                            <div *ngIf="refOneAddressLineOne.touched && refOneAddressLineOne.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="refOneAddressLineOne.errors?.required">{{errors.references.referenceOne.addressLineOne.required}}</div> -->
                              <div *ngIf="refOneAddressLineOne.errors?.pattern">{{errors.references.referenceOne.addressLineOne.invalid}}</div>
                            </div>

                          </div>
                          <div class="form-group typ-optional">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="ref1-add2" 
                            name="addressLineTwo"  autocomplete="off"
                            ngModel
                            spellcheck="false"
                            fieldFill maxlength="120"
                            pattern="{{regexPattern.address}}" 
                            #refOneAddressLineTwo="ngModel"
                            [(ngModel)]="selectedAddressLineTwo1">
                            <label for="ref1-add2">Address line2</label>
                            <div *ngIf="selectedAddressLineTwo1?.length == 120" class="invalid-feedback">Maximum Character Exceeds</div>
                            <span class="optional">optional</span>
                            <div *ngIf="refOneAddressLineTwo.touched && refOneAddressLineTwo.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="refOneAddressLineTwo.errors?.required">{{errors.references.referenceOne.addressLineTwo.required}}</div> -->
                              <div *ngIf="refOneAddressLineTwo.errors?.pattern">{{errors.references.referenceOne.addressLineTwo.invalid}}</div>
                            </div>

                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary"
                          [ngClass]="{'disabled': !ref1Detail.valid || (refOneMobileNumber.value == refTwoMobileNumber.value)}"
                          [disabled]="!ref1Detail.valid || (refOneMobileNumber.value == refTwoMobileNumber.value)">Next</button>
                        </div>
                      </form>



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content" [ngClass]="{'active': (activeTab == 1)}">
            <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(reference4)"></a>
            <div class="lyt-tabs">
              <div class="lhs">
              <div class="swiper-container form-swiper" [swiper]="lhsConfig" #reference3="ngxSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="title-wrap">
                      <h4 class="title">Relationship with <span class="cm-line-break"></span>the applicant</h4>
                      <p class="note">References are collected for regulatory purpose & must be individuals other than applicant or
                        co-applicant/s</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="title-wrap">
                      <h4 class="title">Enter Second Reference<span class="cm-line-break"></span>personal details</h4>
                      <p class="note">References are collected for regulatory purpose & must be individuals other than applicant or
                        co-applicant/s</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="rhs">
                <div class="swiper-container form-swiper"
                  [swiper]="rhsConfig"
                  #swiperS="ngxSwiper"
                  (slidePrevTransitionStart)="slidePrevTransitionStart(reference3)"
                  (slideNextTransitionStart)="slideNextTransitionStart(reference3)"
                  #reference4="ngxSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">


                    <form class="bs-form"
                      id="relationship-form"
                      #ref2Relationship="ngForm"
                      (ngSubmit)="submitRelationWithApplicant2(ref2Relationship, reference4)">
                      <div class="form-wrap">
                        <div class="form-group">
                          <span class="control-title">Relationship</span>
<!--                           <select ngModel name="relationShip" class="js-select" required>
                            <option *ngFor="let rela of relationships" [value]="rela.value">{{rela.key}}</option>
                          </select> -->
                          <kendo-dropdownlist [readonly]="isReadOnly" 
                          [defaultItem]="defaultItem"
                            class="form-control"
                            [data]="relationships" 
                            textField="key"
                            valueField="value"
                            name="relationShip"
                            [valuePrimitive]="true"
                            [(ngModel)]="selectedReferenceTwo"
                            (selectionChange)="relationshipChanged2=true">
                          </kendo-dropdownlist>
                        </div>
                      </div>
                      <div class="btn-wrap">
                        <button type="submit" class="btn btn-primary"
                          [ngClass]="{'disabled': !ref2Relationship.valid }"
                          [disabled]="!ref2Relationship.valid">Next</button>
                      </div>
                    </form>


                  </div>
                  <div class="swiper-slide">


                    <form class="bs-form"
                      #ref2Detail="ngForm" autocomplete="off"
                      (ngSubmit)="submitReference2Detail(ref2Detail, reference4)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <span class="control-title">Title</span>
                              <kendo-dropdownlist [readonly]="isReadOnly" 
                                class="form-control" 
                                [defaultItem] = "defaultItem"
                                [data]="titles" 
                                textField="key" 
                                valueField="value" 
                                name="titles"
                                [valuePrimitive]="true" 
                                [(ngModel)]="selectedTiltle2">
                              </kendo-dropdownlist>
                           <!--  <select name="title" ngModel class="js-select" required>
                              <option *ngFor="let tit of titles" [value]="tit.value">{{tit.key}}</option>
                            </select> -->
                          </div>
                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control"
                            ngModel
                            name="fullName"  autocomplete="off"
                            id="ref2-name"
                            #refTwoFullName="ngModel"
                            pattern="{{regexPattern.name}}"
                            required
                            spellcheck="false" maxlength="50"
                            fieldFill
                            [(ngModel)]="selectedName2">
                            
                            <div *ngIf="selectedName2?.length == 50" class="invalid-feedback">Maximum Character Exceeds</div>
                            <label for="ref2-name">Full name</label>
                            <div *ngIf="refTwoFullName.touched && refTwoFullName.invalid" class="invalid-feedback">
                                <!-- <div *ngIf="refTwoFullName.errors?.required">{{errors.references.referenceTwo.fullName.required}}</div> -->
                                <div *ngIf="refTwoFullName.errors?.pattern">{{errors.references.referenceTwo.fullName.invalid}}</div>
                                
                            </div>
                          </div>
                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="ref2-mobile" 
                            name="mobileNumber"  autocomplete="off"
                            ngModel 
                            minlength="10"
                            maxlength="10"
                            #refTwoMobileNumber="ngModel"
                            pattern="{{regexPattern.mobileNumber}}"
                            fieldFill
                            spellcheck="false"
                            required
                            [(ngModel)]="selectedMobile2">
                            <label for="ref2-mobile">Mobile number</label>

                            <div class="redalert" *ngIf="RegExp(regexPattern.sameDigit).test(refTwoMobileNumber.value)">
                                {{errors.references.referenceTwo.mobileNumber.wrong}}</div>
                            <div *ngIf="refTwoMobileNumber.touched && refTwoMobileNumber.invalid" class="invalid-feedback">
                                <!-- <div *ngIf="refTwoMobileNumber.errors?.required">{{errors.references.referenceTwo.mobileNumber.required}}</div> -->
                                <div *ngIf="refTwoMobileNumber.errors?.pattern">{{errors.references.referenceTwo.mobileNumber.invalid}}</div>
                                <div *ngIf="refTwoMobileNumber.errors?.minlength">{{errors.references.referenceTwo.mobileNumber.minlength}}</div>  
                            </div>
                            <div class="invalid-feedback">
                                <div *ngIf="refTwoMobileNumber.touched && refTwoMobileNumber.value == refOneMobileNumber.value">{{errors.references.referenceTwo.mobileNumber.sameNumber}}</div>
                            </div>

                          </div>
                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="ref2-add1"
                              name="addressLineOne"
                              ngModel autocomplete="off"
                              #refTwoAddressLineOne="ngModel"
                              pattern="{{regexPattern.address}}"
                              required maxlength="120"
                              spellcheck="false"
                              fieldFill
                              [(ngModel)]="selectedAddressLineOne2">
                               
                            <label for="ref2-add1">Address line1</label>
                            <div *ngIf="selectedAddressLineOne2?.length == 120" class="invalid-feedback">Maximum Character Exceeds</div>
                            <div *ngIf="refTwoAddressLineOne.touched && refTwoAddressLineOne.invalid" class="invalid-feedback">
                                <!-- <div *ngIf="refTwoAddressLineOne.errors?.required">{{errors.references.referenceTwo.addressLineOne.required}}</div> -->
                                <div *ngIf="refTwoAddressLineOne.errors?.pattern">{{errors.references.referenceTwo.addressLineOne.invalid}}</div>
                            </div>
                          </div>

                          <div class="form-group typ-optional">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="ref2-add2"
                             name="addressLineTwo" autocomplete="off"
                             ngModel 
                             #refTwoAddressLineTwo="ngModel"
                             pattern="{{regexPattern.address}}"
                             spellcheck="false"
                             fieldFill maxlength="120"
                             [(ngModel)]="selectedAddressLineTwo2">
                            <label for="ref2-add2">Address line2</label>
                            <span class="optional">optional</span>
                            <div *ngIf="selectedAddressLineTwo2?.length == 120" class="invalid-feedback">Maximum Character Exceeds</div>
                            <div *ngIf="refTwoAddressLineTwo.touched && refTwoAddressLineTwo.invalid" class="invalid-feedback">
                                <!-- <div *ngIf="refTwoAddressLineTwo.errors?.required">{{errors.references.referenceTwo.addressLineTwo.required}}</div> -->
                                <div *ngIf="refTwoAddressLineTwo.errors?.pattern">{{errors.references.referenceTwo.addressLineTwo.invalid}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary" 
                          [ngClass]="{'disabled': !ref2Detail.valid || (refOneMobileNumber.value == refTwoMobileNumber.value)}"
                          [disabled]="!ref2Detail.valid || (refOneMobileNumber.value == refTwoMobileNumber.value)">Save</button>
                        </div>
                    </form>


                  </div>
                </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- <span class="cm-autoSave"><span class="cm-bold">Autosaved</span> <span>at 09:26 AM</span></span> -->
  <div class="overlay" [ngClass]="{'active': isReferenceRouteModal}"></div>
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isReferenceRouteModal}">
      <a class="modal-close" href="javascript:void(0);" (click)="onCrossModal()"><span class="icon icon-close"></span></a>
      <div class="modal-body">
          <h1 class="center">References has been successfully saved!</h1>
          <p>Click Proceed to continue</p>
              <div class="btn-wrap">
                  <button class="btn btn-border"  [routerLink]="['/document-uploads', applicationId]">Proceed</button>
              </div>
      </div>
  </div>

  <div class="overlay" [ngClass]="{'active': isErrorModal}"></div>
        <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isErrorModal}">
            <!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
            <a class="modal-close" (click)="onCrossModal()"><span class="icon icon-close"></span></a>
            <div class="modal-body">
            <h1>{{errorMessage}}</h1>
            <div class="btn-wrap">
                <button class="btn btn-border" (click)="isErrorModal = false">Cancel</button>
            </div>
            </div>
        </div>
</main>

<div class="overlay"></div>
