<app-menubar-header></app-menubar-header>
<main>
  <div class="main">

    <div class="lyt-home">
      <div class="tabs">
        <ul class="tabs-head">
          <li class="tab-link pending" [ngClass]="{'active': (activeTab == 0)}">
            <a href="javascript:void(0);" (click)="tabSwitch(0)">REFERENCES 1</a>
          </li>
          <li class="tab-link" [ngClass]="{'active': (activeTab == 1), 'hide': (!applicantIndividual)}">
            <a href="javascript:void(0);" (click)="tabSwitch(1)">REFERENCES 2</a>
          </li>

        </ul>
        <div class="tabs-contents" #tabContents>
          <div class="tab-content" [ngClass]="{'active': (activeTab == 0)}">
            <!-- <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(panSlider2)"></a> -->
            <div class="lyt-tabs">

              <div class="lhs">
                <div class="swiper-container form-swiper " 
                [swiper]="lhsConfig" 
                #reference1="ngxSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Relationship with <span class="cm-line-break"></span>the applicant</h4>
                        <p class="note">References are collected for regulatory purpose & must be indivduals other than applicant or
                          co-applicant/s</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Enter Reference 1's <span class="cm-line-break"></span>personal details</h4>
                        <p class="note">References are collected for regulatory purpose & must be indivduals other than applicant or
                          co-applicant/s</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rhs">
                <div class="swiper-container form-swiper"
                [swiper]="rhsConfig"
                  (slidePrevTransitionStart)="slidePrevTransitionStart(reference1)"
                  (slideNextTransitionStart)="slideNextTransitionStart(reference1)"
                  #reference1="ngxSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">

                      <form class="bs-form"
                      id="relationship-form"
                      #refRelationship1="ngForm"
                      (ngSubmit)="submitRelationWithApplicant1(refRelationship1, reference1)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <span class="control-title">Select</span>
                            <select ngModel name="relationShip" class="js-select" required>
                              <option value="1">Father</option>
                              <option value="2">Mother</option>
                              <option value="3">Spouse</option>
                              <option value="4">Friend</option>
                              <option value="5">Other</option>
                            </select>
                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button class="btn btn-primary disabled"
                          type="submit"
                          >Next</button>
                        </div>
                      </form>


                    </div>
                    <div class="swiper-slide">


                      <form class="bs-form"
                      #ref1Detail="ngForm" 
                      (ngSubmit)="submitReference1Detail(ref1Detail, reference2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <span class="control-title">Title</span>
                            <select name="title" ngModel class="js-select" required>
                              <option value="1">Mr</option>
                              <option value="2">Mrs</option>
                              <option value="3">Dr</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control"
                            required
                            ngModel
                            name="fullName" 
                            id="ref1-name"
                            #refOneFullName="ngModel" >
                            <label for="ref1-name" *ngIf="fullName.value == ''">Full name</label>

                            <div *ngIf="refOneFullName.touched && refOneFullName.invalid" class="invalid-feedback">
                              <div *ngIf="refOneFullName.errors?.required">{{errors.references.referenceOne.fullName.required}}</div>
                              <div *ngIf="refOneFullName.errors?.pattern">{{errors.references.referenceTwo.fullName.invalid}}</div>
                            </div>


                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control"
                            required 
                            id="ref1-mobile"  
                            name="mobileNumber"  
                            ngModel 
                            #refOneMobileNumber="ngModel">
                            <label for="ref1-mobile">Mobile number</label>

                            <div *ngIf="refOneMobileNumber.touched && refOneMobileNumber.invalid" class="invalid-feedback">
                              <div *ngIf="refOneMobileNumber.errors?.required">{{errors.references.referenceOne.mobileNumber.required}}</div>
                              <div *ngIf="refOneMobileNumber.errors?.pattern">{{errors.references.referenceTwo.mobileNumber.invalid}}</div>
                            </div>

                          </div>

                          <div class="form-group">
                            <input type="text" class="form-control" id="ref1-add1"  
                            required
                            name="addressLineOne" 
                            ngModel 
                            #refOneAddressLineOne="ngModel">
                            <label for="ref1-add1">Address line1</label>

                            <div *ngIf="refOneAddressLineOne.touched && refOneAddressLineOne.invalid" class="invalid-feedback">
                              <div *ngIf="refOneAddressLineOne.errors?.required">{{errors.references.referenceOne.addressLineOne.required}}</div>
                              <div *ngIf="refOneAddressLineOne.errors?.pattern">{{errors.references.referenceTwo.addressLineOne.invalid}}</div>
                            </div>

                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="ref1-add2" 
                            required
                            name="addressLineTwo" 
                            ngModel 
                            #addressLineTwo="ngModel">
                            <label for="ref1-add2">Address line2</label>


                            <div *ngIf="addressLineTwo.touched && addressLineTwo.invalid" class="invalid-feedback">
                              <div *ngIf="addressLineTwo.errors?.required">{{errors.references.referenceOne.addressLineTwo.required}}</div>
                              <div *ngIf="addressLineTwo.errors?.pattern">{{errors.references.referenceTwo.addressLineTwo.invalid}}</div>
                            </div>

                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary disabled">Next</button>
                        </div>
                      </form>



                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="tab-content" [ngClass]="{'active': (activeTab == 1)}">
            <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(incomeDetail1)"></a>
            <div class="lyt-tabs">
              <div class="lhs">
              <div class="swiper-container form-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="title-wrap">
                      <h4 class="title">Relationship with <span class="cm-line-break"></span>the applicant</h4>
                      <p class="note">References are collected for regulatory purpose & must be indivduals other than applicant or
                        co-applicant/s</p>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="title-wrap">
                      <h4 class="title">Enter Reference 2's <span class="cm-line-break"></span>personal details</h4>
                      <p class="note">References are collected for regulatory purpose & must be indivduals other than applicant or
                        co-applicant/s</p>
                    </div>
                  </div>
                </div>
              </div>
              </div>
              <div class="rhs">
                <div class="swiper-container form-swiper"
                [swiper]="rhsConfig"
                  (slidePrevTransitionStart)="slidePrevTransitionStart(reference1)"
                  (slideNextTransitionStart)="slideNextTransitionStart(reference1)"
                  #reference2="ngxSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">


                    <form class="bs-form"
                      id="relationship-form"
                      #ref2Relationship="ngForm"
                      (ngSubmit)="submitRelationWithApplicant2(ref2Relationship, reference2)">
                      <div class="form-wrap">
                        <div class="form-group">
                          <span class="control-title">Select</span>
                          <select ngModel name="relationShip" class="js-select" required>
                            <option value="1">Father</option>
                            <option value="2">Mother</option>
                            <option value="3">Spouse</option>
                            <option value="4">Friend</option>
                            <option value="5">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="btn-wrap">
                        <button type="submit" class="btn btn-primary disabled">Next</button>
                      </div>
                    </form>


                  </div>
                  <div class="swiper-slide">


                    <form class="bs-form"
                      #ref2Detail="ngForm" 
                      (ngSubmit)="submitReference2Detail(ref2Detail, reference2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <span class="control-title">Title</span>
                            <select name="title" ngModel class="js-select" required>
                              <option value="1">Mr</option>
                              <option value="2">Mrs</option>
                              <option value="3">Dr</option>
                            </select>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control"
                            ngModel
                            name="fullName" 
                            id="ref2-name"
                            #fullName="ngModel" >
                            <label for="ref2-name" >Full name</label>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="ref2-mobile" 
                             name="mobileNumber"  
                             ngModel 
                             #mobileNumber="ngModel">
                            <label for="ref2-mobile">Mobile number</label>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="ref2-add1"
                              name="addressLineOne"
                              ngModel
                              #addressLineOne="ngModel">
                            <label for="ref2-add1">Address line1</label>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="ref2-add2"
                             name="addressLineTwo" 
                             ngModel 
                             #addressLineTwo="ngModel">
                            <label for="ref2-add2">Address line2</label>
                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary disabled">Next</button>
                        </div>
                    </form>


                  </div>
                </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
  <span class="cm-autoSave"><span class="cm-bold">Autosaved</span> <span>at 09:26 AM</span></span>
</main>

<div class="overlay"></div>