<div class="lyt-login">
  <div class="lhs">
      <h1 class="logo">
          <a href="#">
              <img src="../../assets/images/logo-white.svg" alt="logo">
          </a>
      </h1>
      <div class="title-wrap">
          <h2 class="title">Enter login <span class="cm-line-break"></span> details</h2>
      </div>
  </div>
  <div class="rhs">
      <form class="bs-form">
          <div class="form-wrap">
              <div class="form-group">
                  <input type="text" class="form-control" id="emp-id">
                  <label for="emp-id">Employee ID</label>
              </div>
              <div class="form-group typ-otp last">
                  <span class="control-title">Enter mPIN</span>
                  <input type="password" class="form-control" maxlength="1">
                  <input type="password" class="form-control" maxlength="1">
                  <input type="password" class="form-control" maxlength="1">
                  <input type="password" class="form-control" maxlength="1">
              </div>
              <div class="btn-wrap">
                  <button class="btn">FORGOT mPIN</button>
              </div>
          </div>
          <div class="btn-wrap">
              <button class="btn btn-primary disabled">LOGIN</button>
          </div>
      </form>
  </div>
</div>