/* .lyt-home .lhs .lhs-inner-wrap .text {
    display: block;
    font-size: 2.81vw;
    line-height: 3.13vw;
    color: #444;
    font-family: zurich-bold;
}
.lyt-home .lhs .lhs-inner-wrap {
    display: block;
    text-align: center;
    width: 100%;
}
.lyt-home .lhs .lhs-inner-wrap .icon-thumb {
    width: 9.38vw;
    height: 9.38vw;
    background: url("/assets/images/thumb.png") no-repeat;
    margin-bottom: 1.56vw;
    display: inline-block;
    background-size: cover;
}
.eligibility-check {
    font-size: 0.81vw;
    line-height: 1.13vw;
} */
.bs-radio {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 1.17vw;
}
.bs-radio input[type=radio] {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: 0 0;
}
.bs-radio label {
    display: block;
    width: 15.63vw;
    height: 15.63vw;
    background: 0 0;
    border: 1px solid #bbb;
    border-radius: .78vw;
    text-align: center;
    font-family: zurich-bold;
    font-size: 2.11vw;
    color: #999;
}
.bs-radio label .inner-sect {
    top: 0;
    bottom: 0;
    transform: none;
    text-align: left;
    padding: 10px;
}
.bs-radio label .inner-sect .title {
    font-size: 2.11vw;
    margin-bottom: .39vw;
    font-family: zurich-bold;
}
.bs-radio label .inner-sect .desc {
    font-size: 1.25vw;
    line-height: 1.56vw;
    font-family: zurich;
    margin-top: 10px;
    text-align: left;
}
.bs-radio label span {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: 5vw;
}
.thumb {
    margin-left: 18vw
}