<app-menubar-header></app-menubar-header>
<main>
    <div class="main">
        <div class="lyt-home">
            <div class="tabs">
  
                <div class="tabs-contents" #tabContents>
                  <div class="tab-content" [ngClass]="{'active': (activeTab == 0)}">
                      <!-- <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(panSlider2)"></a> -->
                      <div class="lyt-tabs">
                          <div class="lhs">
                              <div  class="swiper-container form-swiper"
                                    [swiper]="lhsConfig"
                                    #panSlider1="ngxSwiper">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                                <img class="thumb" src="/assets/images/thumb.png" alt="logo">
                                            <h4 class="title">Payment<span class="cm-line-break">Successful!</span></h4>
                                            <p class="note">Please choose eligibility check Process</p>
                                          </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="rhs">
                                  <div  class="swiper-container form-swiper"
                                        [swiper]="rhsConfig"
                                        (slidePrevTransitionStart)="slidePrevTransitionStart(panSlider1)"
                                        (slideNextTransitionStart)="slideNextTransitionStart(panSlider1)"
                                        #panSlider2="ngxSwiper">
                                      <div class="swiper-wrapper">
                                          <div class="swiper-slide">
                                              <form class="bs-form">
                                                  <div class="form-wrap">
                                                      <div class="bs-radio">
                                                        <input type="radio" name="payment-radio" id="online" (change)="tabSwitch(1)" (click)="submitDocumentUploadForm()">
                                                        <label for="online">
                                                            <div class="inner-sect">
                                                                    <div><span>Accept</span></div>
                                                                </div>
                                                        </label>
                                                      </div>
                                                      <div class="bs-radio">
                                                        <input type="radio" name="payment-radio" id="offline">
                                                        <label for="offline">
                                                            <div class="inner-sect">
                                                                    <div><span>Reject</span></div>
                                                            </div>
                                                        </label>
                                                      </div>
                                                  </div>
                                              </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                      </div>
                  </div>
  
                <!-- Aadhar Card -->
  
                    <div class="tab-content" [ngClass]="{'active': (activeTab == 1)}">
                      <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(panSlider2)"></a>
                      <div class="lyt-tabs">
                          <div class="lhs">
                              <div  class="swiper-container form-swiper"
                                    [swiper]="lhsConfig"
                                    #aadharSlider1="ngxSwiper">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                                <img class="thumb" src="/assets/images/thumb.png" alt="logo">
                                                <h4 class="title">Payment<span class="cm-line-break">Successful!</span></h4>
                                                <p class="note">Your Eligibility is:</p>
                                          </div>
                                      </div>
                                      <!-- <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Verify<span class="cm-line-break"></span>Aadhar Card</h4>
                                          </div>
                                      </div> -->
                                  </div>
                              </div>
                          </div>
                          <div class="rhs">
                              <div  class="swiper-container form-swiper"
                                    [swiper]="rhsConfig"
                                    (slidePrevTransitionStart)="slidePrevTransitionStart(aadharSlider1)"
                                    (slideNextTransitionStart)="slideNextTransitionStart(aadharSlider1)"
                                    #aadharSlider2="ngxSwiper">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                        <form class="bs-form" id="spouse-form">
                                          <div class="form-wrap">
                                                <p class="para">
                                                        <span class="cm-bold">{{firstname}}</span> is eligible for a loan with
                                                        <span class="cm-bold">ICICI HOME FINANCE!</span>

                                                    </p>
                                                    <p class="para">
                                                        The customer has cleared the provisional eligibility check for the loan amount requested.
                                                    </p>
                                                    <div class="desc">
                                                        <p>Kindly note this clearance is based on the information provided and actual sanction amount is subject to further verification and process.</p>

                                                    </div>
                                                    <div class="info-data-wrap">
                                                        <span class="tag">Provisional Eligibility Information</span>
                                                        <div class="info-wrap">
                                                            <span class="info">
                                                                    Loan Amount: <span class="cm-bold">₹{{eligibleAmount}}</span>
                                                            </span>
                                                            <br>
                                                            <span class="info">
                                                                    Easy Monthly Installment: <span class="cm-bold">₹{{emiAmount}}</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                          </div>
                                    
                                      </form>
                                      </div>                              
                                  </div>
                              </div>
                          </div>
                          <!-- <div class="rhs eligibility-check">
                    
                                <div class="btn btn-default yes">YES</div>
                                <div class="btn btn-default no">NO</div>
                        </div> -->
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
   
      </main>
  
