<app-menubar-header></app-menubar-header>
<main>
  <div class="main">
      <div class="lyt-home">
          
          <div class="tabs">
              <ul class="tabs-head" [ngClass]="{'visibilityHidden': (activeTab == 0)}">
                <li class="tab-link " [ngClass]="{'active': (activeTab == 0), 'hide': (!applicantIndividual)}">
                    <a href="javascript:void(0);" (click)="tabSwitch(0)">Dashboard</a>
                </li>
                <li class="tab-link" [ngClass]="{'disabled': isTabDisabled, 'active': (activeTab == 1), 'hide': (!applicantIndividual)}">
                    <a href="javascript:void(0);" (click)="tabSwitch(1)">Customer Photo</a>
                  </li>
                <li class="tab-link " [ngClass]="{'disabled': isTabDisabled, 'active': (activeTab == 2), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(2)">Id Proof</a>
                </li>
                <li class="tab-link" [ngClass]="{'disabled': isTabDisabled, 'active': (activeTab == 3), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(3)">Address Proof</a>
                </li>
                <li class="tab-link" [ngClass]="{'disabled': isTabDisabled, 'active': (activeTab == 4), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(4)">Income Proof</a>
                </li>
                <li class="tab-link" [ngClass]="{'disabled': isTabDisabled, 'active': (activeTab == 5), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(5)">Banking</a>
                </li>
                <li class="tab-link" [ngClass]="{'disabled': isTabDisabled, 'active': (activeTab == 6), 'hide': (!applicantIndividual)}">
                  <a href="javascript:void(0);" (click)="tabSwitch(6)">Collateral</a>
                </li>
            </ul>
          
              <!-- Upload Documents -->

              <div class="tabs-contents" #tabContents>
                <div class="tab-content" [ngClass]="{'active': (activeTab == 0)}">
                    <!-- <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(panSlider2)"></a> -->
                    <div class="lyt-tabs">
                        <div class="lhs">
                            <div  class="swiper-container form-swiper"
                                  [swiper]="lhsConfig"
                                  #panSlider1="ngxSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="title-wrap">
                                            <h4 class="title">Upload<span class="cm-line-break">Documents</span></h4>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                            <div class="rhs">
                                <div class="swiper-container form-swiper"
                                      [swiper]="rhsConfig"
                                      (slidePrevTransitionStart)="slidePrevTransitionStart(panSlider1)"
                                      (slideNextTransitionStart)="slideNextTransitionStart(panSlider1)"
                                      #panSlider2="ngxSwiper">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <form class="bs-form">
                                                <div class="form-wrap">
                                                    <!-- <div class="bs-radio" >
                                                        <input [readonly]="isTBMLoggedIn"  
                                                        (click)="selectApplicant(applicationId, mainApplicantId, 1)"
                                                        type="radio" [value]="true" />
                                                        <label for="individual"><span>Applicant</span></label>
                                                    </div> -->

                                                    <div class="bs-radio typ-doc" *ngFor="let applicant of qde.application.applicants; let i=index;">
                                                        <input [readonly]="isTBMLoggedIn"
                                                        (click)="selectAnApplicant(applicationId, applicant.applicantId, i)"
                                                        type="radio" name="doc-upload"/>
                                                        <label for="applicant-radio">
                                                            <span class="desc-text"><span>{{i>0 ? 'Co-': ''}}Applicant</span>{{ i>0 ? i: ""}}</span>
                                                            <!-- <span class="icon icon-close"></span> -->
                                                        </label>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>


                <!-- Customer Photo -->

                <div class="tab-content" [ngClass]="{'active': (activeTab == 1)}" *ngIf="!isTabDisabled">
                <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(panSlider2)"></a>
                <div class="lyt-tabs">
                    <div class="lhs">
                        <div  class="swiper-container form-swiper"
                                [swiper]="lhsConfig"
                                #panSlider1="ngxSwiper"></div>
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="title-wrap">
                                        <h4 class="title">Upload<span class="cm-line-break"></span>Photo</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="rhs">
                        <div  class="swiper-container form-swiper"
                        [swiper]="rhsConfig"
                        #panSlider2="ngxSwiper">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <form class="bs-form">
                                        <div class="form-wrap">

                                        <div *ngIf="isMobile">

                                            <div *ngIf="photoProofId[applicantIndex]" else photoProof>
                                                <div *ngIf="photoProofId[applicantIndex]" class="bs-file" >
                                                        <secured-image [src]="photoProofId[applicantIndex]"></secured-image>
                                                    <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setCustomerPhoto')">Retake</button>
                                                </div>
                                            </div>

                                            <div *ngIf="!photoProofId[applicantIndex]" #photoProof>
                                                <div *ngIf="photoProofFileName[applicantIndex]" class="bs-file">
                                                    <img [src]="photoProofFileName[applicantIndex]" />
                                                    <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setCustomerPhoto')">Retake</button>
                                                </div>
                                            </div>

                                            <div *ngIf="!photoProofFileName[applicantIndex]" class="bs-file">
                                                <input [readonly]="isTBMLoggedIn" type="file" class="form-control" (change)="setCustomerPhoto($event.target.files)" >
                                                <label for="file"><span>Click photo of Customer</span></label>
                                                <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setCustomerPhoto')">open camera</button>
                                            </div>

                                        </div>

                                        <div  *ngIf="!isMobile">

                                                <div class="bs-file">
                                                    <input [readonly]="isTBMLoggedIn" id="clickCustomerPhoto1" type="file" class="form-control" (change)="setCustomerPhoto($event.target.files)" >
                                                    <label for="clickCustomerPhoto1"><span>Click photo of Customer</span></label>
                                                </div>

                                                <div (click)="openLink(photoProofId[applicantIndex])" class="doc_file_name_size" *ngIf="photoProofFileName[applicantIndex]">
                                                    <div>
                                                        <span class="ellipsis">{{photoProofFileName[applicantIndex]}} </span>
                                                        <span ng-switch-when="true">({{photoProofFileSize[applicantIndex]}})</span>
                                                    </div>
                                                    <!-- <div ng-show="progressVisible">
                                                        <div class="percent">{{progress}}%</div>
                                                        <div class="progress-bar">
                                                            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                                        </div>
                                                    </div> -->
                                                </div>

                                        </div>

                                        </div>
                                        <div class="btn-wrap">
                                            <button type="button" (click)="handleCustomerPhoto(panSlider1)" class="btn btn-primary">Next</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

                <!-- ID Proof -->

                  <div class="tab-content" [ngClass]="{'active': (activeTab == 2)}" *ngIf="!isTabDisabled">
                    <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(aadharSlider2)"></a>
                    <div class="lyt-tabs">
                        <div class="lhs">
                            <div  class="swiper-container form-swiper"
                                  [swiper]="lhsConfig"
                                  #aadharSlider1="ngxSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="title-wrap">
                                            <h4 class="title">Upload<span class="cm-line-break"></span>ID Proof</h4>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="title-wrap">
                                            <h4 class="title">Verify<span class="cm-line-break"></span>ID Proof</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rhs">
                            <div  class="swiper-container form-swiper"
                                  [swiper]="rhsConfig"
                                  (slidePrevTransitionStart)="slidePrevTransitionStart(aadharSlider1)"
                                  (slideNextTransitionStart)="slideNextTransitionStart(aadharSlider1)"
                                  #aadharSlider2="ngxSwiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <form class="bs-form">
                                            <div class="form-wrap">
                                                <div class="form-group">
                                                    <span class="control-title">Select a Document Type</span>
                                                    <kendo-dropdownlist [readonly]="isTBMLoggedIn" class="form-control" 
                                                        name="id-proof" 
                                                        [data]="idProofDocumnetType" 
                                                        textField="key"
                                                        valueField="value" 
                                                        [(ngModel)]="selectedIdProof[applicantIndex]">
                                                    </kendo-dropdownlist>
                                                </div>
                                            </div>
                                            <div class="btn-wrap">
                                                <button class="btn btn-primary" (click)="goToNextSlide(aadharSlider2)">Next</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="swiper-slide">
                                        <form class="bs-form">
                                            <div class="form-wrap">
                                                
                                                <div *ngIf="isMobile">

                                                    <div *ngIf="isMobile && idProofId[applicantIndex]" else idProof>
                                                        <div *ngIf="idProofId[applicantIndex]" class="bs-file" >
                                                            <secured-image [src]="idProofId[applicantIndex]"></secured-image>
                                                            <input [readonly]="isTBMLoggedIn" type="file" class="form-control" (change)="setIdProof($event.target.files, applicantIndex)" >
                                                            <label for="file"><span>Click photo of Id proof</span></label>
                                                            <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setIdProof')">Retake</button>
                                                        </div>
                                                    </div>


                                                    <div *ngIf="isMobile && !idProofId[applicantIndex]" #idProof>
                                                        <div *ngIf="isMobile && idProofFileName[applicantIndex]" class="bs-file">
                                                            <img [src]="idProofFileName[applicantIndex]" />
                                                            <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setIdProof')">Retake</button>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="!idProofId[applicantIndex]"  class="bs-file">
                                                        <input [readonly]="isTBMLoggedIn" type="file" class="form-control" (change)="setIdProof($event.target.files, applicantIndex)" >
                                                        <label for="file"><span>Click photo of Id proof</span></label>
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setIdProof')">open camera</button>
                                                    </div>

                                                </div>

                                                <div *ngIf="!isMobile">

                                                    <div class="bs-file">
                                                        <input [readonly]="isTBMLoggedIn" type="file" class="form-control" id="idProofId" (change)="setIdProof($event.target.files, applicantIndex)" >
                                                        <label for="idProofId"><span>Click photo of Id proof</span></label>
                                                    </div>
                                                    

                                                    <div class="doc_file_name_size" *ngIf="idProofFileName[applicantIndex]">
                                                        <div>
                                                            <span class="ellipsis" >{{idProofFileName[applicantIndex]}} </span>
                                                            <span ng-switch-when="true">({{idProofFileSize[applicantIndex]}})</span>
                                                        </div>
                                                        <!-- <div ng-show="progressVisible">
                                                            <div class="percent">{{progress}}%</div>
                                                            <div class="progress-bar">
                                                                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                                            </div>
                                                        </div> -->
                                                    </div>

                                                </div>

                                            </div>
                                            <!-- <div class="no-aadhar">
                                                <span class="text">Don't have an Aadhaar card?</span>
                                                <a class="upload-another-doc">Upload a different document <span class="icon icon-arrow"></span></a>
                                            </div> -->
                                            <div class="btn-wrap">
                                                <button class="btn btn-primary" (click)="handleIdProof(aadharSlider2)">Next</button>
                                            </div>
                                        </form>
                                    </div>
                                   <!--  <div class="swiper-slide">
                                        <form class="bs-form">
                                            <div class="form-wrap">
                                                <div class="bs-radio">
                                                    <input [readonly]="isTBMLoggedIn"  type="radio"
                                                            [value]="true"
                                                           />
                                                    <label for="individual"><span>Get OTP</span></label>
                                                </div>
                                                <div class="bs-radio">
                                                    <input [readonly]="isTBMLoggedIn"  type="radio" 
                                                            [value]="true"
                                                            (click)="showSuccessModal = true"/>
                                                    <label for="non-individual"><span>Biometric Scan</span></label>
                                                </div>
                                            </div>
                                        </form>
                                    </div> -->
                                    <!-- <div class="overlay"></div>
                                        <div class="bs-modal" [ngClass]="{'active': (activeTab == 7)}">
                                            <a href="#" class="modal-close"><span class="icon icon-close"></span></a>
                                            <div class="modal-body">
                                                <div class="verify-block">
                                                    <img src="assets/images/biomatric.png" alt="">
                                                    <h5 class="verification-text">Verify fingerprint to continue</h5>
                                                    <span class="or">or</span>
                                                    <div class="btn-wrap">
                                                        <button class="btn btn-border">get otp</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="bs-modal" id="biomatric-success-modal">
                                            <a href="#" class="modal-close"><span class="icon icon-close"></span></a>
                                            <div class="modal-body">
                                                <div class="verify-block">
                                                    <img src="assets/images/biomatric-success.png" alt="">
                                                    <h5 class="verification-text">Fingerprint verified successfully</h5>
                                                </div>
                                            </div>
                                        </div>
                                 -->
                              
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>

                  <!-- Address Proof -->

                  <div class="tab-content" [ngClass]="{'active': (activeTab == 3)}" *ngIf="!isTabDisabled">
                      <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(addressSlider2)"></a>
                      <div class="lyt-tabs">
                          <div class="lhs">
                              <div  class="swiper-container form-swiper"
                                    [swiper]="lhsConfig"
                                    #addressSlider1="ngxSwiper">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Address<span class="cm-line-break"></span>Proof</h4>
                                          </div>
                                      </div>
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Upload<span class="cm-line-break">Address Proof</span></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="rhs">
                              <div  class="swiper-container form-swiper"
                              [swiper]="rhsConfig"
                              (slidePrevTransitionStart)="slidePrevTransitionStart(addressSlider1)"
                              (slideNextTransitionStart)="slideNextTransitionStart(addressSlider1)"
                              #addressSlider2="ngxSwiper">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <form class="bs-form">
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <span class="control-title">Select a Document Type</span>
                                                <kendo-dropdownlist [readonly]="isTBMLoggedIn" class="form-control" 
                                                    name="address-proof" 
                                                    [data]="addressProofDocumnetType" 
                                                    textField="key" 
                                                    valueField="value"
                                                    [(ngModel)]="selectedAddressProof[applicantIndex]">
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="btn-wrap">
                                            <button class="btn btn-primary"
                                            (click)="goToNextSlide(addressSlider2)">Next</button>
                                        </div>
                                    </form>
                                  </div>
                                  <div class="swiper-slide">
                                      <form class="bs-form">
                                           <div class="form-wrap">

                                            <div *ngIf="isMobile">
                                              
                                                <div *ngIf="addressProofId[applicantIndex]" else addrProof>
                                                    <div *ngIf="addressProofId[applicantIndex]" class="bs-file" >
                                                            <secured-image [src]="addressProofId[applicantIndex]"></secured-image>
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setAddressProof')">Retake</button>
                                                    </div>
                                                </div>

                                                <div *ngIf="!addressProofId[applicantIndex]" #addrProof>
                                                    <div *ngIf="isMobile && addressProofFileName[applicantIndex]" class="bs-file">
                                                        <img [src]="addressProofFileName[applicantIndex]" />
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setAddressProof')">Retake</button>
                                                    </div>
                                                </div>

                                                <div *ngIf="!addressProofFileName[applicantIndex]" class="bs-file">
                                                    <input [readonly]="isTBMLoggedIn" type="file" class="form-control" (change)="setAddressProof($event.target.files)" >
                                                    <label for="file"><span>Click photo of Address Proof</span></label>
                                                    <button class="btn btn-primary" (click)="openCamera('setAddressProof')">open camera</button>
                                                </div>


                                            </div>


                                            <div *ngIf="!isMobile">

                                                <div class="bs-file">
                                                    <input [readonly]="isTBMLoggedIn" type="file" id="addressProofID" class="form-control" (change)="setAddressProof($event.target.files)" >
                                                    <label for="addressProofID"><span>Click photo of Address Proof</span></label>
                                                </div>

                                                <div class="doc_file_name_size" *ngIf="addressProofFileName[applicantIndex]">
                                                    <div>
                                                        <span class="ellipsis">{{addressProofFileName[applicantIndex]}} </span>
                                                        <span ng-switch-when="true">({{addressProofFileSize[applicantIndex]}})</span>
                                                    </div>
                                                    <!-- <div ng-show="progressVisible">
                                                        <div class="percent">{{progress}}%</div>
                                                        <div class="progress-bar">
                                                            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div>

                                          </div>
                                          <div class="btn-wrap">
                                              <button type="button" class="btn btn-primary" (click)="handleAddressProof(addressSlider2)">Next</button>
                                          </div>
                                      </form>
                                  </div>

                                </div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <!-- Income Proof -->

                  <div class="tab-content" [ngClass]="{'active': (activeTab == 4)}" *ngIf="!isTabDisabled">
                      <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(incomeSlider2)"></a>
                      <div class="lyt-tabs">
                          <div class="lhs">
                              <div  class="swiper-container form-swiper"
                                    [swiper]="lhsConfig"
                                    #incomeSlider1="ngxSwiper">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Income<span class="cm-line-break"></span>Proof</h4>
                                          </div>
                                      </div>
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Upload<span class="cm-line-break">Income Proof</span></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="rhs">
                              <div  class="swiper-container form-swiper"
                              [swiper]="rhsConfig"
                              (slidePrevTransitionStart)="slidePrevTransitionStart(incomeSlider1)"
                              (slideNextTransitionStart)="slideNextTransitionStart(incomeSlider1)"
                              #incomeSlider2="ngxSwiper">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <form class="bs-form">
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <span class="control-title">Select a Document Type</span>
                                                <kendo-dropdownlist [readonly]="isTBMLoggedIn" class="form-control" 
                                                    name="income-proof" 
                                                    [data]="incomeProofDocumnetType" 
                                                    textField="key" 
                                                    valueField="value"
                                                    [(ngModel)]="selectedIncomeProof[applicantIndex]">
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="btn-wrap">
                                            <button class="btn btn-primary"
                                            (click)="goToNextSlide(incomeSlider2)">Next</button>
                                        </div>
                                    </form>
                                  </div>
                                  <div class="swiper-slide">
                                      <form class="bs-form">
                                          <div class="form-wrap">

                                            <div *ngIf="isMobile">
                                           
                                                <div *ngIf="incomeProofId[applicantIndex]" else incomeProof>
                                                    <div *ngIf="incomeProofId[applicantIndex]" class="bs-file" >
                                                            <secured-image [src]="incomeProofId[applicantIndex]"></secured-image>
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setIncomeProof')">Retake</button>
                                                    </div>
                                                </div>

                                                <div *ngIf="!incomeProofId[applicantIndex]" #incomeProof>
                                                    <div *ngIf="isMobile && incomeProofFileName[applicantIndex]" class="bs-file">
                                                        <img [src]="incomeProofFileName[applicantIndex]" />
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setIncomeProof')">Retake</button>
                                                    </div>
                                                </div>


                                                <div *ngIf="!incomeProofFileName[applicantIndex]" class="bs-file">
                                                  <input [readonly]="isTBMLoggedIn" type="file" class="form-control" (change)="setIncomeProof($event.target.files)" >
                                                  <label for="file"><span>Click photo of Id proof</span></label>
                                                  <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setIncomeProof')">open camera</button>
                                                </div>

                                            </div>

                                            <div *ngIf="!isMobile">

                                                <div class="bs-file">
                                                    <input [readonly]="isTBMLoggedIn" type="file" class="form-control" id="incomeProofID" (change)="setIncomeProof($event.target.files)" >
                                                    <label for="incomeProofID"><span>Click photo of Id proof</span></label>
                                                </div>
          
                                                <div class="doc_file_name_size" *ngIf="incomeProofFileName[applicantIndex]">
                                                    <div>
                                                        <span class="ellipsis">{{incomeProofFileName[applicantIndex]}} </span>
                                                        <span ng-switch-when="true">({{incomeProofFileSize[applicantIndex]}})</span>
                                                    </div>
                                                    <!-- <div ng-show="progressVisible">
                                                        <div class="percent">{{progress}}%</div>
                                                        <div class="progress-bar">
                                                            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                                        </div>
                                                    </div> -->
                                                </div>

                                             </div>   

                                          </div>
                                          <div class="btn-wrap">
                                              <button type="button" class="btn btn-primary" (click)="handleIncomeProof(incomeSlider2)">Next</button>
                                          </div>
                                      </form>
                                  </div>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>


                  <!-- Banking -->

                  <div class="tab-content" [ngClass]="{'active': (activeTab == 5)}" *ngIf="!isTabDisabled">
                      <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(bankingSlider2)"></a>
                      <div class="lyt-tabs">
                          <div class="lhs">
                              <div  class="swiper-container form-swiper"
                                    [swiper]="lhsConfig"
                                    #bankingSlider1="ngxSwiper">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Banking<span class="cm-line-break"></span>Proof</h4>
                                          </div>
                                      </div>
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Upload<span class="cm-line-break">Banking Proof</span></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="rhs">
                              <div  class="swiper-container form-swiper"
                              [swiper]="rhsConfig"
                              (slidePrevTransitionStart)="slidePrevTransitionStart(bankingSlider1)"
                              (slideNextTransitionStart)="slideNextTransitionStart(bankingSlider1)"
                              #bankingSlider2="ngxSwiper">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <form class="bs-form">
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <span class="control-title">Select a Document Type</span>
                                                <kendo-dropdownlist [readonly]="isTBMLoggedIn" class="form-control" 
                                                    name="banking-proof" 
                                                    [data]="bankProofDocumnetType" 
                                                    textField="key" 
                                                    valueField="value"
                                                    [(ngModel)]="selectedBankProof[applicantIndex]">
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="btn-wrap">
                                            <button class="btn btn-primary"
                                            (click)="goToNextSlide(bankingSlider2)">Next</button>
                                        </div>
                                    </form>
                                  </div>
                                  <div class="swiper-slide">
                                      <form class="bs-form">
                                          <div class="form-wrap">

                                            <div *ngIf="isMobile">
                                                
                                                <div *ngIf="bankProofId[applicantIndex]" else bankProof>
                                                    <div *ngIf="bankProofId[applicantIndex]" class="bs-file" >
                                                            <secured-image [src]="bankProofId[applicantIndex]"></secured-image>
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setBankingProof')">Retake</button>
                                                    </div>
                                                </div>

                                                <div *ngIf="!bankProofId[applicantIndex]" #bankProof>
                                                    <div *ngIf="isMobile && bankProofFileName[applicantIndex]" class="bs-file">
                                                        <img [src]="bankProofFileName[applicantIndex]" />
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setBankingProof')">Retake</button>
                                                    </div>
                                                </div>


                                                <div *ngIf="!bankProofFileName[applicantIndex]" class="bs-file">
                                                  <input [readonly]="isTBMLoggedIn" type="file" class="form-control" (change)="setBankingProof($event.target.files)" >
                                                  <label for="file"><span>Click photo of Banking Proof</span></label>
                                                  <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setBankingProof')">open camera</button>
                                                </div>

                                            </div>

                                            <div *ngIf="!isMobile">

                                                <div class="bs-file">
                                                    <input [readonly]="isTBMLoggedIn" type="file" id="bankingProofID" class="form-control" (change)="setBankingProof($event.target.files)" >
                                                    <label for="bankingProofID"><span>Click photo of Banking Proof</span></label>
                                                </div>

                                                <div class="doc_file_name_size" *ngIf="bankProofFileName[applicantIndex]">
                                                    <div>
                                                        <span class="ellipsis">{{bankProofFileName[applicantIndex]}} </span>
                                                        <span ng-switch-when="true">({{bankProofFileSize[applicantIndex]}})</span>
                                                    </div>
                                                    <!-- <div ng-show="progressVisible">
                                                        <div class="percent">{{progress}}%</div>
                                                        <div class="progress-bar">
                                                            <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                                        </div>
                                                    </div> -->
                                                </div>

                                            </div>

                                           

                                          </div>
                                          <div class="btn-wrap">
                                              <button type="button" class="btn btn-primary" (click)="handleBankingProof(bankingSlider2)">Next</button>
                                          </div>
                                      </form>
                                  </div>
                                </div>
                              </div>
                          </div>

                      </div>
                  </div>


                  <!-- Collateral -->

                  <div class="tab-content" [ngClass]="{'active': (activeTab == 6)}" *ngIf="!isTabDisabled">
                      <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(collateralSlider2)"></a>
                      <div class="lyt-tabs">
                          <div class="lhs">
                              <div  class="swiper-container form-swiper"
                                    [swiper]="lhsConfig"
                                    #collateralSlider1="ngxSwiper">
                                  <div class="swiper-wrapper">
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Upload<span class="cm-line-break">Collateral</span></h4>
                                          </div>
                                      </div>
                                      <div class="swiper-slide">
                                          <div class="title-wrap">
                                              <h4 class="title">Upload Photo<span class="cm-line-break">of Collateral</span></h4>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="rhs">
                              <div  class="swiper-container form-swiper"
                              [swiper]="rhsConfig"
                              (slidePrevTransitionStart)="slidePrevTransitionStart(collateralSlider1)"
                              (slideNextTransitionStart)="slideNextTransitionStart(collateralSlider1)"
                              #collateralSlider2="ngxSwiper">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                    <form class="bs-form">
                                        <div class="form-wrap">
                                            <div class="form-group">
                                                <span class="control-title">Select a Document Type</span>
                                                <kendo-dropdownlist [readonly]="isTBMLoggedIn" class="form-control" 
                                                    name="collateral-proof" 
                                                    [data]="collateralProofDocumnetType" 
                                                    textField="key" 
                                                    valueField="value"
                                                    [(ngModel)]="selectedCollateralProof[applicantIndex]">
                                                </kendo-dropdownlist>
                                            </div>
                                        </div>
                                        <div class="btn-wrap">
                                            <button class="btn btn-primary"
                                            (click)="goToNextSlide(collateralSlider2)">Next</button>
                                        </div>
                                    </form>
                                  </div>
                                  <div class="swiper-slide">
                                      <form class="bs-form">
                                          <div class="form-wrap">

                                            <div *ngIf="isMobile">

                                                <div *ngIf="collateralProofId[applicantIndex]" else collateralProof>
                                                    <div *ngIf="collateralProofId[applicantIndex]" class="bs-file" >
                                                            <secured-image [src]="collateralProofId[applicantIndex]"></secured-image>
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setCollateralProof')">Retake</button>
                                                    </div>
                                                </div>


                                                <div *ngIf="!collateralProofId[applicantIndex]" #collateralProof>
                                                    <div *ngIf="!collateralProofId[applicantIndex]" class="bs-file">
                                                        <img [src]="collateralProofFileName[applicantIndex]" />
                                                        <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setCollateralProof')">Retake</button>
                                                    </div>
                                                </div>

                                                <div *ngIf="!collateralProofFileName[applicantIndex]" class="bs-file">
                                                  <input [readonly]="isTBMLoggedIn" type="file" class="form-control" (change)="setCollateralProof($event.target.files)" >
                                                  <label for="file"><span>Click photo of Collateral</span></label>
                                                  <button *ngIf="isMobile" class="btn btn-primary" (click)="openCamera('setCollateralProof')">open camera</button>
                                                </div>

                                            </div>

                                            <div *ngIf="!isMobile">

                                                <div class="bs-file">
                                                    <input [readonly]="isTBMLoggedIn" id="collateralProofID" type="file" class="form-control" (change)="setCollateralProof($event.target.files)" >
                                                    <label for="collateralProofID"><span>Click photo of Collateral</span></label>
                                                </div>


                                                <div class="doc_file_name_size" *ngIf="collateralProofFileName[applicantIndex]">
                                                        <div>
                                                            <span class="ellipsis">{{collateralProofFileName[applicantIndex]}} </span>
                                                            <span ng-switch-when="true">({{collateralProofFileSize[applicantIndex]}})</span>
                                                        </div>
                                                        <!-- <div ng-show="progressVisible">
                                                            <div class="percent">{{progress}}%</div>
                                                            <div class="progress-bar">
                                                                <div class="uploaded" ng-style="{'width': progress+'%'}"></div>
                                                            </div>
                                                        </div> -->
                                                </div>

                                            </div>

                                          </div>
                                          <div class="btn-wrap">
                                              <button type="button" class="btn btn-primary" (click)="handleCollateralProof(collateralSlider2)">Submit</button>
                                          </div>
                                      </form>
                                  </div>
                                </div>
                              </div>
                          </div>

                      </div>
                  </div>

                  </div>

          </div>
      </div>
  </div>

  <div class="overlay" [ngClass]="{'active': isDocUploadRouteModal}"></div>
  <div class="bs-modal" id="biomatric-modal" [ngClass]="{'active': isDocUploadRouteModal}">
      <!-- <a class="modal-close" href="javascript:void(0);" (click)="onBackOTP()"><span class="icon icon-close"></span></a> -->
      <div class="modal-body">
          <h1 class="center">Documents have been uploaded successfully!</h1>
          <p>Click Proceed to continue</p>
              <div class="btn-wrap">
                  <button class="btn btn-border"  [routerLink]="['/references', qde.application.applicationId]">Proceed</button>
              </div>
      </div>
  </div>
</main>

