.bs-modal .modal-body {
    padding: 0.91vw 0;
}
.bs-modal[_ngcontent-c1] .modal-body[_ngcontent-c1] {
    top: 0vw;
}
.center[_ngcontent-c2] {
    font-family: zurich-bold;
    font-size: 1.88vw;
    line-height: 3.28vw;
    color: #444;
    padding: 1.56vw 0;
    margin-top: 6vw;
}
.bs-modal p {
    margin-top: 1vw;
    font-size: 1vw
}
.center {
    text-align: center;
    margin-top: 0vw
}
.bs-modal .btn-wrap {
    display: block;
    text-align: center;
    padding: 0;
}
.btn.btn-border {
    border-radius: 3.91vw;
    color: #f58220;
    font-family: zurich-bold;
    font-size: 1.64vw;
    line-height: 2.81vw;
    text-transform: uppercase;
    padding: 0 1.56vw;
    border: 1px solid #f58220;
}
.bs-modal .modal-body .or {
    font-size: 1.41vw;
    line-height: 7.28vw;
    color: #444;
    opacity: .5;
    text-transform: uppercase;
    margin-left: 13vw;
    margin-top: 2vw;
}
.bs-modal.active {
    z-index: 12;
    opacity: 1;
    -webkit-transform: scale(1) translateY(-50%);
    transform: scale(1) translateY(-50%);
    width: 32vw;
    height: 30vw;
}
table { border-collapse: collapse; }
.percent {
    position: absolute; width: 300px; height: 14px; z-index: 1; text-align: center; font-size: 0.8em; color: white;
}
.progress-bar {
    width: 300px; height: 14px;
    border-radius: 10px;
    border: 1px solid #CCC;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6666cc), to(#4b4b95));
    border-image: initial;
}
.uploaded {
    padding: 0;
    height: 14px;
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#66cc00), to(#4b9500));
    border-image: initial;
}
.dropbox {
    width: 15em;
    height: 3em;
    border: 2px solid #DDD;
    border-radius: 8px;
    background-color: #FEFFEC;
    text-align: center;
    color: #BBB;
    font-size: 2em;
    font-family: Arial, sans-serif;
}
.dropbox span {
    margin-top: 0.9em;
    display: block;
}
.dropbox.not-available {
    background-color: #F88;
}
.dropbox.over {
    background-color: #bfb;
}

.doc_file_name_size {
    font-size: 1vw;
    line-height: 1.4vw;
    margin: 0.5vw 0;
}