<main>
  <div class="main">

    <div class="lyt-home">
      <div class="tabs">
        <ul class="tabs-head">
          <!-- <li class="tab-link pending" [ngClass]="{'active': (activeTab == 0)}">
            <a href="javascript:void(0);" (click)="tabSwitch(0)">INCOME DETAILS</a>
          </li> -->
          <li class="tab-link" [ngClass]="{'active': (activeTab == 0), 'hide': (!applicantIndividual)}">
            <a href="javascript:void(0);" (click)="tabSwitch(0)">LOAN AMOUNT</a>
          </li>
          <li class="tab-link" [ngClass]="{'active': (activeTab == 1), 'hide': (!applicantIndividual)}">
            <a href="javascript:void(0);" (click)="tabSwitch(1)">PROPERTY</a>
          </li>
          <li class="tab-link" [ngClass]="{'active': (activeTab == 2), 'hide': (!applicantIndividual)}">
            <a href="javascript:void(0);" (click)="tabSwitch(2)">EXISTING LOANS</a>
          </li>
         
        </ul>
        <div class="tabs-contents" #tabContents>
          <div class="tab-content" [ngClass]="{'active': (activeTab == 0)}">
            <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(incomeDetail1)"></a>
            <div class="lyt-tabs">
              <div class="lhs">
                <div class="title-wrap">
                  <h4 class="title">Enter desired loan <span class="cm-line-break"></span>amount & purpose</h4>
                  <p class="note">Enter the property details for which loan is being sought for</p>
                </div>
              </div>
              <div class="rhs">


                <form class="bs-form" id="personal-form"
                #loanAmount="ngForm"
                (ngSubmit)="submitLoanAmount(loanAmount)">
                  <div class="form-wrap">
                    <div class="form-group inr">
                      <input type="text" name="amountRequired" class="form-control" ngModel id="amt-require">
                      <label for="amt-require">Amount required (in lakhs)</label>
                      <span class="addon">
                        <span class="icon icon-inr"></span>
                      </span>
                      <span class="in-word"></span>
                    </div>
                    <div class="form-group">
                      <span class="control-title">Loan purpose</span>
                      <select class="js-select" ngModel name="loanPurpose">
                        <option value="1">Purchase of land</option>
                        <option value="2">option2</option>
                        <option value="3">option3</option>
                        <option value="4">option4</option>
                      </select>
                    </div>
                    <div class="form-group typ-range">
                        <span class="control-title">Loan tenure (in years)</span>
                        <input type="text" 
                        name="loanTenure"
                        class="form-control"
                        type="number"
                        [ngModel]="value[0]"
                        (ngModelChange)="valuechange($event, 0)">
                        <span class="yr-text">Years</span>
                        <ng5-slider [(value)]="value[0]" [options]="options"></ng5-slider>
                    </div>
                  </div>
                  <div class="btn-wrap">
                    <button class="btn btn-primary disabled"
                    type="submit">Next</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

          <div class="tab-content" [ngClass]="{'active': (activeTab == 1)}">
            <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick()"></a>

            <div class="lyt-tabs">
              <div class="lhs">
                <div class="swiper-container form-swiper" [swiper]="lhsConfig" #property1="ngxSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Have you identified <span class="cm-line-break"></span>the property?</h4>
                        <p class="note">Enter the property details for which loan is being sought for</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Enter the <span class="cm-line-break"></span>property address</h4>
                        <p class="note">Enter the property details for which loan is being sought for</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rhs">
                <div class="swiper-container form-swiper" [swiper]="rhsConfig"
                  (slidePrevTransitionStart)="slidePrevTransitionStart(property1)"
                  (slideNextTransitionStart)="slideNextTransitionStart(property1)" #property2="ngxSwiper">
                  <div class="swiper-wrapper">
                   
                    <div class="swiper-slide">
                      <form class="bs-form">
                        <div class="form-wrap">
                          <div class="bs-radio">
                            <input type="radio" name="propertyIdentified" id="yes-property" [value]="true"  (change)="setPropertyIdentified($event, property2)" >
                            <label for="yes-property"><span>Yes</span></label>
                          </div>
                          <div class="bs-radio">
                            <input type="radio" name="propertyIdentified" id="no-property" [value]="false" (change)="setPropertyIdentified($event, property2)">
                            <label for="no-property"><span>No</span></label>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="swiper-slide">
                      <form class="bs-form"
                      #propertyType="ngForm"
                      (ngSubmit)="updatePropertyType(propertyType, property2)">
                          <div class="form-wrap">
                              <div class="form-group">
                                  <span class="control-title">Property type</span>
                                  <select ngModel name="propertyType" class="js-select">
                                      <option value="1">Builder</option>
                                      <option value="2">Self Construction</option>
                                      <option value="3">resale</option>
                                      <option value="4">plot</option>
                                      <option value="5">row house</option>
                                      <option value="6">bunglow</option>
                                      <option value="7">flat</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <input ngModel type="text" class="form-control" id="pro-add-line1" name="propertyClss">
                                  <label for="pro-add-line1">Property CLSS area</label>
                              </div>
                              <div class="form-group">
                                  <input ngModel type="text" class="form-control" id="pro-add-line2" name="propertyArea">
                                  <label for="pro-add-line2">Property area in sq. fts.</label>
                              </div>
                          </div>
                          <div class="btn-wrap">
                              <button type="submit" class="btn btn-primary disabled">Next</button>
                          </div>
                      </form>
                  </div>
                    <div class="swiper-slide">
                      <form class="bs-form">
                        <div class="form-wrap">
                          <div class="form-group">
                            <input type="text" class="form-control" id="proprty-pin">
                            <label for="proprty-pin">Property pincode</label>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="pro-add-line1">
                            <label for="pro-add-line1">Property address line1</label>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="pro-add-line2">
                            <label for="pro-add-line2">Property address line2</label>
                          </div>
                          <div class="form-group">
                            <input type="text" class="form-control" id="pro-city2">
                            <label for="pro-city">City/State</label>
                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button class="btn btn-primary disabled">Next</button>
                        </div>
                      </form>
                    </div>
                    

                  </div>
                </div>

              </div>
            </div>

          </div>



          <div class="tab-content" [ngClass]="{'active': (activeTab == 2)}">
            <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick()"></a>
            <div class="lyt-tabs">
              <div class="lhs">
                <div class="swiper-container form-swiper " [swiper]="lhsConfig" #existingLoan1="ngxSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Select existing<span class="cm-line-break"></span>loan provider</h4>
                        <p class="note">Enter existing loan & EMI details for applicant & co-applicant both</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Enter total number <span class="cm-line-break"></span>of live loans</h4>
                        <p class="note">For applicant & all co-applicants together</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Enter total existing <span class="cm-line-break"></span>monthly EMI</h4>
                        <p class="note">For applicant & all co-applicants together</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rhs">
                <div class="swiper-container form-swiper" [swiper]="rhsConfig"
                  (slidePrevTransitionStart)="slidePrevTransitionStart(existingLoan1)"
                  (slideNextTransitionStart)="slideNextTransitionStart(existingLoan1)" #existingLoan2="ngxSwiper">
                  <div class="swiper-wrapper">

                    <div class="swiper-slide">
                      <form class="bs-form" #loanProvider="ngForm"
                      (ngSubmit)="submitExistingLoanProvider(loanProvider, existingLoan2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <span class="control-title">Loan provider</span>
                            <select ngModel name="loanProvider" class="js-select">
                              <option value="1">Loan provider</option>
                              <option value="2">SBI home loan</option>
                              <option value="3">option1</option>
                              <option value="4">option2</option>
                              <option value="5">option3</option>
                            </select>
                          </div>
                        </div>
                
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary disabled">next</button>
                        </div>
                      </form>
                    </div>

                    <div class="swiper-slide">
                      <form class="bs-form" #liveLoans="ngForm" 
                      (ngSubmit)="submitLiveLoans(liveLoans, existingLoan2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <div class="form-group typ-range">
                                <!-- <span class="control-title">Number of years in current residence</span>
                                <input type="number"
                                        name="numberOfYearsInCurrentResidence"
                                        class="form-control"
                                        [ngModel]="value[0]"
                                        (ngModelChange)="valuechange($event, 0)" /> -->
                                <ng5-slider [(value)]="value[0]" ngModel name="liveLoans" [options]="options"></ng5-slider>
                            </div>
                          </div>
                        </div>

                        
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary disabled">Next</button>
                        </div>
                      </form>
                    </div>

                    <div class="swiper-slide">
                      <form class="bs-form"
                      #monthlyEmi="ngForm"
                      (ngSubmit)="submitMonthlyEmi(monthlyEmi, existingLoan2)">
                        <div class="form-wrap">
                          <div class="form-group inr">
                            <input type="text" class="form-control" ngModel name="monthlyEmi" id="monthly-emi">
                            <label for="monthly-emi">Monthly EMI</label>
                            <span class="addon">
                              <span class="icon icon-inr"></span>
                            </span>
                            <span class="in-word"></span>
                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary disabled">Next</button>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  <span class="cm-autoSave"><span class="cm-bold">Autosaved</span> <span>at 09:26 AM</span></span>
</main>

<div class="overlay"></div>