<app-menubar-header></app-menubar-header>
<main>
  <div class="main">

    <div class="lyt-home">
      <div class="tabs">
        <ul class="tabs-head">
          <!-- <li class="tab-link pending" [ngClass]="{'active': (activeTab == 0)}">
            <a href="javascript:void(0);" (click)="tabSwitch(0)">INCOME DETAILS</a>
          </li> -->
          <li class="tab-link" [ngClass]="{'active': (activeTab == 0), 'hide': (!applicantIndividual)}">
            <a href="javascript:void(0);" (click)="tabSwitch(0)">LOAN AMOUNT</a>
          </li>
          <li class="tab-link" [ngClass]="{'active': (activeTab == 1), 'hide': (!applicantIndividual)}">
            <a href="javascript:void(0);" (click)="tabSwitch(1)">PROPERTY</a>
          </li>
          <li class="tab-link" [ngClass]="{'active': (activeTab == 2), 'hide': (!applicantIndividual)}">
            <a href="javascript:void(0);" (click)="tabSwitch(2)">EXISTING LOANS</a>
          </li>
         
        </ul>
        <div class="tabs-contents" #tabContents>
          <div class="tab-content" [ngClass]="{'active': (activeTab == 0)}">
            <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(incomeDetail1)"></a>
            <div class="lyt-tabs">
              <div class="lhs">
                <div class="swiper-slide">
                <div class="title-wrap">
                  <h4 class="title">Enter desired loan <span class="cm-line-break"></span>amount & purpose</h4>
                  <p class="note">Enter the property details for which loan is being sought for</p>
                </div>
                </div>
              </div>

              <div class="rhs">

                <div class="swiper-slide">
                <form class="bs-form" id="personal-form"
                #loanAmount="ngForm"
                (ngSubmit)="submitLoanAmount(loanAmount)">
                  <div class="form-wrap">
                    <div class="form-group inr">
                      <input [readonly]="isReadOnly" type="text" class="form-control" id="amt-require"
                        required
                        [(ngModel)]="qde?.application.loanDetails.loanAmount.amountRequired"
                        #amountRequired = "ngModel"
                        name="amountRequired"
                        fieldFill
                        pattern="{{regexPattern.amount}}">

                      <label for="amt-require">Amount required (in lakhs)</label>
                      <span class="addon">
                        <span class="icon icon-inr"></span>
                      </span>
                      <span class="in-word"></span>

                      <div *ngIf="(amountRequired.touched || amountRequired.dirty) && amountRequired.invalid" class="invalid-feedback">
                        <!-- <div *ngIf="amountRequired.errors?.required">{{errors.loanDetails.loanAmount.amount.required}}</div> -->
                        <div *ngIf="amountRequired.errors?.pattern">{{errors.loanDetails.loanAmount.amount.invalid}}</div>
                      </div>

                    </div>
                      <div class="form-group">
                        <span class="control-title">Type of loan</span>
                        <kendo-dropdownlist [readonly]="isReadOnly" 
                          class="form-control"
                          name="loanType"
                          [data]="loanType" 
                          textField="key"
                          valueField="value"
                          [valuePrimitive]="true"
                          [(ngModel)]="selectedLoanType">
                        </kendo-dropdownlist>
                      </div>
                    
                      <div class="form-group">
                        <span class="control-title">Loan purpose</span>
                        <kendo-dropdownlist [readonly]="isReadOnly" 
                          class="form-control"
                          name="loanPurpose"
                          [data]="loanpurposes" 
                          textField="key"
                          valueField="value"
                          [valuePrimitive]="true"
                          [(ngModel)]="selectedLoanPurpose">
                        </kendo-dropdownlist>
                      </div>

                    <div class="form-group typ-range">
                      <span class="control-title">Loan tenure (in years)</span>
                      <input [readonly]="isReadOnly" type="number" class="form-control" id="no-yrs"
                        required
                        ngModel
                        #loanTenure = "ngModel"
                        name="loanTenure"
			                [(ngModel)]="qde?.application.tenure"
                        (ngModelChange)="valuechange($event, 0)"
                        pattern='{{regexPattern.tenure}}'>
                      <span class="yr-text">Years</span>
                      <ng5-slider [(value)]="qde?.application.tenure" [options]="options"></ng5-slider>

                      <div *ngIf="(loanTenure.touched || loanTenure.dirty) && loanTenure.invalid" class="invalid-feedback">
                        <!-- <div *ngIf="loanTenure.errors?.required">{{errors.loanDetails.loanAmount.tenure.required}}</div> -->
                        <div *ngIf="loanTenure.errors?.pattern">{{errors.loanDetails.loanAmount.tenure.invalid}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="btn-wrap">
                    <!-- <button type="submit"  class="btn btn-primary">Next</button> -->
                    <button class="btn btn-primary"
                    [ngClass]="{'disabled': !loanAmount.valid}"
                    [disabled]="!loanAmount.valid">Next</button>
                  </div>
                </form>
                </div>
              </div>
            </div>

          </div>

          <div class="tab-content" [ngClass]="{'active': (activeTab == 1)}">
            <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(property2)"></a>

            <div class="lyt-tabs">
              <div class="lhs">
                <div class="swiper-container form-swiper" [swiper]="lhsConfig" #property1="ngxSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Have you identified <span class="cm-line-break"></span>the property?</h4>
                        <p class="note">Enter the property details for which loan is being sought for</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Enter the <span class="cm-line-break"></span>property address</h4>
                        <p class="note">Enter the property details for which loan is being sought for</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rhs">
                <div class="swiper-container form-swiper" [swiper]="rhsConfig"
                  (slidePrevTransitionStart)="slidePrevTransitionStart(property1)"
                  (slideNextTransitionStart)="slideNextTransitionStart(property1)" #property2="ngxSwiper">
                  <div class="swiper-wrapper">
                   
                    <div class="swiper-slide">
                      <form class="bs-form">
                        <div class="form-wrap">
                          <div class="bs-radio">
                            <input [readonly]="isReadOnly" type="radio" name="yes-property" [value]=true [(ngModel)]="isPropertyIdentified" (click)="goToNextSlide(property2)" >
                            <label for="yes-property"><span>Yes</span></label>
                          </div>
                          <div class="bs-radio">
                            <input [readonly]="isReadOnly" type="radio" name="no-property" [value]=false [(ngModel)]="isPropertyIdentified" (click)="goToNextSlide(property2)">
                            <label for="no-property"><span>No</span></label>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="swiper-slide">
                      <form class="bs-form"
                      #propertyType="ngForm"
                      (ngSubmit)="updatePropertyType(propertyType, property2)">
                          <div class="form-wrap">
                              <div class="form-group">
                                <span class="control-title">Property type</span>
                                <kendo-dropdownlist [readonly]="isReadOnly" 
                                  class="form-control" 
                                  name="propertyTypes1" 
                                  [data]="propertyTypes" 
                                  textField="key" 
                                  valueField="value"
                                  [valuePrimitive]="true" 
                                  [(ngModel)]="selectedPropertyType">
                                </kendo-dropdownlist>
                              </div>
                              <div class="form-group">
                                  <input [readonly]="isReadOnly" ngModel
                                  type="text"
                                  class="form-control"
                                  id="pro-add-line1" 
                                  name="propertyArea"
                                  ngModel
                                  #propertyClss="ngModel"
                                  [(ngModel)]="propertyClssValue"
                                  pattern="{{regexPattern.address}}"
                                  fieldFill
                                  required >
                                  <label for="pro-add-line1">Property CLSS area</label>
                                  <div *ngIf="(propertyClss.touched || propertyClss.dirty) && propertyClss.invalid" class="invalid-feedback">
                                    <!-- <div *ngIf="propertyClss.errors?.required">{{errors.loanDetails.property.propertyClss.required}}</div> -->
                                    <div *ngIf="propertyClss.errors?.pattern">{{errors.loanDetails.property.propertyClss.invalid}}</div>
                                  </div>
                                </div>
                              <div class="form-group">

                                  <input [readonly]="isReadOnly"
                                  type="number"
                                  class="form-control"
                                  id="pro-add-line2" 
                                  name="propertyAreaInSqFeets"
                                  #propertyArea="ngModel"
                                  [(ngModel)]="propertyAreaValue"
                                  pattern="{{regexPattern.address}}"
                                  fieldFill
                                  required/>
                                  <label for="pro-add-line2">Property area in sq. fts.</label>
                                  <div *ngIf="(propertyArea.touched || propertyArea.dirty) && propertyArea.invalid" class="invalid-feedback">
                                    <!-- <div *ngIf="propertyArea.errors?.required">{{errors.loanDetails.property.propertyArea.required}}</div> -->
                                    <div *ngIf="propertyArea.errors?.pattern">{{errors.loanDetails.property.propertyArea.invalid}}</div>
                                  </div>
                              </div>
                          </div>
                          <div class="btn-wrap">
                              <button type="submit" class="btn btn-primary "
                              [ngClass]="{'disabled': !propertyType.valid}"
                              [disabled]="!propertyType.valid">Next</button>
                          </div>
                      </form>
                  </div>
                    <div class="swiper-slide">
                      <form class="bs-form" #submitProperty="ngForm"
                      (ngSubmit)="submitPropertyDetail(submitProperty, property2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="proprty-pin"
                            required
                            ngModel
                            #propertyPincode = "ngModel"
                            [(ngModel)]="propertyPincodeValue"
                            minlength="6"
                            maxlength="6"
                            name="propertyPincode"
							              fieldFill
                            pattern='{{regexPattern.pinCode}}'
                            (change)="onPinCodeChange($event)">

                            <label for="proprty-pin">Property pincode</label>

                            <div *ngIf="(propertyPincode.touched || propertyPincode.dirty) && propertyPincode.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="propertyPincode.errors?.required">{{errors.loanDetails.property.pinCode.required}}</div> -->
                              <div *ngIf="propertyPincode.errors?.pattern">{{errors.loanDetails.property.pinCode.invalid}}</div>
                            </div>

                          </div>
                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control"
                            id="add-line1"
                            required
                            ngModel
                            #proaddressLineOne="ngModel"
                            [(ngModel)]="addressLineOneValue"
                            name="proaddressLineOne"
                            fieldFill
                            pattern='{{regexPattern.address}}'/>
                      
                            <label for="add-line1">Property address line1</label>

                            <div *ngIf="(proaddressLineOne.touched || proaddressLineOne.dirty) && proaddressLineOne.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="proaddressLineOne.errors?.required">{{errors.loanDetails.property.addressLineOne.required}}</div> -->
                              <div *ngIf="proaddressLineOne.errors?.pattern">{{errors.loanDetails.property.addressLineOne.invalid}}</div>
                            </div>
                          </div>

                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="add-line2"
                              required
                              ngModel
                              #addressLineTwo = "ngModel"
							                fieldFill
                              [(ngModel)]="addressLineTwoValue"
                              name="addressLineTwo"
                              pattern='{{regexPattern.address}}'/>

                            <label for="add-line2">Property address line2</label>

                            <div *ngIf="(addressLineTwo.touched || addressLineTwo.dirty) && addressLineTwo.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="addressLineTwo.errors?.required">{{errors.loanDetails.property.addressLineTwo.required}}</div> -->
                              <div *ngIf="addressLineTwo.errors?.pattern">{{errors.loanDetails.property.addressLineTwo.invalid}}</div>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="pro-city2"
                              required
                              ngModel
                              #cityOrState = "ngModel"
                              [(ngModel)] = "cityState"
							                fieldFill
                              name="cityOrState"
                              pattern='{{regexPattern.address}}'
                              disabled />
                            <label for="pro-city2">City/State</label>


                            <div *ngIf="(cityOrState.touched || cityOrState.dirty) && cityOrState.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="cityOrState.errors?.required">{{errors.loanDetails.property.cityOrState.required}}</div> -->
                              <div *ngIf="cityOrState.errors?.pattern">{{errors.loanDetails.property.cityOrState.invalid}}</div>
                            </div>
                          </div>
                        </div>
                        <div class="btn-wrap">
                          <!-- <button class="btn btn-primary">Next</button> -->
                          <button class="btn btn-primary"
                          [ngClass]="{'disabled': !submitProperty.valid}"
                          [disabled]="!submitProperty.valid">Next</button>
                        </div>
                      </form>
                    </div>
                    

                  </div>
                </div>

              </div>
            </div>

          </div>



          <div class="tab-content" [ngClass]="{'active': (activeTab == 2)}">
            <a href="javascript:void(0);" class="back-btn" (click)="onBackButtonClick(existingLoan2)"></a>
            <div class="lyt-tabs">
              <div class="lhs">
                <div class="swiper-container form-swiper " [swiper]="lhsConfig" #existingLoan1="ngxSwiper">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Select existing<span class="cm-line-break"></span>loan provider</h4>
                        <p class="note">Enter existing loan & EMI details for both applicant & co-applicant</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Enter total number <span class="cm-line-break"></span>of live loans</h4>
                        <p class="note">For applicant & all co-applicants together</p>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="title-wrap">
                        <h4 class="title">Enter total existing <span class="cm-line-break"></span>monthly EMI</h4>
                        <p class="note">For applicant & all co-applicants together</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="rhs">
                <div class="swiper-container form-swiper" [swiper]="rhsConfig"
                  (slidePrevTransitionStart)="slidePrevTransitionStart(existingLoan1)"
                  (slideNextTransitionStart)="slideNextTransitionStart(existingLoan1)" #existingLoan2="ngxSwiper">
                  <div class="swiper-wrapper">

                    <div class="swiper-slide">
                      <form class="bs-form" #loanProvider="ngForm"
                      (ngSubmit)="submitExistingLoanProvider(loanProvider, existingLoan2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <span class="control-title">Loan provider</span>
                            <kendo-dropdownlist [readonly]="isReadOnly" 
                              class="form-control" 
                              name="loanProvider" 
                              [data]="loanProviderList" 
                              textField="key" 
                              valueField="value"
                              [valuePrimitive]="true" 
                              [(ngModel)]="selectedLoanProvider">
                            </kendo-dropdownlist>
                          </div>
                        </div>
                
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary" 
                          [ngClass]="{'disabled': !loanProvider.valid}"
                          [disabled]="!loanProvider.valid">next</button>
                        </div>
                      </form>
                    </div>

                    <div class="swiper-slide">
                      <form class="bs-form" #liveLoans="ngForm" 
                      (ngSubmit)="submitLiveLoans(liveLoans, existingLoan2)">
                        <div class="form-wrap">
                          <div class="form-group">
                            <div class="form-group typ-range">
                                <!-- <span class="control-title">Number of years in current residence</span>
                                <input [readonly]="isReadOnly" type="number"
                                        name="numberOfYearsInCurrentResidence"
                                        class="form-control"
                                        [ngModel]="value[0]"
                                        (ngModelChange)="valuechange($event, 0)" /> -->
                                <ng5-slider [(ngModel)]="liveLoan" ngModel name="liveLoans" [options]="liveLoanOption"></ng5-slider>
                            </div>
                          </div>
                        </div>

                        
                        <div class="btn-wrap">
                          <button type="submit" class="btn btn-primary">Next</button>
                        </div>
                      </form>
                    </div>

                    <div class="swiper-slide">
                      <form class="bs-form"
                      #monthlyEmiForm="ngForm"
                      (ngSubmit)="submitMonthlyEmi(monthlyEmiForm, existingLoan2)">
                        <div class="form-wrap">
                          <div class="form-group inr">
                            <input [readonly]="isReadOnly" type="text" class="form-control" id="monthly-emi"
                              required
                              ngModel
                              #monthlyEmi = "ngModel"
                              [(ngModel)]="monthlyEmiValue"
							                fieldFill
                              name="monthlyEmi"
                              pattern='{{regexPattern.amount}}'>
                              
                            <label for="monthly-emi">Monthly EMI</label>

                            <div *ngIf="(monthlyEmi.touched || monthlyEmi.dirty) && monthlyEmi.invalid" class="invalid-feedback">
                              <!-- <div *ngIf="monthlyEmi.errors?.required">{{errors.loanDetails.existingLoans.monthlyEmi.required}}</div> -->
                              <div *ngIf="monthlyEmi.errors?.pattern">{{errors.loanDetails.existingLoans.monthlyEmi.invalid}}</div>
                            </div>

                            <span class="addon">
                              <span class="icon icon-inr"></span>
                            </span>
                            <span class="in-word"></span>
                          </div>
                        </div>
                        <div class="btn-wrap">
                          <button class="btn btn-primary"
                          [ngClass]="{'disabled': !monthlyEmi.valid}"
                          [disabled]="!monthlyEmi.valid">Save</button>
                        </div>
                      </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
  <span class="cm-autoSave"><span class="cm-bold">Autosaved</span> <span>at 09:26 AM</span></span>
</main>

<div class="overlay"></div>
