.invalid-feedback {
	font-size: .94vw;
	line-height: 1.09vw;
	font-family: zurich-bold;
    letter-spacing: .5px;
    color:red;
}.transOpacity500ms {
    -webkit-transition: all 500ms ease-out 300ms;
    -o-transition: all 500ms ease-out 300ms;
    -moz-transition: all 500ms ease-out 300ms;
    transition: all 500ms ease-out 300ms;
}

.fadeOut {
    opacity: 0;
}

.fadeIn {
    opacity: 1;
}

.typ-range {
    overflow: visible;
}
.rounded-radio .bs-radio label {
    display: block;
    background: 0 0;
    font-size: 1.09vw;
    line-height: 2.34vw;
    color: #999;
    height: auto;
    background: 0 0;
    border: 0;
    text-align: left;
    padding-left: 3.13vw;
}
.rounded-radio .bs-radio label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.34vw;
    height: 2.34vw;
    border: 1px solid #bbb;
    border-radius: 50%;
    position: absolute;
    left: -1px;
    top: 0;
}
.rounded-radio .bs-radio input[type=radio]:checked+label:after {
	content: '';
	font-family: icicihfc;
	position: absolute;
    left: 0.61vw;
    top: .65vw;
	background: #fff;
	border-radius: 50%;
	width: 1.17vw;
	height: 1.17vw;
}
.rounded-radio .bs-radio input[type=radio]:checked+label:before {
	border-color: #f58220;
	background: #f58220;
}
.rounded-radio .bs-radio input[type=radio]:checked+label {
	border-color: #f58220;
	color: #f58220;
	box-shadow: none;
}

.invalid-feedback {
	font-size: .94vw;
	line-height: 1.09vw;
	font-family: zurich-bold;
    letter-spacing: .5px;
    color:red;
}
.center[_ngcontent-c2] {
    font-family: zurich-bold;
    font-size: 1.88vw;
    line-height: 3.28vw;
    color: #444;
    padding: 1.56vw 0;
    margin-top: 6vw;
}
.bs-modal p {
    margin-top: 1vw;
    font-size: 1vw
}
.center {
    text-align: center;
    margin-top: 0vw
}
.bs-modal .btn-wrap {
    display: block;
    text-align: center;
    padding: 0;
    margin-top: 45px;
    
}
.btn.btn-border {
    border-radius: 3.91vw;
    color: #f58220;
    font-family: zurich-bold;
    font-size: 1.64vw;
    line-height: 2.81vw;
    text-transform: uppercase;
    padding: 0 1.56vw;
    border: 1px solid #f58220;
    /* margin-top: 4vw; */
    margin-left: 20px;

}
.bs-modal .modal-body .or {
    font-size: 1.41vw;
    line-height: 7.28vw;
    color: #444;
    opacity: .5;
    text-transform: uppercase;
    margin-left: 13vw;
    margin-top: 2vw;
    width: 50%
}

/* .swiper-slide {
visibility: hidden;
}

.swiper-slide.swiper-slide-active {
visibility: visible;
} */

[readonly="true"] {
	cursor: not-allowed;
	pointer-events: none;   
}

.duplicate-modal-body {
    padding: 1vw 0;
}

/* .duplicate-table {
    width: 100%;
    text-align: left;
    font-size: 1.64vw;
    outline: 1px solid #333;
    overflow: scroll;
} */
/* 
.duplicate-table tr {
    outline: 1px solid #333;
} */

#duplicate-modal {
    max-width: 50vw;
    height: 80vh;
}

.duplicate-radio {
    width: 3vw;
    height: 3vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

/* .duplicate-table td {
    vertical-align: middle;
    padding-left: 5px;
}

.duplicate-table th {
    vertical-align: middle;
    padding-left: 5px;
} */

.duplicate-btn-wrapper {
    text-align: center;
    margin-top: 15px;
}

.duplicate-btn {
    background: #004a80;
    border-radius: 3.91vw;
    color: #fff;
    font-size: .94vw;
    line-height: 2.73vw;
    text-transform: uppercase;
    padding: 0 1.56vw;
    border: 0;
    box-shadow: none;
    margin-left: 15px;
    margin-right: 15px;
}

.grey {
    background: grey;
    cursor: not-allowed;
}

.duplicate-title {
    font-family: zurich-bold;
    font-size: 2.11vw;
    line-height: 3.28vw;
    color: #004a80;
    margin-bottom: 15px;
}

.duplicate-table-heading {
    display: flex;
}

.duplicate-table-col {
    flex: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

.duplicate-table-heading .duplicate-table-col {
    font-size: 1.64vw;
}

.duplicate-table-data-wrapper {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
}

.duplicate-table-data {
    display: flex;
}

.duplicate-table-data .duplicate-table-col {
    font-size: 1.2vw;
}

.send-otp-disable {
    color: gray !important;
}

.otp_input_len{
    width: 28.55vw;
}

.pull-right{
    float: right;
}
.center[_ngcontent-c2][_ngcontent-c2] {
    font-family: zurich-bold;
    font-size: 1.22vw;
    line-height: 0.28vw;
    color: #444;
    padding: 1.56vw 0;
    margin-top: -2vw;
}

/* Product CSS */

.lyt-product {
	position: relative;
	height: calc(100vh - 4.53vw);
    /* margin-top: 4.53vw; */
    margin-top: 0;
}

.lyt-product .product-list {
	position: absolute;
	display: flex;
	align-items: stretch;
	height: 100%;
	width: 100%
}

.lyt-product .product-list .item-product {
	width: 33.33%;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	display: inherit;
	flex-direction: column;
    transition: width .4s ease;
    cursor: pointer;
}

.lyt-product .product-list .item-product.deactive {
	width: 0;
	overflow: hidden
}

.lyt-product .product-list .item-product.deactive .icon,
.lyt-product .product-list .item-product.deactive .product-title {
	opacity: 0;
	transition-delay: 0s
}

.lyt-product .product-list .item-product:not(:last-child) {
	border-right: 1px solid #fff
}

.lyt-product .product-list .item-product.typ-loan {
	background-image: url(/assets/images/home-loan-bg.jpg)
}

.lyt-product .product-list .item-product.typ-equity {
	background-image: url(/assets/images/home-equity-bg.jpg)
}

.lyt-product .product-list .item-product.typ-others {
	background-image: url(/assets/images/others-bg.jpg)
}

.lyt-product .product-list .item-product:hover .icon {
	transform: scale(1.1)
}

.lyt-product .product-list .item-product .icon {
	color: #fff;
	font-size: 7.81vw;
	transition: opacity .3s ease-out, transform .3s ease-in;
	transition-delay: .3s
}

.lyt-product .product-list .item-product .product-title {
	font-size: 3.28vw;
	line-height: 4.69vw;
	font-family: zurich-bold;
	color: #fff;
	display: block;
	transition: opacity .3s ease-out;
	transition-delay: .3s
}

.lyt-product .product-detail-list {
	width: 0;
	height: 100%;
	position: absolute;
	background: #fff;
	right: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: width .5s ease;
	overflow: hidden
}

.lyt-product .product-detail-list.active {
	width: 66.66%
}

.lyt-product .product-detail-list .product-expand {
	display: none;
	max-width: 100%;
	text-align: center
}

.lyt-product .product-detail-list .product-expand.active {
	display: block
}

.lyt-product .product-detail-list .product-expand .product-close {
	position: absolute;
	right: 2.34vw;
	top: 2.34vw;
	font-size: 2.34vw;
	color: #999
}

.lyt-product .product-detail-list .product-expand .slide-title {
	font-size: 3.28vw;
	line-height: 4.69vw;
	color: #999;
	font-family: zurich-light;
	text-align: left;
	margin-bottom: 3.91vw
}

.lyt-product .product-detail-list .product-expand .bs-form {
	display: inline-block
}

.lyt-product .product-detail-list .product-expand .bs-radio:first-of-type {
	margin-left: 0
}

.lyt-product .product-detail-list .product-expand .product-type-list .product-type {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 1.17vw 4.69vw 2.34vw;
	position: relative
}

.lyt-product .product-detail-list .product-expand .product-type-list .product-type:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background: #999
}

.lyt-product .product-detail-list .product-expand .product-type-list .product-type:first-child {
	padding-left: 0
}

.lyt-product .product-detail-list .product-expand .product-type-list .product-type:last-child {
	padding-right: 0
}

.lyt-product .product-detail-list .product-expand .product-type-list .product-type:last-child:after {
	display: none
}

.lyt-product .product-detail-list .product-expand .product-type-list .product-type .icon {
	font-size: 5.47vw;
	color: #f58220
}

.lyt-product .product-detail-list .product-expand .product-type-list .product-type .name {
	display: block;
	font-size: 1.25vw;
	line-height: 1.95vw;
	color: #999;
	font-family: zurich-bold
}



/* FOnTS */
/* 
@charset "UTF-8"; */
@font-face {
    font-family: "icicihfc";
    src: url("/assets/fonts/icicihfc.eot");
    src: url("/assets/fonts/icicihfc.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/icicihfc.woff") format("woff"), url("/assets/fonts/icicihfc.ttf") format("truetype"), url("/assets/fonts/icicihfc.svg#icicihfc") format("svg");
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
    font-family: "icicihfc" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "icicihfc" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tick:before {
    content: "\61";
}

.icon-down:before {
    content: "\62";
}

.icon-close:before {
    content: "\63";
}

.icon-inr:before {
    content: "\65";
}

.icon-angle-right:before {
    content: "\64";
}

.icon-angle-left:before {
    content: "\66";
}

.icon-back:before {
    content: "\67";
}

.icon-arrow:before {
    content: "\68";
}

.icon-doc-upload:before {
    content: "\69";
}

.icon-user:before {
    content: "\6a";
}

.icon-call:before {
    content: "\6b";
}

.icon-email:before {
    content: "\6c";
}

.icon-loaction:before {
    content: "\6d";
}

.icon-info:before {
    content: "\6e";
}

.icon-leads:before {
    content: "\6f";
}

.icon-dashboard:before {
    content: "\70";
}

.icon-performance:before {
    content: "\71";
}

.icon-train:before {
    content: "\72";
}

.icon-doc:before {
    content: "\73";
}

.icon-arrow-left:before {
    content: "\74";
}

.icon-arrow-right:before {
    content: "\75";
}

.icon-search:before {
    content: "\76";
}

.icon-notification:before {
    content: "\77";
}

.icon-home-equity:before {
    content: "\78";
}

.icon-others:before {
    content: "\79";
}

.icon-residential:before {
    content: "\7a";
}

.icon-commercial:before {
    content: "\41";
}

.icon-lease:before {
    content: "\42";
}

.icon-topup:before {
    content: "\43";
}

.icon-office:before {
    content: "\44";
}

.icon-home-improve:before {
    content: "\45";
}

.icon-securities:before {
    content: "\46";
}

.icon-home-loan:before {
    content: "\47";
}
.clss-area-list {
    box-shadow: 0 0 48.06px 5.94px rgba(0, 0, 0, .16);
    max-height: 10vw;
    font-size: 1vw;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    background-color: #fff;
    z-index: 10;
    width: 100%;
}

.clss-area-list li {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.clss-area-list li:hover,
.clss-area-list li:focus {
    background: #f58220;
    color: #fff;
}
.redalert {
    color: red;
    font-size: .94vw;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.pointerEventsNone {
    pointer-events: none;
}