<div class="selectBox form-field-el">
    <label class="controltitle">Search By User Role</label>
    <select class="form-control" (change)=changeRole($event.target.value)>
        <option  [ngValue]="null" >Choose your branch</option>
        <option *ngFor="let item of rolesList" [ngValue]="item" value={{item.roleId}} >
            {{item.roleName}}
        </option>
    </select>

</div>

<div class="list">
  <table class="table table-striped- table-bordered table-hover table-checkable">
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>User Name</th>
          <th>Email Id</th>
          <th>Mobile Number</th>
          <th>User Role</th>
          <th>Branch Name</th>
          <th>Reporting To</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of collection | paginate: { itemsPerPage: perPage, currentPage: currentPage, totalItems: totalItems  }">
          <td><a [routerLink]= "['/admin/add-user', item.Id]">{{item.userName}}</a></td>
          <td>{{item.userFirstName}}</td>
          <td>{{item.userLastName}}</td>
          <td>{{item.userName}}</td>
          <td>{{item.userMail}}</td>
          <td>{{item.mobile}}</td>
          <td>{{item.userRole}}</td>
          <td>{{item.branchName}}</td>
          <td>{{item.reportingToName}}</td>
        </tr>											
      </tbody>
    </table>
  <pagination-controls  (pageChange)="pageChanged($event)"  ></pagination-controls>

  <table class="table table-striped- table-bordered table-hover table-checkable">
    <thead><th>Activity</th></thead>
    <tbody>
      <tr *ngFor="let item of activityList">
          <td>{{item}}</td>
      </tr>
    </tbody>
  </table>
</div>